# 2019년

## 데이터 전처리

### 데이터 수집 비율
- 2019년도 제주 여행자를 대상으로 한 방문 관광객 실태조사에서 응답자 프로파일을 가져옴.
  + 응답자 프로파일의 카테고리 중 월별, 연령별 카테고리만 수집함.
- **해당 연도의 데이터 수집 대상 비율을 명시해 앞으로 다룰 데이터들이 어떤 방식으로 추출되었는지 설명함.**

In [156]:
import pandas as pd

DATA_path = '/content/drive/MyDrive/세프/DATA/'

profile_df_2019 = pd.read_excel(DATA_path + '2019년 응답자 프로파일 - 데이터 설명용.xlsx')
profile_df_2019.head()

  table Unnamed: 1 Unnamed: 2 Unnamed: 3
0   NaN        NaN        사례수          %
1  [전체]        NaN       6133        100
2    월별        01월        463        7.6
3    월별        02월        452        7.4
4    월별        03월        470        7.7

In [157]:
columns = {'table' : '분석 카테고리',
           'Unnamed: 1' : '세부 카테고리',
           'Unnamed: 2' : '사례수',
           'Unnamed: 3' : '비율(%)'}

profile_df_2019 = profile_df_2019.rename(columns = columns)
profile_df_2019

   분석 카테고리       세부 카테고리   사례수 비율(%)
0      NaN           NaN   사례수     %
1     [전체]           NaN  6133   100
2       월별           01월   463   7.6
3       월별           02월   452   7.4
4       월별           03월   470   7.7
5       월별           04월   524   8.5
6       월별           05월   532   8.7
7       월별           06월   523   8.5
8       월별           07월   524   8.5
9       월별           08월   562   9.2
10      월별           09월   467   7.6
11      월별           10월   567   9.3
12      월별           11월   533   8.7
13      월별           12월   516   8.4
14     거주지         서울특별시  1422  23.2
15     거주지         부산광역시   576   9.4
16     거주지         대구광역시   369     6
17     거주지         인천광역시   390   6.4
18     거주지         광주광역시   168   2.7
19     거주지         대전광역시   184     3
20     거주지         울산광역시   187     3
21     거주지         세종자치시    76   1.2
22     거주지           경기도  1494  24.4
23     거주지           강원도    53   0.9
24     거주지           충청도   289   4.7
25     거주지           전라도   553     9
26     거주지           경상도   357   5.8
27     거주지  해외거주 등 기타 지역    16   0.3
28      성별            남자  2400  39.1
29      성별            여자  3733  60.9
30      연령     15세 - 20세    70   1.1
31      연령     21세 - 30세  1376  22.4
32      연령     31세 - 40세  1503  24.5
33      연령     41세 - 50세  1352    22
34      연령     51세 - 60세  1469  23.9
35      연령        61세 이상   364   5.9
36    방문목적     휴가 및 순수여행  5845  95.3
37    방문목적        비즈니스여행   194   3.2
38    방문목적          기타여행    94   1.5
39    여행형태          개별여행  5909  96.3
40    여행형태         패키지여행   203   3.3
41    여행형태       부분패키지여행    21   0.3
42    방문횟수            1회  1863  30.4
43    방문횟수            2회  2546  41.5
44    방문횟수            3회   830  13.5
45    방문횟수         4회 이상   894  14.6

In [158]:
profile_df_2019 = profile_df_2019.drop(index = [0, 1]).reset_index(drop=True)
profile_df_2019

   분석 카테고리       세부 카테고리   사례수 비율(%)
0       월별           01월   463   7.6
1       월별           02월   452   7.4
2       월별           03월   470   7.7
3       월별           04월   524   8.5
4       월별           05월   532   8.7
5       월별           06월   523   8.5
6       월별           07월   524   8.5
7       월별           08월   562   9.2
8       월별           09월   467   7.6
9       월별           10월   567   9.3
10      월별           11월   533   8.7
11      월별           12월   516   8.4
12     거주지         서울특별시  1422  23.2
13     거주지         부산광역시   576   9.4
14     거주지         대구광역시   369     6
15     거주지         인천광역시   390   6.4
16     거주지         광주광역시   168   2.7
17     거주지         대전광역시   184     3
18     거주지         울산광역시   187     3
19     거주지         세종자치시    76   1.2
20     거주지           경기도  1494  24.4
21     거주지           강원도    53   0.9
22     거주지           충청도   289   4.7
23     거주지           전라도   553     9
24     거주지           경상도   357   5.8
25     거주지  해외거주 등 기타 지역    16   0.3
26      성별            남자  2400  39.1
27      성별            여자  3733  60.9
28      연령     15세 - 20세    70   1.1
29      연령     21세 - 30세  1376  22.4
30      연령     31세 - 40세  1503  24.5
31      연령     41세 - 50세  1352    22
32      연령     51세 - 60세  1469  23.9
33      연령        61세 이상   364   5.9
34    방문목적     휴가 및 순수여행  5845  95.3
35    방문목적        비즈니스여행   194   3.2
36    방문목적          기타여행    94   1.5
37    여행형태          개별여행  5909  96.3
38    여행형태         패키지여행   203   3.3
39    여행형태       부분패키지여행    21   0.3
40    방문횟수            1회  1863  30.4
41    방문횟수            2회  2546  41.5
42    방문횟수            3회   830  13.5
43    방문횟수         4회 이상   894  14.6

- 전처리가 완료된 응답자 프로파일.
  + 월별로 나눠진 사례들의 비율이 모두 비슷하게 퍼져있음을 확인할 수 있다.

In [159]:
profile_df_2019 = profile_df_2019.drop(index=range(12, 44)).reset_index(drop=True)

profile_df_2019

   분석 카테고리 세부 카테고리  사례수 비율(%)
0       월별     01월  463   7.6
1       월별     02월  452   7.4
2       월별     03월  470   7.7
3       월별     04월  524   8.5
4       월별     05월  532   8.7
5       월별     06월  523   8.5
6       월별     07월  524   8.5
7       월별     08월  562   9.2
8       월별     09월  467   7.6
9       월별     10월  567   9.3
10      월별     11월  533   8.7
11      월별     12월  516   8.4

### 1인당 지출 경비 전처리
- 1인당 지출 경비에 대한 카테고리 : 전체 부분, 숙박 부분, 식음료 부분, 항공/선박 부분, 관광/문화 지출 부분
- **1인당 지출 경비 부분이 지출 기준인원 항목의 하위 항목으로 분류되어 있어 응답자 프로파일처럼 해당 데이터의 비율을 명시함.**

In [160]:
expenditure_standard_2019 = pd.read_excel(DATA_path + '2019년 지출 기준인원 - 1인당 지출 경비에 대한 상위 항목.xlsx')
expenditure_standard_2019

,table,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,사례수,1명,2명,3명,4명,5명,6명,7명,8명,9명,10명,11명 이상,[평균]
1,[전체],NaN,6133,8.4,31,13.7,21,6,6,3.1,4.1,1.6,1.7,3.5,3.96
2,월별,01월,463,4.7,30.6,15,23.6,6.8,7.6,1.8,2.6,0.2,1.9,5.3,4.13
3,월별,02월,452,3.5,22.8,13.6,23.2,9.8,7.5,5.3,6,3.8,1.4,3.1,4.53
4,월별,03월,470,6.3,41.3,13.7,20.1,6.4,3.8,1.7,3.5,1,0.8,1.4,3.51
5,월별,04월,524,4.2,18.3,17.1,22,7.5,9.2,3.4,8.5,2.5,3,4.4,4.76
6,월별,05월,532,4.1,26.8,12.5,21.4,8.2,8.2,3.5,5.4,2.2,2.1,5.6,4.51
7,월별,06월,523,5.7,27.3,14,19.8,5.6,7.9,4.3,4.8,3.5,2.7,4.6,4.4
8,월별,07월,524,6.8,33.1,14.6,22,4.6,5.7,3.2,3.2,0.9,1.5,4.3,3.95
9,월별,08월,562,4.6,39.7,16.4,22.9,6.1,3.7,3.2,0.9,1.2,0.3,1,3.34
10,월별,09월,467,18.5,37,15.7,15.7,3.9,2,1.4,1.4,1.4,0.7,2.4,3.19
11,월별,10월,567,14.9,27,9.7,21.1,4.4,6.1,4.1,7.1,0,1.7,4,3.96
12,월별,11월,533,14.7,34.4,10.5,22.6,4.4,3.6,2.8,1.6,1.7,2.1,1.7,3.39
13,월별,12월,516,12.5,33.8,11.9,17.1,5.2,6.8,1.9,3.5,1.5,1.9,4,3.85
14,거주지,서울특별시,1422,9.5,33.3,14.6,20,6.2,4.9,3.2,3.5,1,1.2,2.6,3.67
15,거주지,부산광역시,576,6.4,30.4,10.4,26.9,6.4,6.3,2.9,3.9,1.2,1.6,3.7,4.02
16,거주지,대구광역시,369,6.4,29.5,17.6,19.8,4.9,5.7,2.9,6.2,1.6,2.3,3.1,4.06
17,거주지,인천광역시,390,7.6,28.7,17.2,24.2,4,7.9,2.1,3.4,0.9,1.8,2.2,3.74
18,거주지,광주광역시,168,11.5,27.5,8.8,16.3,10,8.9,3.6,2.8,4.9,3.7,1.9,4.21
19,거주지,대전광역시,184,10.2,32,10.9,18.5,6.3,4.4,2.6,7.7,0.8,2,4.7,4.17
20,거주지,울산광역시,187,1.2,25.9,7.9,26.8,8.6,12,4.7,4.9,0.6,1.4,6,4.72
21,거주지,세종자치시,76,6.5,29,10.9,21.3,3,14.2,1.5,6.3,3.1,0.5,3.7,4.27
22,거주지,경기도,1494,7.7,34.6,17,21.2,4.5,5.3,2.2,2.2,1.6,0.7,3,3.6
23,거주지,강원도,53,8.5,36.8,2.4,25.9,6.5,8.5,2.4,2.1,4.7,0,2.3,3.9
24,거주지,충청도,289,16.9,25.5,10.1,13.2,6.6,4.3,3.2,6.8,2.8,3.9,6.7,4.35
25,거주지,전라도,553,8,29,8.1,18.3,7.8,7.3,4.2,6.2,2.6,3.1,5.5,4.7
26,거주지,경상도,357,8.2,22,14.8,22.8,8.3,4.8,4.5,5.4,2.4,2.9,3.8,4.52
27,거주지,해외거주 등 기타 지역,16,15.5,32.2,1.2,6.6,15.1,7.3,15.5,6.6,0,0,0,3.9
28,성별,남자,2400,10.6,30.7,11.1,21.7,5.7,5.6,3.1,4.1,1.3,2,4,3.99
29,성별,여자,3733,7,31.1,15.3,20.5,6.3,6.3,3,4,1.8,1.5,3.2,3.94
30,연령,15세 - 20세,70,31.3,21,6.8,26.9,6.6,1.8,0,0,1.8,0,3.7,3.29
31,연령,21세 - 30세,1376,6.2,62,14.1,11.3,2.7,1.6,0.4,0.9,0.4,0.1,0.3,2.59
32,연령,31세 - 40세,1503,7.6,29.8,22.2,21.1,6,3.9,2.9,2.1,0.9,0.7,2.8,3.59
33,연령,41세 - 50세,1352,7.5,13.5,11.6,30.8,7.1,9.5,5.1,5.3,2.5,2.8,4.5,4.71
34,연령,51세 - 60세,1469,9.6,18.2,8.8,23.1,8.2,8.7,4.5,7.7,2.2,2.8,6.2,4.93
35,연령,61세 이상,364,14.2,36.7,5.7,10.8,5.9,8.2,1.4,5.7,4,3.8,3.6,4.07
36,방문목적,휴가 및 순수여행,5845,6.4,31.4,13.8,21.7,6.2,6.2,3.2,4.2,1.7,1.7,3.5,4.03
37,방문목적,비즈니스여행,194,46.4,19.7,12.4,7.7,2.5,2.5,0,2.9,0,1.3,4.6,2.87
38,방문목적,기타여행,94,54.4,25.9,7.9,5.4,1.2,2.5,2.3,0,0,0,0.3,2.04
39,여행형태,개별여행,5909,5.5,32,14.2,21.7,6.2,6.2,3.2,4.1,1.7,1.8,3.4,4.02
40,여행형태,패키지여행,203,88.7,2.5,0,1.2,0.1,1.2,0,1.2,0,0,5.1,2.19
41,여행형태,부분패키지여행,21,45.2,21.4,5.1,10.4,5.6,0,0,11.2,0,0,1.1,3.82
42,방문횟수,1회,1863,7.7,29.9,13.8,20.4,6.4,7.2,3.2,4.5,1.7,2.1,3.2,4.03
43,방문횟수,2회,2546,4.9,31.7,15,21.7,6.5,5.8,3,4,1.7,1.4,4.2,4.05
44,방문횟수,3회,830,10,31,11.9,22.2,5.5,5.4,4.9,3,1.6,1.7,2.9,3.95
45,방문횟수,4회 이상,894,18.3,31,11.4,19,4.6,4.5,1.1,4.2,1.6,1.8,2.5,3.58
46,♠BASE : 전체,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [161]:
columns = {'table' : '분석 카테고리',
           'Unnamed: 1' : '세부 카테고리',
           'Unnamed: 2' : '사례수',
           'Unnamed: 3' : '1명',
           'Unnamed: 4' : '2명',
           'Unnamed: 5' : '3명',
           'Unnamed: 6' : '4명',
           'Unnamed: 7' : '5명',
           'Unnamed: 8' : '6명',
           'Unnamed: 9' : '7명',
           'Unnamed: 10' : '8명',
           'Unnamed: 11' : '9명',
           'Unnamed: 12' : '10명',
           'Unnamed: 13' : '11명 이상',
           'Unnamed: 14' : '평균'}

expenditure_standard_2019 = expenditure_standard_2019.rename(columns = columns)
expenditure_standard_2019

,분석 카테고리,세부 카테고리,사례수,1명,2명,3명,4명,5명,6명,7명,8명,9명,10명,11명 이상,평균
0,NaN,NaN,사례수,1명,2명,3명,4명,5명,6명,7명,8명,9명,10명,11명 이상,[평균]
1,[전체],NaN,6133,8.4,31,13.7,21,6,6,3.1,4.1,1.6,1.7,3.5,3.96
2,월별,01월,463,4.7,30.6,15,23.6,6.8,7.6,1.8,2.6,0.2,1.9,5.3,4.13
3,월별,02월,452,3.5,22.8,13.6,23.2,9.8,7.5,5.3,6,3.8,1.4,3.1,4.53
4,월별,03월,470,6.3,41.3,13.7,20.1,6.4,3.8,1.7,3.5,1,0.8,1.4,3.51
5,월별,04월,524,4.2,18.3,17.1,22,7.5,9.2,3.4,8.5,2.5,3,4.4,4.76
6,월별,05월,532,4.1,26.8,12.5,21.4,8.2,8.2,3.5,5.4,2.2,2.1,5.6,4.51
7,월별,06월,523,5.7,27.3,14,19.8,5.6,7.9,4.3,4.8,3.5,2.7,4.6,4.4
8,월별,07월,524,6.8,33.1,14.6,22,4.6,5.7,3.2,3.2,0.9,1.5,4.3,3.95
9,월별,08월,562,4.6,39.7,16.4,22.9,6.1,3.7,3.2,0.9,1.2,0.3,1,3.34
10,월별,09월,467,18.5,37,15.7,15.7,3.9,2,1.4,1.4,1.4,0.7,2.4,3.19
11,월별,10월,567,14.9,27,9.7,21.1,4.4,6.1,4.1,7.1,0,1.7,4,3.96
12,월별,11월,533,14.7,34.4,10.5,22.6,4.4,3.6,2.8,1.6,1.7,2.1,1.7,3.39
13,월별,12월,516,12.5,33.8,11.9,17.1,5.2,6.8,1.9,3.5,1.5,1.9,4,3.85
14,거주지,서울특별시,1422,9.5,33.3,14.6,20,6.2,4.9,3.2,3.5,1,1.2,2.6,3.67
15,거주지,부산광역시,576,6.4,30.4,10.4,26.9,6.4,6.3,2.9,3.9,1.2,1.6,3.7,4.02
16,거주지,대구광역시,369,6.4,29.5,17.6,19.8,4.9,5.7,2.9,6.2,1.6,2.3,3.1,4.06
17,거주지,인천광역시,390,7.6,28.7,17.2,24.2,4,7.9,2.1,3.4,0.9,1.8,2.2,3.74
18,거주지,광주광역시,168,11.5,27.5,8.8,16.3,10,8.9,3.6,2.8,4.9,3.7,1.9,4.21
19,거주지,대전광역시,184,10.2,32,10.9,18.5,6.3,4.4,2.6,7.7,0.8,2,4.7,4.17
20,거주지,울산광역시,187,1.2,25.9,7.9,26.8,8.6,12,4.7,4.9,0.6,1.4,6,4.72
21,거주지,세종자치시,76,6.5,29,10.9,21.3,3,14.2,1.5,6.3,3.1,0.5,3.7,4.27
22,거주지,경기도,1494,7.7,34.6,17,21.2,4.5,5.3,2.2,2.2,1.6,0.7,3,3.6
23,거주지,강원도,53,8.5,36.8,2.4,25.9,6.5,8.5,2.4,2.1,4.7,0,2.3,3.9
24,거주지,충청도,289,16.9,25.5,10.1,13.2,6.6,4.3,3.2,6.8,2.8,3.9,6.7,4.35
25,거주지,전라도,553,8,29,8.1,18.3,7.8,7.3,4.2,6.2,2.6,3.1,5.5,4.7
26,거주지,경상도,357,8.2,22,14.8,22.8,8.3,4.8,4.5,5.4,2.4,2.9,3.8,4.52
27,거주지,해외거주 등 기타 지역,16,15.5,32.2,1.2,6.6,15.1,7.3,15.5,6.6,0,0,0,3.9
28,성별,남자,2400,10.6,30.7,11.1,21.7,5.7,5.6,3.1,4.1,1.3,2,4,3.99
29,성별,여자,3733,7,31.1,15.3,20.5,6.3,6.3,3,4,1.8,1.5,3.2,3.94
30,연령,15세 - 20세,70,31.3,21,6.8,26.9,6.6,1.8,0,0,1.8,0,3.7,3.29
31,연령,21세 - 30세,1376,6.2,62,14.1,11.3,2.7,1.6,0.4,0.9,0.4,0.1,0.3,2.59
32,연령,31세 - 40세,1503,7.6,29.8,22.2,21.1,6,3.9,2.9,2.1,0.9,0.7,2.8,3.59
33,연령,41세 - 50세,1352,7.5,13.5,11.6,30.8,7.1,9.5,5.1,5.3,2.5,2.8,4.5,4.71
34,연령,51세 - 60세,1469,9.6,18.2,8.8,23.1,8.2,8.7,4.5,7.7,2.2,2.8,6.2,4.93
35,연령,61세 이상,364,14.2,36.7,5.7,10.8,5.9,8.2,1.4,5.7,4,3.8,3.6,4.07
36,방문목적,휴가 및 순수여행,5845,6.4,31.4,13.8,21.7,6.2,6.2,3.2,4.2,1.7,1.7,3.5,4.03
37,방문목적,비즈니스여행,194,46.4,19.7,12.4,7.7,2.5,2.5,0,2.9,0,1.3,4.6,2.87
38,방문목적,기타여행,94,54.4,25.9,7.9,5.4,1.2,2.5,2.3,0,0,0,0.3,2.04
39,여행형태,개별여행,5909,5.5,32,14.2,21.7,6.2,6.2,3.2,4.1,1.7,1.8,3.4,4.02
40,여행형태,패키지여행,203,88.7,2.5,0,1.2,0.1,1.2,0,1.2,0,0,5.1,2.19
41,여행형태,부분패키지여행,21,45.2,21.4,5.1,10.4,5.6,0,0,11.2,0,0,1.1,3.82
42,방문횟수,1회,1863,7.7,29.9,13.8,20.4,6.4,7.2,3.2,4.5,1.7,2.1,3.2,4.03
43,방문횟수,2회,2546,4.9,31.7,15,21.7,6.5,5.8,3,4,1.7,1.4,4.2,4.05
44,방문횟수,3회,830,10,31,11.9,22.2,5.5,5.4,4.9,3,1.6,1.7,2.9,3.95
45,방문횟수,4회 이상,894,18.3,31,11.4,19,4.6,4.5,1.1,4.2,1.6,1.8,2.5,3.58
46,♠BASE : 전체,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [162]:
expenditure_standard_2019 = expenditure_standard_2019.drop(index = [0, 1]).reset_index(drop=True)

expenditure_standard_2019

,분석 카테고리,세부 카테고리,사례수,1명,2명,3명,4명,5명,6명,7명,8명,9명,10명,11명 이상,평균
0,월별,01월,463,4.7,30.6,15,23.6,6.8,7.6,1.8,2.6,0.2,1.9,5.3,4.13
1,월별,02월,452,3.5,22.8,13.6,23.2,9.8,7.5,5.3,6,3.8,1.4,3.1,4.53
2,월별,03월,470,6.3,41.3,13.7,20.1,6.4,3.8,1.7,3.5,1,0.8,1.4,3.51
3,월별,04월,524,4.2,18.3,17.1,22,7.5,9.2,3.4,8.5,2.5,3,4.4,4.76
4,월별,05월,532,4.1,26.8,12.5,21.4,8.2,8.2,3.5,5.4,2.2,2.1,5.6,4.51
5,월별,06월,523,5.7,27.3,14,19.8,5.6,7.9,4.3,4.8,3.5,2.7,4.6,4.4
6,월별,07월,524,6.8,33.1,14.6,22,4.6,5.7,3.2,3.2,0.9,1.5,4.3,3.95
7,월별,08월,562,4.6,39.7,16.4,22.9,6.1,3.7,3.2,0.9,1.2,0.3,1,3.34
8,월별,09월,467,18.5,37,15.7,15.7,3.9,2,1.4,1.4,1.4,0.7,2.4,3.19
9,월별,10월,567,14.9,27,9.7,21.1,4.4,6.1,4.1,7.1,0,1.7,4,3.96
10,월별,11월,533,14.7,34.4,10.5,22.6,4.4,3.6,2.8,1.6,1.7,2.1,1.7,3.39
11,월별,12월,516,12.5,33.8,11.9,17.1,5.2,6.8,1.9,3.5,1.5,1.9,4,3.85
12,거주지,서울특별시,1422,9.5,33.3,14.6,20,6.2,4.9,3.2,3.5,1,1.2,2.6,3.67
13,거주지,부산광역시,576,6.4,30.4,10.4,26.9,6.4,6.3,2.9,3.9,1.2,1.6,3.7,4.02
14,거주지,대구광역시,369,6.4,29.5,17.6,19.8,4.9,5.7,2.9,6.2,1.6,2.3,3.1,4.06
15,거주지,인천광역시,390,7.6,28.7,17.2,24.2,4,7.9,2.1,3.4,0.9,1.8,2.2,3.74
16,거주지,광주광역시,168,11.5,27.5,8.8,16.3,10,8.9,3.6,2.8,4.9,3.7,1.9,4.21
17,거주지,대전광역시,184,10.2,32,10.9,18.5,6.3,4.4,2.6,7.7,0.8,2,4.7,4.17
18,거주지,울산광역시,187,1.2,25.9,7.9,26.8,8.6,12,4.7,4.9,0.6,1.4,6,4.72
19,거주지,세종자치시,76,6.5,29,10.9,21.3,3,14.2,1.5,6.3,3.1,0.5,3.7,4.27
20,거주지,경기도,1494,7.7,34.6,17,21.2,4.5,5.3,2.2,2.2,1.6,0.7,3,3.6
21,거주지,강원도,53,8.5,36.8,2.4,25.9,6.5,8.5,2.4,2.1,4.7,0,2.3,3.9
22,거주지,충청도,289,16.9,25.5,10.1,13.2,6.6,4.3,3.2,6.8,2.8,3.9,6.7,4.35
23,거주지,전라도,553,8,29,8.1,18.3,7.8,7.3,4.2,6.2,2.6,3.1,5.5,4.7
24,거주지,경상도,357,8.2,22,14.8,22.8,8.3,4.8,4.5,5.4,2.4,2.9,3.8,4.52
25,거주지,해외거주 등 기타 지역,16,15.5,32.2,1.2,6.6,15.1,7.3,15.5,6.6,0,0,0,3.9
26,성별,남자,2400,10.6,30.7,11.1,21.7,5.7,5.6,3.1,4.1,1.3,2,4,3.99
27,성별,여자,3733,7,31.1,15.3,20.5,6.3,6.3,3,4,1.8,1.5,3.2,3.94
28,연령,15세 - 20세,70,31.3,21,6.8,26.9,6.6,1.8,0,0,1.8,0,3.7,3.29
29,연령,21세 - 30세,1376,6.2,62,14.1,11.3,2.7,1.6,0.4,0.9,0.4,0.1,0.3,2.59
30,연령,31세 - 40세,1503,7.6,29.8,22.2,21.1,6,3.9,2.9,2.1,0.9,0.7,2.8,3.59
31,연령,41세 - 50세,1352,7.5,13.5,11.6,30.8,7.1,9.5,5.1,5.3,2.5,2.8,4.5,4.71
32,연령,51세 - 60세,1469,9.6,18.2,8.8,23.1,8.2,8.7,4.5,7.7,2.2,2.8,6.2,4.93
33,연령,61세 이상,364,14.2,36.7,5.7,10.8,5.9,8.2,1.4,5.7,4,3.8,3.6,4.07
34,방문목적,휴가 및 순수여행,5845,6.4,31.4,13.8,21.7,6.2,6.2,3.2,4.2,1.7,1.7,3.5,4.03
35,방문목적,비즈니스여행,194,46.4,19.7,12.4,7.7,2.5,2.5,0,2.9,0,1.3,4.6,2.87
36,방문목적,기타여행,94,54.4,25.9,7.9,5.4,1.2,2.5,2.3,0,0,0,0.3,2.04
37,여행형태,개별여행,5909,5.5,32,14.2,21.7,6.2,6.2,3.2,4.1,1.7,1.8,3.4,4.02
38,여행형태,패키지여행,203,88.7,2.5,0,1.2,0.1,1.2,0,1.2,0,0,5.1,2.19
39,여행형태,부분패키지여행,21,45.2,21.4,5.1,10.4,5.6,0,0,11.2,0,0,1.1,3.82
40,방문횟수,1회,1863,7.7,29.9,13.8,20.4,6.4,7.2,3.2,4.5,1.7,2.1,3.2,4.03
41,방문횟수,2회,2546,4.9,31.7,15,21.7,6.5,5.8,3,4,1.7,1.4,4.2,4.05
42,방문횟수,3회,830,10,31,11.9,22.2,5.5,5.4,4.9,3,1.6,1.7,2.9,3.95
43,방문횟수,4회 이상,894,18.3,31,11.4,19,4.6,4.5,1.1,4.2,1.6,1.8,2.5,3.58
44,♠BASE : 전체,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- 전처리가 완료된 지출 기준인원.
  + 2명의 비율이 가장 높고 9, 10명의 비율이 거의 없는 수치에 가까운 결과를 보인다.

In [163]:
expenditure_standard_2019 = expenditure_standard_2019.drop(index = range(12, 45)).reset_index(drop=True)

expenditure_standard_2019

,분석 카테고리,세부 카테고리,사례수,1명,2명,3명,4명,5명,6명,7명,8명,9명,10명,11명 이상,평균
0,월별,01월,463,4.7,30.6,15,23.6,6.8,7.6,1.8,2.6,0.2,1.9,5.3,4.13
1,월별,02월,452,3.5,22.8,13.6,23.2,9.8,7.5,5.3,6,3.8,1.4,3.1,4.53
2,월별,03월,470,6.3,41.3,13.7,20.1,6.4,3.8,1.7,3.5,1,0.8,1.4,3.51
3,월별,04월,524,4.2,18.3,17.1,22,7.5,9.2,3.4,8.5,2.5,3,4.4,4.76
4,월별,05월,532,4.1,26.8,12.5,21.4,8.2,8.2,3.5,5.4,2.2,2.1,5.6,4.51
5,월별,06월,523,5.7,27.3,14,19.8,5.6,7.9,4.3,4.8,3.5,2.7,4.6,4.4
6,월별,07월,524,6.8,33.1,14.6,22,4.6,5.7,3.2,3.2,0.9,1.5,4.3,3.95
7,월별,08월,562,4.6,39.7,16.4,22.9,6.1,3.7,3.2,0.9,1.2,0.3,1,3.34
8,월별,09월,467,18.5,37,15.7,15.7,3.9,2,1.4,1.4,1.4,0.7,2.4,3.19
9,월별,10월,567,14.9,27,9.7,21.1,4.4,6.1,4.1,7.1,0,1.7,4,3.96
10,월별,11월,533,14.7,34.4,10.5,22.6,4.4,3.6,2.8,1.6,1.7,2.1,1.7,3.39
11,월별,12월,516,12.5,33.8,11.9,17.1,5.2,6.8,1.9,3.5,1.5,1.9,4,3.85

#### 1인당 지출 경비 - 전체 비용
- 해당 파일에 대한 전처리

In [164]:
total_cost_2019 = pd.read_excel(DATA_path + '2019년 1인당 지출경비 - 개별 전체.xlsx')
total_cost_2019

,table,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,사례수,10만원 미만,10만원 이상-30만원 미만,30만원 이상-50만원 미만,50만원 이상-100만원 미만,100만원 이상-150만원 미만,150만원 이상,[평균]
1,[전체],NaN,5909,0,14.8,55.7,26.7,2.3,0.5,463530.97
2,월별,01월,459,0,28,54.5,16.2,0.6,0.6,398538.07
3,월별,02월,447,0,9.6,55.4,33.4,1.1,0.6,487232.82
4,월별,03월,464,0,25.4,51.3,20.2,2.5,0.6,445378.82
5,월별,04월,508,0,16.1,66,16.1,1.3,0.4,422618.93
6,월별,05월,523,0,8.9,56.2,31.9,2.7,0.2,487010.1
7,월별,06월,505,0,7.1,56.6,33.2,3.1,0,478963.07
8,월별,07월,501,0,13,56,28.8,2,0.3,465747.87
9,월별,08월,552,0,9.9,50,36.8,2.7,0.6,511081.46
10,월별,09월,434,0.2,23.8,48.4,24.2,2.4,0.9,446911.82
11,월별,10월,522,0,12,56.5,28.3,2.6,0.6,475645.81
12,월별,11월,504,0,15.8,57.8,22.5,3.6,0.3,458333.05
13,월별,12월,490,0.3,10.9,58.5,26.7,3.1,0.5,472795.14
14,거주지,서울특별시,1386,0,15.8,52.9,28.4,2.7,0.3,469231.65
15,거주지,부산광역시,565,0,9.2,54.3,32.5,3,1.1,502689.53
16,거주지,대구광역시,363,0,11.4,59.3,28.6,0.7,0.1,442913.5
17,거주지,인천광역시,378,0,18.4,60.9,18.7,2,0.1,425577.46
18,거주지,광주광역시,159,0,16.1,46.9,29.6,6.8,0.7,520481.55
19,거주지,대전광역시,173,0,16,56.3,25.3,2.1,0.3,456699.07
20,거주지,울산광역시,182,0,9.4,61.6,24,4.8,0.2,480234.69
21,거주지,세종자치시,72,0,9.5,55.7,33.1,1.7,0,465859.74
22,거주지,경기도,1452,0.1,16.6,57.2,24.2,1.3,0.7,448696.91
23,거주지,강원도,49,0,6.8,54.8,28.9,7,2.6,577273.36
24,거주지,충청도,248,0,11.6,53.9,31,3,0.5,479300.54
25,거주지,전라도,522,0,17.4,56.5,23.4,2.5,0.2,442298.75
26,거주지,경상도,343,0.4,13.7,55.7,27.9,1.7,0.6,470055.73
27,거주지,해외거주 등 기타 지역,15,0,16.8,24,49.5,8.4,1.3,566239.04
28,성별,남자,2305,0.1,16.2,50.5,29.5,3.2,0.5,480890.98
29,성별,여자,3604,0,13.8,59,24.9,1.7,0.4,452428.71
30,연령,15세 - 20세,49,0,13.2,57.3,29.5,0,0,447993.61
31,연령,21세 - 30세,1371,0.1,19.5,61.9,17.6,0.8,0.1,410131.26
32,연령,31세 - 40세,1478,0,15.6,54.2,27.5,2.2,0.6,461050.31
33,연령,41세 - 50세,1314,0,13.3,59.1,24.9,2.3,0.4,463837.02
34,연령,51세 - 60세,1375,0.1,10.4,51.4,33.3,4.1,0.8,511537.45
35,연령,61세 이상,323,0,15.6,40.1,41.2,2.6,0.5,498257.07
36,방문목적,휴가 및 순수여행,5659,0,14.1,56.3,26.8,2.3,0.4,463592.25
37,방문목적,비즈니스여행,167,0,31.6,43.8,19.8,3.6,1.2,451789.91
38,방문목적,기타여행,84,0,23.9,38.6,34,2.8,0.7,482793.89
39,여행형태,개별여행,5909,0,14.8,55.7,26.7,2.3,0.5,463530.97
40,방문횟수,1회,1786,0,13.9,59.3,25.2,1.2,0.4,447727.96
41,방문횟수,2회,2476,0,14.3,58,25.8,1.6,0.4,452207.14
42,방문횟수,3회,794,0.2,14.5,53.6,27.4,3.8,0.5,485925.29
43,방문횟수,4회 이상,854,0.1,18.2,43.6,32,5.4,0.7,508601.9
44,♠BASE : 13번의 1번 응답자,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [165]:
columns = {'table' : '분석 카테고리',
           'Unnamed: 1' : '세부 카테고리',
           'Unnamed: 2' : '사례수',
           'Unnamed: 3' : '10만원 미만',
           'Unnamed: 4' : '10만원 이상-30만원 미만',
           'Unnamed: 5' : '30만원 이상-50만원 미만',
           'Unnamed: 6' : '50만원 이상-100만원 미만',
           'Unnamed: 7' : '100만원 이상-150만원 미만',
           'Unnamed: 8' : '150만원 이상',
           'Unnamed: 9' : '평균'}

total_cost_2019 = total_cost_2019.rename(columns = columns)
total_cost_2019

,분석 카테고리,세부 카테고리,사례수,10만원 미만,10만원 이상-30만원 미만,30만원 이상-50만원 미만,50만원 이상-100만원 미만,100만원 이상-150만원 미만,150만원 이상,평균
0,NaN,NaN,사례수,10만원 미만,10만원 이상-30만원 미만,30만원 이상-50만원 미만,50만원 이상-100만원 미만,100만원 이상-150만원 미만,150만원 이상,[평균]
1,[전체],NaN,5909,0,14.8,55.7,26.7,2.3,0.5,463530.97
2,월별,01월,459,0,28,54.5,16.2,0.6,0.6,398538.07
3,월별,02월,447,0,9.6,55.4,33.4,1.1,0.6,487232.82
4,월별,03월,464,0,25.4,51.3,20.2,2.5,0.6,445378.82
5,월별,04월,508,0,16.1,66,16.1,1.3,0.4,422618.93
6,월별,05월,523,0,8.9,56.2,31.9,2.7,0.2,487010.1
7,월별,06월,505,0,7.1,56.6,33.2,3.1,0,478963.07
8,월별,07월,501,0,13,56,28.8,2,0.3,465747.87
9,월별,08월,552,0,9.9,50,36.8,2.7,0.6,511081.46
10,월별,09월,434,0.2,23.8,48.4,24.2,2.4,0.9,446911.82
11,월별,10월,522,0,12,56.5,28.3,2.6,0.6,475645.81
12,월별,11월,504,0,15.8,57.8,22.5,3.6,0.3,458333.05
13,월별,12월,490,0.3,10.9,58.5,26.7,3.1,0.5,472795.14
14,거주지,서울특별시,1386,0,15.8,52.9,28.4,2.7,0.3,469231.65
15,거주지,부산광역시,565,0,9.2,54.3,32.5,3,1.1,502689.53
16,거주지,대구광역시,363,0,11.4,59.3,28.6,0.7,0.1,442913.5
17,거주지,인천광역시,378,0,18.4,60.9,18.7,2,0.1,425577.46
18,거주지,광주광역시,159,0,16.1,46.9,29.6,6.8,0.7,520481.55
19,거주지,대전광역시,173,0,16,56.3,25.3,2.1,0.3,456699.07
20,거주지,울산광역시,182,0,9.4,61.6,24,4.8,0.2,480234.69
21,거주지,세종자치시,72,0,9.5,55.7,33.1,1.7,0,465859.74
22,거주지,경기도,1452,0.1,16.6,57.2,24.2,1.3,0.7,448696.91
23,거주지,강원도,49,0,6.8,54.8,28.9,7,2.6,577273.36
24,거주지,충청도,248,0,11.6,53.9,31,3,0.5,479300.54
25,거주지,전라도,522,0,17.4,56.5,23.4,2.5,0.2,442298.75
26,거주지,경상도,343,0.4,13.7,55.7,27.9,1.7,0.6,470055.73
27,거주지,해외거주 등 기타 지역,15,0,16.8,24,49.5,8.4,1.3,566239.04
28,성별,남자,2305,0.1,16.2,50.5,29.5,3.2,0.5,480890.98
29,성별,여자,3604,0,13.8,59,24.9,1.7,0.4,452428.71
30,연령,15세 - 20세,49,0,13.2,57.3,29.5,0,0,447993.61
31,연령,21세 - 30세,1371,0.1,19.5,61.9,17.6,0.8,0.1,410131.26
32,연령,31세 - 40세,1478,0,15.6,54.2,27.5,2.2,0.6,461050.31
33,연령,41세 - 50세,1314,0,13.3,59.1,24.9,2.3,0.4,463837.02
34,연령,51세 - 60세,1375,0.1,10.4,51.4,33.3,4.1,0.8,511537.45
35,연령,61세 이상,323,0,15.6,40.1,41.2,2.6,0.5,498257.07
36,방문목적,휴가 및 순수여행,5659,0,14.1,56.3,26.8,2.3,0.4,463592.25
37,방문목적,비즈니스여행,167,0,31.6,43.8,19.8,3.6,1.2,451789.91
38,방문목적,기타여행,84,0,23.9,38.6,34,2.8,0.7,482793.89
39,여행형태,개별여행,5909,0,14.8,55.7,26.7,2.3,0.5,463530.97
40,방문횟수,1회,1786,0,13.9,59.3,25.2,1.2,0.4,447727.96
41,방문횟수,2회,2476,0,14.3,58,25.8,1.6,0.4,452207.14
42,방문횟수,3회,794,0.2,14.5,53.6,27.4,3.8,0.5,485925.29
43,방문횟수,4회 이상,854,0.1,18.2,43.6,32,5.4,0.7,508601.9
44,♠BASE : 13번의 1번 응답자,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [166]:
total_cost_2019 = total_cost_2019.drop(index = [0, 1]).reset_index(drop=True)

total_cost_2019

,분석 카테고리,세부 카테고리,사례수,10만원 미만,10만원 이상-30만원 미만,30만원 이상-50만원 미만,50만원 이상-100만원 미만,100만원 이상-150만원 미만,150만원 이상,평균
0,월별,01월,459,0,28,54.5,16.2,0.6,0.6,398538.07
1,월별,02월,447,0,9.6,55.4,33.4,1.1,0.6,487232.82
2,월별,03월,464,0,25.4,51.3,20.2,2.5,0.6,445378.82
3,월별,04월,508,0,16.1,66,16.1,1.3,0.4,422618.93
4,월별,05월,523,0,8.9,56.2,31.9,2.7,0.2,487010.1
5,월별,06월,505,0,7.1,56.6,33.2,3.1,0,478963.07
6,월별,07월,501,0,13,56,28.8,2,0.3,465747.87
7,월별,08월,552,0,9.9,50,36.8,2.7,0.6,511081.46
8,월별,09월,434,0.2,23.8,48.4,24.2,2.4,0.9,446911.82
9,월별,10월,522,0,12,56.5,28.3,2.6,0.6,475645.81
10,월별,11월,504,0,15.8,57.8,22.5,3.6,0.3,458333.05
11,월별,12월,490,0.3,10.9,58.5,26.7,3.1,0.5,472795.14
12,거주지,서울특별시,1386,0,15.8,52.9,28.4,2.7,0.3,469231.65
13,거주지,부산광역시,565,0,9.2,54.3,32.5,3,1.1,502689.53
14,거주지,대구광역시,363,0,11.4,59.3,28.6,0.7,0.1,442913.5
15,거주지,인천광역시,378,0,18.4,60.9,18.7,2,0.1,425577.46
16,거주지,광주광역시,159,0,16.1,46.9,29.6,6.8,0.7,520481.55
17,거주지,대전광역시,173,0,16,56.3,25.3,2.1,0.3,456699.07
18,거주지,울산광역시,182,0,9.4,61.6,24,4.8,0.2,480234.69
19,거주지,세종자치시,72,0,9.5,55.7,33.1,1.7,0,465859.74
20,거주지,경기도,1452,0.1,16.6,57.2,24.2,1.3,0.7,448696.91
21,거주지,강원도,49,0,6.8,54.8,28.9,7,2.6,577273.36
22,거주지,충청도,248,0,11.6,53.9,31,3,0.5,479300.54
23,거주지,전라도,522,0,17.4,56.5,23.4,2.5,0.2,442298.75
24,거주지,경상도,343,0.4,13.7,55.7,27.9,1.7,0.6,470055.73
25,거주지,해외거주 등 기타 지역,15,0,16.8,24,49.5,8.4,1.3,566239.04
26,성별,남자,2305,0.1,16.2,50.5,29.5,3.2,0.5,480890.98
27,성별,여자,3604,0,13.8,59,24.9,1.7,0.4,452428.71
28,연령,15세 - 20세,49,0,13.2,57.3,29.5,0,0,447993.61
29,연령,21세 - 30세,1371,0.1,19.5,61.9,17.6,0.8,0.1,410131.26
30,연령,31세 - 40세,1478,0,15.6,54.2,27.5,2.2,0.6,461050.31
31,연령,41세 - 50세,1314,0,13.3,59.1,24.9,2.3,0.4,463837.02
32,연령,51세 - 60세,1375,0.1,10.4,51.4,33.3,4.1,0.8,511537.45
33,연령,61세 이상,323,0,15.6,40.1,41.2,2.6,0.5,498257.07
34,방문목적,휴가 및 순수여행,5659,0,14.1,56.3,26.8,2.3,0.4,463592.25
35,방문목적,비즈니스여행,167,0,31.6,43.8,19.8,3.6,1.2,451789.91
36,방문목적,기타여행,84,0,23.9,38.6,34,2.8,0.7,482793.89
37,여행형태,개별여행,5909,0,14.8,55.7,26.7,2.3,0.5,463530.97
38,방문횟수,1회,1786,0,13.9,59.3,25.2,1.2,0.4,447727.96
39,방문횟수,2회,2476,0,14.3,58,25.8,1.6,0.4,452207.14
40,방문횟수,3회,794,0.2,14.5,53.6,27.4,3.8,0.5,485925.29
41,방문횟수,4회 이상,854,0.1,18.2,43.6,32,5.4,0.7,508601.9
42,♠BASE : 13번의 1번 응답자,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- 전처리가 완료된 전체 비용에 대한 1인당 지출 경비.
  + 30만원 이상-50만원 미만의 비율이 가장 높은 결과를 보인다.

In [167]:
total_cost_2019 = total_cost_2019.drop(index = range(12, 43)).reset_index(drop=True)

total_cost_2019

,분석 카테고리,세부 카테고리,사례수,10만원 미만,10만원 이상-30만원 미만,30만원 이상-50만원 미만,50만원 이상-100만원 미만,100만원 이상-150만원 미만,150만원 이상,평균
0,월별,01월,459,0,28,54.5,16.2,0.6,0.6,398538.07
1,월별,02월,447,0,9.6,55.4,33.4,1.1,0.6,487232.82
2,월별,03월,464,0,25.4,51.3,20.2,2.5,0.6,445378.82
3,월별,04월,508,0,16.1,66,16.1,1.3,0.4,422618.93
4,월별,05월,523,0,8.9,56.2,31.9,2.7,0.2,487010.1
5,월별,06월,505,0,7.1,56.6,33.2,3.1,0,478963.07
6,월별,07월,501,0,13,56,28.8,2,0.3,465747.87
7,월별,08월,552,0,9.9,50,36.8,2.7,0.6,511081.46
8,월별,09월,434,0.2,23.8,48.4,24.2,2.4,0.9,446911.82
9,월별,10월,522,0,12,56.5,28.3,2.6,0.6,475645.81
10,월별,11월,504,0,15.8,57.8,22.5,3.6,0.3,458333.05
11,월별,12월,490,0.3,10.9,58.5,26.7,3.1,0.5,472795.14

#### 1인당 지출 경비 - 숙박 비용
- 해당 파일에 대한 전처리

In [168]:
accommodation_cost_2019 = pd.read_excel(DATA_path + '2019년 1인당 지출경비 - 개별 숙박비.xlsx')
accommodation_cost_2019

,table,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,사례수,5만원 미만,5만원 이상-7만원 미만,7만원 이상-10만원 미만,10만원 이상-20만원 미만,20만원 이상-30만원 미만,30만원 이상,경험없음,[평균]
1,[전체],NaN,5909,24.4,32,16.4,19,3.5,2,2.6,79310.39
2,월별,01월,459,29,30.6,13.8,18.9,2.4,2.4,2.9,75318.58
3,월별,02월,447,21.9,34.2,19.6,18.7,3,1.3,1.4,78085.58
4,월별,03월,464,23.3,33.4,14.9,22.3,2.2,1.8,2.2,79414.74
5,월별,04월,508,48.1,33.3,9.1,7.3,0.9,0.4,0.9,57671.17
6,월별,05월,523,27.9,34.7,13.2,17,4,1.3,1.9,75949.91
7,월별,06월,505,22.8,34.4,18.4,18.8,2.9,0.7,2,73617.25
8,월별,07월,501,16.5,31.3,18.9,24.8,5,2.5,1,91564.05
9,월별,08월,552,16.6,24.7,17.4,27.6,5.5,4.8,3.5,101195.43
10,월별,09월,434,18.6,29.6,19.6,18.2,5.4,3.6,5,90941.41
11,월별,10월,522,23.9,35.4,17.1,17.4,2.8,1.6,1.8,75950.56
12,월별,11월,504,19.7,27.5,20.6,19.2,5,2.8,5.1,82420.1
13,월별,12월,490,24.6,35.9,15.1,17.1,2.2,0.8,4.4,68856.29
14,거주지,서울특별시,1386,20.8,30.8,16.5,21.3,4.3,2.1,4.1,79815.62
15,거주지,부산광역시,565,18.5,28.5,16.7,24.8,6.6,2.7,2.3,95405.79
16,거주지,대구광역시,363,21.9,40.3,18.7,14.2,2.3,1.6,1,71997.5
17,거주지,인천광역시,378,27.3,33.5,18.8,15.4,3.1,1,1,73925.3
18,거주지,광주광역시,159,20.9,35.2,14.1,19.6,3.5,5.1,1.5,90670.61
19,거주지,대전광역시,173,26.1,28.6,19,18.9,3.6,1,2.8,76616.71
20,거주지,울산광역시,182,32.1,31.5,14.2,15.4,1.5,2.8,2.6,71028.9
21,거주지,세종자치시,72,32.4,27.7,16.6,13.4,6.5,3.4,0,79270.18
22,거주지,경기도,1452,22.7,34.5,17.2,18.8,2.6,1.4,2.8,77831.25
23,거주지,강원도,49,14.1,28.6,14,33,7.3,2.6,0.5,106393.91
24,거주지,충청도,248,35.5,27.9,12.3,17.4,3,2.3,1.5,85975.32
25,거주지,전라도,522,34.6,31.9,11.3,15.7,2.1,1.4,3,68275.96
26,거주지,경상도,343,28.9,28.1,19.5,16.8,2.1,2.9,1.6,78089.15
27,거주지,해외거주 등 기타 지역,15,23.5,16.3,16.8,15.5,0,16.8,11.1,105625.77
28,성별,남자,2305,24.8,28.9,15.9,21,3.9,2.4,3.1,81364.32
29,성별,여자,3604,24.2,34.1,16.8,17.7,3.2,1.7,2.4,77996.83
30,연령,15세 - 20세,49,24.1,24.6,21.2,15.2,10.1,0,4.8,79714.24
31,연령,21세 - 30세,1371,21.3,35.4,21,17.5,2.5,1.1,1.1,74645.8
32,연령,31세 - 40세,1478,17.4,29.5,16.9,24.2,6,3.3,2.7,93839.65
33,연령,41세 - 50세,1314,30.1,33.4,14.1,15.8,1.2,2.2,3.2,72723.19
34,연령,51세 - 60세,1375,30.7,30,13.8,17.3,3.5,1.5,3.3,74799.45
35,연령,61세 이상,323,19.9,33.8,15.2,22,3.6,1.7,3.7,78549.95
36,방문목적,휴가 및 순수여행,5659,24.6,32.8,16.7,19,3.3,1.9,1.7,79483.35
37,방문목적,비즈니스여행,167,23.9,20.3,11.1,17.9,5.2,3.9,17.7,77678.93
38,방문목적,기타여행,84,15.8,7.1,7.5,18.8,8.2,2.8,39.8,70844.91
39,여행형태,개별여행,5909,24.4,32,16.4,19,3.5,2,2.6,79310.39
40,방문횟수,1회,1786,26.2,35,16.5,17.5,2,1.5,1.4,74450.82
41,방문횟수,2회,2476,24.3,34.1,17.8,18.4,2.8,1.6,1.1,77972.26
42,방문횟수,3회,794,24.2,29.5,14.3,21.6,4.7,2.7,2.9,83822.82
43,방문횟수,4회 이상,854,21.4,22.3,14.5,21.3,7.2,3.7,9.6,89160.56
44,♠BASE : 13번의 1번 응답자,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [169]:
columns = {'table' : '분석 카테고리',
           'Unnamed: 1' : '세부 카테고리',
           'Unnamed: 2' : '사례수',
           'Unnamed: 3' : '5만원 미만',
           'Unnamed: 4' : '5만원 이상-7만원 미만',
           'Unnamed: 5' : '7만원 이상-10만원 미만',
           'Unnamed: 6' : '10만원 이상-20만원 미만',
           'Unnamed: 7' : '20만원 이상-30만원 미만',
           'Unnamed: 8' : '30만원 이상',
           'Unnamed: 9' : '경험없음',
           'Unnamed: 10' : '평균'}

accommodation_cost_2019 = accommodation_cost_2019.rename(columns = columns)
accommodation_cost_2019

,분석 카테고리,세부 카테고리,사례수,5만원 미만,5만원 이상-7만원 미만,7만원 이상-10만원 미만,10만원 이상-20만원 미만,20만원 이상-30만원 미만,30만원 이상,경험없음,평균
0,NaN,NaN,사례수,5만원 미만,5만원 이상-7만원 미만,7만원 이상-10만원 미만,10만원 이상-20만원 미만,20만원 이상-30만원 미만,30만원 이상,경험없음,[평균]
1,[전체],NaN,5909,24.4,32,16.4,19,3.5,2,2.6,79310.39
2,월별,01월,459,29,30.6,13.8,18.9,2.4,2.4,2.9,75318.58
3,월별,02월,447,21.9,34.2,19.6,18.7,3,1.3,1.4,78085.58
4,월별,03월,464,23.3,33.4,14.9,22.3,2.2,1.8,2.2,79414.74
5,월별,04월,508,48.1,33.3,9.1,7.3,0.9,0.4,0.9,57671.17
6,월별,05월,523,27.9,34.7,13.2,17,4,1.3,1.9,75949.91
7,월별,06월,505,22.8,34.4,18.4,18.8,2.9,0.7,2,73617.25
8,월별,07월,501,16.5,31.3,18.9,24.8,5,2.5,1,91564.05
9,월별,08월,552,16.6,24.7,17.4,27.6,5.5,4.8,3.5,101195.43
10,월별,09월,434,18.6,29.6,19.6,18.2,5.4,3.6,5,90941.41
11,월별,10월,522,23.9,35.4,17.1,17.4,2.8,1.6,1.8,75950.56
12,월별,11월,504,19.7,27.5,20.6,19.2,5,2.8,5.1,82420.1
13,월별,12월,490,24.6,35.9,15.1,17.1,2.2,0.8,4.4,68856.29
14,거주지,서울특별시,1386,20.8,30.8,16.5,21.3,4.3,2.1,4.1,79815.62
15,거주지,부산광역시,565,18.5,28.5,16.7,24.8,6.6,2.7,2.3,95405.79
16,거주지,대구광역시,363,21.9,40.3,18.7,14.2,2.3,1.6,1,71997.5
17,거주지,인천광역시,378,27.3,33.5,18.8,15.4,3.1,1,1,73925.3
18,거주지,광주광역시,159,20.9,35.2,14.1,19.6,3.5,5.1,1.5,90670.61
19,거주지,대전광역시,173,26.1,28.6,19,18.9,3.6,1,2.8,76616.71
20,거주지,울산광역시,182,32.1,31.5,14.2,15.4,1.5,2.8,2.6,71028.9
21,거주지,세종자치시,72,32.4,27.7,16.6,13.4,6.5,3.4,0,79270.18
22,거주지,경기도,1452,22.7,34.5,17.2,18.8,2.6,1.4,2.8,77831.25
23,거주지,강원도,49,14.1,28.6,14,33,7.3,2.6,0.5,106393.91
24,거주지,충청도,248,35.5,27.9,12.3,17.4,3,2.3,1.5,85975.32
25,거주지,전라도,522,34.6,31.9,11.3,15.7,2.1,1.4,3,68275.96
26,거주지,경상도,343,28.9,28.1,19.5,16.8,2.1,2.9,1.6,78089.15
27,거주지,해외거주 등 기타 지역,15,23.5,16.3,16.8,15.5,0,16.8,11.1,105625.77
28,성별,남자,2305,24.8,28.9,15.9,21,3.9,2.4,3.1,81364.32
29,성별,여자,3604,24.2,34.1,16.8,17.7,3.2,1.7,2.4,77996.83
30,연령,15세 - 20세,49,24.1,24.6,21.2,15.2,10.1,0,4.8,79714.24
31,연령,21세 - 30세,1371,21.3,35.4,21,17.5,2.5,1.1,1.1,74645.8
32,연령,31세 - 40세,1478,17.4,29.5,16.9,24.2,6,3.3,2.7,93839.65
33,연령,41세 - 50세,1314,30.1,33.4,14.1,15.8,1.2,2.2,3.2,72723.19
34,연령,51세 - 60세,1375,30.7,30,13.8,17.3,3.5,1.5,3.3,74799.45
35,연령,61세 이상,323,19.9,33.8,15.2,22,3.6,1.7,3.7,78549.95
36,방문목적,휴가 및 순수여행,5659,24.6,32.8,16.7,19,3.3,1.9,1.7,79483.35
37,방문목적,비즈니스여행,167,23.9,20.3,11.1,17.9,5.2,3.9,17.7,77678.93
38,방문목적,기타여행,84,15.8,7.1,7.5,18.8,8.2,2.8,39.8,70844.91
39,여행형태,개별여행,5909,24.4,32,16.4,19,3.5,2,2.6,79310.39
40,방문횟수,1회,1786,26.2,35,16.5,17.5,2,1.5,1.4,74450.82
41,방문횟수,2회,2476,24.3,34.1,17.8,18.4,2.8,1.6,1.1,77972.26
42,방문횟수,3회,794,24.2,29.5,14.3,21.6,4.7,2.7,2.9,83822.82
43,방문횟수,4회 이상,854,21.4,22.3,14.5,21.3,7.2,3.7,9.6,89160.56
44,♠BASE : 13번의 1번 응답자,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [170]:
accommodation_cost_2019 = accommodation_cost_2019.drop(index = [0, 1]).reset_index(drop=True)

accommodation_cost_2019

,분석 카테고리,세부 카테고리,사례수,5만원 미만,5만원 이상-7만원 미만,7만원 이상-10만원 미만,10만원 이상-20만원 미만,20만원 이상-30만원 미만,30만원 이상,경험없음,평균
0,월별,01월,459,29,30.6,13.8,18.9,2.4,2.4,2.9,75318.58
1,월별,02월,447,21.9,34.2,19.6,18.7,3,1.3,1.4,78085.58
2,월별,03월,464,23.3,33.4,14.9,22.3,2.2,1.8,2.2,79414.74
3,월별,04월,508,48.1,33.3,9.1,7.3,0.9,0.4,0.9,57671.17
4,월별,05월,523,27.9,34.7,13.2,17,4,1.3,1.9,75949.91
5,월별,06월,505,22.8,34.4,18.4,18.8,2.9,0.7,2,73617.25
6,월별,07월,501,16.5,31.3,18.9,24.8,5,2.5,1,91564.05
7,월별,08월,552,16.6,24.7,17.4,27.6,5.5,4.8,3.5,101195.43
8,월별,09월,434,18.6,29.6,19.6,18.2,5.4,3.6,5,90941.41
9,월별,10월,522,23.9,35.4,17.1,17.4,2.8,1.6,1.8,75950.56
10,월별,11월,504,19.7,27.5,20.6,19.2,5,2.8,5.1,82420.1
11,월별,12월,490,24.6,35.9,15.1,17.1,2.2,0.8,4.4,68856.29
12,거주지,서울특별시,1386,20.8,30.8,16.5,21.3,4.3,2.1,4.1,79815.62
13,거주지,부산광역시,565,18.5,28.5,16.7,24.8,6.6,2.7,2.3,95405.79
14,거주지,대구광역시,363,21.9,40.3,18.7,14.2,2.3,1.6,1,71997.5
15,거주지,인천광역시,378,27.3,33.5,18.8,15.4,3.1,1,1,73925.3
16,거주지,광주광역시,159,20.9,35.2,14.1,19.6,3.5,5.1,1.5,90670.61
17,거주지,대전광역시,173,26.1,28.6,19,18.9,3.6,1,2.8,76616.71
18,거주지,울산광역시,182,32.1,31.5,14.2,15.4,1.5,2.8,2.6,71028.9
19,거주지,세종자치시,72,32.4,27.7,16.6,13.4,6.5,3.4,0,79270.18
20,거주지,경기도,1452,22.7,34.5,17.2,18.8,2.6,1.4,2.8,77831.25
21,거주지,강원도,49,14.1,28.6,14,33,7.3,2.6,0.5,106393.91
22,거주지,충청도,248,35.5,27.9,12.3,17.4,3,2.3,1.5,85975.32
23,거주지,전라도,522,34.6,31.9,11.3,15.7,2.1,1.4,3,68275.96
24,거주지,경상도,343,28.9,28.1,19.5,16.8,2.1,2.9,1.6,78089.15
25,거주지,해외거주 등 기타 지역,15,23.5,16.3,16.8,15.5,0,16.8,11.1,105625.77
26,성별,남자,2305,24.8,28.9,15.9,21,3.9,2.4,3.1,81364.32
27,성별,여자,3604,24.2,34.1,16.8,17.7,3.2,1.7,2.4,77996.83
28,연령,15세 - 20세,49,24.1,24.6,21.2,15.2,10.1,0,4.8,79714.24
29,연령,21세 - 30세,1371,21.3,35.4,21,17.5,2.5,1.1,1.1,74645.8
30,연령,31세 - 40세,1478,17.4,29.5,16.9,24.2,6,3.3,2.7,93839.65
31,연령,41세 - 50세,1314,30.1,33.4,14.1,15.8,1.2,2.2,3.2,72723.19
32,연령,51세 - 60세,1375,30.7,30,13.8,17.3,3.5,1.5,3.3,74799.45
33,연령,61세 이상,323,19.9,33.8,15.2,22,3.6,1.7,3.7,78549.95
34,방문목적,휴가 및 순수여행,5659,24.6,32.8,16.7,19,3.3,1.9,1.7,79483.35
35,방문목적,비즈니스여행,167,23.9,20.3,11.1,17.9,5.2,3.9,17.7,77678.93
36,방문목적,기타여행,84,15.8,7.1,7.5,18.8,8.2,2.8,39.8,70844.91
37,여행형태,개별여행,5909,24.4,32,16.4,19,3.5,2,2.6,79310.39
38,방문횟수,1회,1786,26.2,35,16.5,17.5,2,1.5,1.4,74450.82
39,방문횟수,2회,2476,24.3,34.1,17.8,18.4,2.8,1.6,1.1,77972.26
40,방문횟수,3회,794,24.2,29.5,14.3,21.6,4.7,2.7,2.9,83822.82
41,방문횟수,4회 이상,854,21.4,22.3,14.5,21.3,7.2,3.7,9.6,89160.56
42,♠BASE : 13번의 1번 응답자,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- 전처리가 완료된 숙박 비용에 대한 1인당 지출 경비.
  + 5만원 이상-7만원 미만의 비율이 가장 높은 결과를 보인다.

In [171]:
accommodation_cost_2019 = accommodation_cost_2019.drop(index = range(12, 43)).reset_index(drop=True)

accommodation_cost_2019

,분석 카테고리,세부 카테고리,사례수,5만원 미만,5만원 이상-7만원 미만,7만원 이상-10만원 미만,10만원 이상-20만원 미만,20만원 이상-30만원 미만,30만원 이상,경험없음,평균
0,월별,01월,459,29,30.6,13.8,18.9,2.4,2.4,2.9,75318.58
1,월별,02월,447,21.9,34.2,19.6,18.7,3,1.3,1.4,78085.58
2,월별,03월,464,23.3,33.4,14.9,22.3,2.2,1.8,2.2,79414.74
3,월별,04월,508,48.1,33.3,9.1,7.3,0.9,0.4,0.9,57671.17
4,월별,05월,523,27.9,34.7,13.2,17,4,1.3,1.9,75949.91
5,월별,06월,505,22.8,34.4,18.4,18.8,2.9,0.7,2,73617.25
6,월별,07월,501,16.5,31.3,18.9,24.8,5,2.5,1,91564.05
7,월별,08월,552,16.6,24.7,17.4,27.6,5.5,4.8,3.5,101195.43
8,월별,09월,434,18.6,29.6,19.6,18.2,5.4,3.6,5,90941.41
9,월별,10월,522,23.9,35.4,17.1,17.4,2.8,1.6,1.8,75950.56
10,월별,11월,504,19.7,27.5,20.6,19.2,5,2.8,5.1,82420.1
11,월별,12월,490,24.6,35.9,15.1,17.1,2.2,0.8,4.4,68856.29

#### 1인당 지출 경비 - 식음료 비용
- 해당 파일에 대한 전처리

In [172]:
food_cost_2019 = pd.read_excel(DATA_path + '2019년 1인당 지출경비 - 개별 식음료비.xlsx')
food_cost_2019

,table,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,사례수,3만원 미만,3만원이상-5만원 미만,5만원 이상-10만원 미만,10만원 이상-20만원 미만,20만원 이상,경험없음,[평균]
1,[전체],NaN,5909,1.3,1,20.9,65.1,11.5,0.3,127999.28
2,월별,01월,459,0.5,0.8,33.1,55,10.6,0,116960.88
3,월별,02월,447,0.6,0.4,17.5,68.3,12.4,0.8,138581.37
4,월별,03월,464,1.5,0,21,62.1,14.8,0.7,138982.96
5,월별,04월,508,0.9,0.3,26.2,66.2,6.1,0.2,118624.29
6,월별,05월,523,0.9,0.6,12.2,72.9,13.1,0.2,133932.27
7,월별,06월,505,0.5,0.3,18.5,68.4,12.3,0,131843.55
8,월별,07월,501,1.2,0.5,20.5,66.2,11.3,0.2,128747.95
9,월별,08월,552,1.2,1.1,20.1,62.4,14.9,0.2,128032.95
10,월별,09월,434,2,4,28.2,54.5,11,0.3,121602.03
11,월별,10월,522,2.3,2,16.5,69.1,9.9,0.3,125480.86
12,월별,11월,504,2.3,1.5,21.6,62.4,11.9,0.3,128104.37
13,월별,12월,490,1.3,0.8,17.7,70.8,9.4,0,125159.5
14,거주지,서울특별시,1386,1.4,1.1,22.7,60.5,13.8,0.4,127956.42
15,거주지,부산광역시,565,0.6,0.9,19.9,66,12.2,0.4,131936.55
16,거주지,대구광역시,363,0.7,1,21.5,68.9,7.6,0.3,118059.85
17,거주지,인천광역시,378,1,0.3,27.5,63.9,7.2,0.1,122410.24
18,거주지,광주광역시,159,0.9,0.7,15.2,69.1,14.1,0,141052.68
19,거주지,대전광역시,173,1.5,1.4,17.8,68.8,10.6,0,125932.64
20,거주지,울산광역시,182,1.9,0,15.5,70.1,11.9,0.6,138841.63
21,거주지,세종자치시,72,1.7,1.5,13.1,70.7,13,0,130949.83
22,거주지,경기도,1452,1.4,1.1,21.5,64.8,11,0.2,126162.37
23,거주지,강원도,49,0,0,11.3,73.9,14.8,0,145957.75
24,거주지,충청도,248,1,1.5,16.4,70,11.1,0,134934
25,거주지,전라도,522,1.5,1.4,21.2,68,7.9,0,122617.49
26,거주지,경상도,343,1.9,1,17.8,64.5,14.5,0.3,134272.23
27,거주지,해외거주 등 기타 지역,15,0,0,25.2,39.5,35.3,0,152023.34
28,성별,남자,2305,1.5,1.6,19.9,63.6,13,0.4,130475.82
29,성별,여자,3604,1.1,0.7,21.6,66,10.5,0.2,126415.45
30,연령,15세 - 20세,49,2.2,0,13.7,67,17.1,0,129507.08
31,연령,21세 - 30세,1371,1.1,1.5,19.5,70.6,7.4,0,118279.1
32,연령,31세 - 40세,1478,1.2,0.8,25.2,58.6,14,0.3,128236.3
33,연령,41세 - 50세,1314,1.5,0.8,23.7,64.1,9.5,0.4,126272.89
34,연령,51세 - 60세,1375,1.4,0.9,15.4,68,13.9,0.5,138104.63
35,연령,61세 이상,323,0.8,1.5,20.6,62.7,14.4,0,131942.59
36,방문목적,휴가 및 순수여행,5659,1.1,0.8,20.6,66.1,11.2,0.2,128248.12
37,방문목적,비즈니스여행,167,4.2,7,33.2,44.3,10.9,0.2,110683.64
38,방문목적,기타여행,84,8.9,2.8,20.6,34.9,30,2.8,145670.91
39,여행형태,개별여행,5909,1.3,1,20.9,65.1,11.5,0.3,127999.28
40,방문횟수,1회,1786,1.2,0.8,22.1,65.4,10.1,0.3,125653.97
41,방문횟수,2회,2476,0.8,0.7,21.1,68.1,9.2,0.1,124907.04
42,방문횟수,3회,794,1.1,0.7,19.2,63.5,15,0.4,136820.92
43,방문횟수,4회 이상,854,2.7,2.6,19.5,57,17.8,0.5,133667.09
44,♠BASE : 13번의 1번 응답자,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [173]:
columns = {'table' : '분석 카테고리',
           'Unnamed: 1' : '세부 카테고리',
           'Unnamed: 2' : '사례수',
           'Unnamed: 3' : '3만원 미만',
           'Unnamed: 4' : '3만원이상-5만원 미만',
           'Unnamed: 5' : '5만원 이상-10만원 미만',
           'Unnamed: 6' : '10만원 이상-20만원 미만',
           'Unnamed: 7' : '20만원 이상',
           'Unnamed: 8' : '경험없음',
           'Unnamed: 9' : '평균'}

food_cost_2019 = food_cost_2019.rename(columns = columns)
food_cost_2019

,분석 카테고리,세부 카테고리,사례수,3만원 미만,3만원이상-5만원 미만,5만원 이상-10만원 미만,10만원 이상-20만원 미만,20만원 이상,경험없음,평균
0,NaN,NaN,사례수,3만원 미만,3만원이상-5만원 미만,5만원 이상-10만원 미만,10만원 이상-20만원 미만,20만원 이상,경험없음,[평균]
1,[전체],NaN,5909,1.3,1,20.9,65.1,11.5,0.3,127999.28
2,월별,01월,459,0.5,0.8,33.1,55,10.6,0,116960.88
3,월별,02월,447,0.6,0.4,17.5,68.3,12.4,0.8,138581.37
4,월별,03월,464,1.5,0,21,62.1,14.8,0.7,138982.96
5,월별,04월,508,0.9,0.3,26.2,66.2,6.1,0.2,118624.29
6,월별,05월,523,0.9,0.6,12.2,72.9,13.1,0.2,133932.27
7,월별,06월,505,0.5,0.3,18.5,68.4,12.3,0,131843.55
8,월별,07월,501,1.2,0.5,20.5,66.2,11.3,0.2,128747.95
9,월별,08월,552,1.2,1.1,20.1,62.4,14.9,0.2,128032.95
10,월별,09월,434,2,4,28.2,54.5,11,0.3,121602.03
11,월별,10월,522,2.3,2,16.5,69.1,9.9,0.3,125480.86
12,월별,11월,504,2.3,1.5,21.6,62.4,11.9,0.3,128104.37
13,월별,12월,490,1.3,0.8,17.7,70.8,9.4,0,125159.5
14,거주지,서울특별시,1386,1.4,1.1,22.7,60.5,13.8,0.4,127956.42
15,거주지,부산광역시,565,0.6,0.9,19.9,66,12.2,0.4,131936.55
16,거주지,대구광역시,363,0.7,1,21.5,68.9,7.6,0.3,118059.85
17,거주지,인천광역시,378,1,0.3,27.5,63.9,7.2,0.1,122410.24
18,거주지,광주광역시,159,0.9,0.7,15.2,69.1,14.1,0,141052.68
19,거주지,대전광역시,173,1.5,1.4,17.8,68.8,10.6,0,125932.64
20,거주지,울산광역시,182,1.9,0,15.5,70.1,11.9,0.6,138841.63
21,거주지,세종자치시,72,1.7,1.5,13.1,70.7,13,0,130949.83
22,거주지,경기도,1452,1.4,1.1,21.5,64.8,11,0.2,126162.37
23,거주지,강원도,49,0,0,11.3,73.9,14.8,0,145957.75
24,거주지,충청도,248,1,1.5,16.4,70,11.1,0,134934
25,거주지,전라도,522,1.5,1.4,21.2,68,7.9,0,122617.49
26,거주지,경상도,343,1.9,1,17.8,64.5,14.5,0.3,134272.23
27,거주지,해외거주 등 기타 지역,15,0,0,25.2,39.5,35.3,0,152023.34
28,성별,남자,2305,1.5,1.6,19.9,63.6,13,0.4,130475.82
29,성별,여자,3604,1.1,0.7,21.6,66,10.5,0.2,126415.45
30,연령,15세 - 20세,49,2.2,0,13.7,67,17.1,0,129507.08
31,연령,21세 - 30세,1371,1.1,1.5,19.5,70.6,7.4,0,118279.1
32,연령,31세 - 40세,1478,1.2,0.8,25.2,58.6,14,0.3,128236.3
33,연령,41세 - 50세,1314,1.5,0.8,23.7,64.1,9.5,0.4,126272.89
34,연령,51세 - 60세,1375,1.4,0.9,15.4,68,13.9,0.5,138104.63
35,연령,61세 이상,323,0.8,1.5,20.6,62.7,14.4,0,131942.59
36,방문목적,휴가 및 순수여행,5659,1.1,0.8,20.6,66.1,11.2,0.2,128248.12
37,방문목적,비즈니스여행,167,4.2,7,33.2,44.3,10.9,0.2,110683.64
38,방문목적,기타여행,84,8.9,2.8,20.6,34.9,30,2.8,145670.91
39,여행형태,개별여행,5909,1.3,1,20.9,65.1,11.5,0.3,127999.28
40,방문횟수,1회,1786,1.2,0.8,22.1,65.4,10.1,0.3,125653.97
41,방문횟수,2회,2476,0.8,0.7,21.1,68.1,9.2,0.1,124907.04
42,방문횟수,3회,794,1.1,0.7,19.2,63.5,15,0.4,136820.92
43,방문횟수,4회 이상,854,2.7,2.6,19.5,57,17.8,0.5,133667.09
44,♠BASE : 13번의 1번 응답자,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [174]:
food_cost_2019 = food_cost_2019.drop(index = [0, 1]).reset_index(drop=True)

food_cost_2019

,분석 카테고리,세부 카테고리,사례수,3만원 미만,3만원이상-5만원 미만,5만원 이상-10만원 미만,10만원 이상-20만원 미만,20만원 이상,경험없음,평균
0,월별,01월,459,0.5,0.8,33.1,55,10.6,0,116960.88
1,월별,02월,447,0.6,0.4,17.5,68.3,12.4,0.8,138581.37
2,월별,03월,464,1.5,0,21,62.1,14.8,0.7,138982.96
3,월별,04월,508,0.9,0.3,26.2,66.2,6.1,0.2,118624.29
4,월별,05월,523,0.9,0.6,12.2,72.9,13.1,0.2,133932.27
5,월별,06월,505,0.5,0.3,18.5,68.4,12.3,0,131843.55
6,월별,07월,501,1.2,0.5,20.5,66.2,11.3,0.2,128747.95
7,월별,08월,552,1.2,1.1,20.1,62.4,14.9,0.2,128032.95
8,월별,09월,434,2,4,28.2,54.5,11,0.3,121602.03
9,월별,10월,522,2.3,2,16.5,69.1,9.9,0.3,125480.86
10,월별,11월,504,2.3,1.5,21.6,62.4,11.9,0.3,128104.37
11,월별,12월,490,1.3,0.8,17.7,70.8,9.4,0,125159.5
12,거주지,서울특별시,1386,1.4,1.1,22.7,60.5,13.8,0.4,127956.42
13,거주지,부산광역시,565,0.6,0.9,19.9,66,12.2,0.4,131936.55
14,거주지,대구광역시,363,0.7,1,21.5,68.9,7.6,0.3,118059.85
15,거주지,인천광역시,378,1,0.3,27.5,63.9,7.2,0.1,122410.24
16,거주지,광주광역시,159,0.9,0.7,15.2,69.1,14.1,0,141052.68
17,거주지,대전광역시,173,1.5,1.4,17.8,68.8,10.6,0,125932.64
18,거주지,울산광역시,182,1.9,0,15.5,70.1,11.9,0.6,138841.63
19,거주지,세종자치시,72,1.7,1.5,13.1,70.7,13,0,130949.83
20,거주지,경기도,1452,1.4,1.1,21.5,64.8,11,0.2,126162.37
21,거주지,강원도,49,0,0,11.3,73.9,14.8,0,145957.75
22,거주지,충청도,248,1,1.5,16.4,70,11.1,0,134934
23,거주지,전라도,522,1.5,1.4,21.2,68,7.9,0,122617.49
24,거주지,경상도,343,1.9,1,17.8,64.5,14.5,0.3,134272.23
25,거주지,해외거주 등 기타 지역,15,0,0,25.2,39.5,35.3,0,152023.34
26,성별,남자,2305,1.5,1.6,19.9,63.6,13,0.4,130475.82
27,성별,여자,3604,1.1,0.7,21.6,66,10.5,0.2,126415.45
28,연령,15세 - 20세,49,2.2,0,13.7,67,17.1,0,129507.08
29,연령,21세 - 30세,1371,1.1,1.5,19.5,70.6,7.4,0,118279.1
30,연령,31세 - 40세,1478,1.2,0.8,25.2,58.6,14,0.3,128236.3
31,연령,41세 - 50세,1314,1.5,0.8,23.7,64.1,9.5,0.4,126272.89
32,연령,51세 - 60세,1375,1.4,0.9,15.4,68,13.9,0.5,138104.63
33,연령,61세 이상,323,0.8,1.5,20.6,62.7,14.4,0,131942.59
34,방문목적,휴가 및 순수여행,5659,1.1,0.8,20.6,66.1,11.2,0.2,128248.12
35,방문목적,비즈니스여행,167,4.2,7,33.2,44.3,10.9,0.2,110683.64
36,방문목적,기타여행,84,8.9,2.8,20.6,34.9,30,2.8,145670.91
37,여행형태,개별여행,5909,1.3,1,20.9,65.1,11.5,0.3,127999.28
38,방문횟수,1회,1786,1.2,0.8,22.1,65.4,10.1,0.3,125653.97
39,방문횟수,2회,2476,0.8,0.7,21.1,68.1,9.2,0.1,124907.04
40,방문횟수,3회,794,1.1,0.7,19.2,63.5,15,0.4,136820.92
41,방문횟수,4회 이상,854,2.7,2.6,19.5,57,17.8,0.5,133667.09
42,♠BASE : 13번의 1번 응답자,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- 전처리가 완료된 식음료 비용에 대한 1인당 지출 경비.
  + 10만원 이상-20만원 미만의 비율이 가장 높은 결과를 보인다.

In [175]:
food_cost_2019 = food_cost_2019.drop(index = range(12, 43)).reset_index(drop=True)

food_cost_2019

,분석 카테고리,세부 카테고리,사례수,3만원 미만,3만원이상-5만원 미만,5만원 이상-10만원 미만,10만원 이상-20만원 미만,20만원 이상,경험없음,평균
0,월별,01월,459,0.5,0.8,33.1,55,10.6,0,116960.88
1,월별,02월,447,0.6,0.4,17.5,68.3,12.4,0.8,138581.37
2,월별,03월,464,1.5,0,21,62.1,14.8,0.7,138982.96
3,월별,04월,508,0.9,0.3,26.2,66.2,6.1,0.2,118624.29
4,월별,05월,523,0.9,0.6,12.2,72.9,13.1,0.2,133932.27
5,월별,06월,505,0.5,0.3,18.5,68.4,12.3,0,131843.55
6,월별,07월,501,1.2,0.5,20.5,66.2,11.3,0.2,128747.95
7,월별,08월,552,1.2,1.1,20.1,62.4,14.9,0.2,128032.95
8,월별,09월,434,2,4,28.2,54.5,11,0.3,121602.03
9,월별,10월,522,2.3,2,16.5,69.1,9.9,0.3,125480.86
10,월별,11월,504,2.3,1.5,21.6,62.4,11.9,0.3,128104.37
11,월별,12월,490,1.3,0.8,17.7,70.8,9.4,0,125159.5

#### 1인당 지출 경비 - 항공/선박 이용 비용
- 해당 파일에 대한 전처리

In [176]:
transportation_cost_2019 = pd.read_excel(DATA_path + '2019년 1인당 지출경비 - 개별 항공,선박비.xlsx')
transportation_cost_2019

,table,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,사례수,3만원 미만,3만원이상-5만원 미만,5만원 이상-10만원 미만,10만원 이상-15만원 미만,15만원 이상,[평균]
1,[전체],NaN,5909,1.5,1.7,32.5,46.4,18,113874.71
2,월별,01월,459,1,1.8,65.3,29.2,2.7,92835.76
3,월별,02월,447,1.6,0.4,16.1,47.5,34.5,129477.34
4,월별,03월,464,1.8,10.3,58.3,22.7,7,88810.38
5,월별,04월,508,1.2,0.7,20.8,60,17.3,124849.18
6,월별,05월,523,1.5,0.1,15.9,54.6,27.9,127537.84
7,월별,06월,505,1.4,0.1,12.5,50.9,35.1,133570
8,월별,07월,501,1.5,0.2,21,56.1,21.1,122100.45
9,월별,08월,552,1,0.4,14.3,62.6,21.7,124377.07
10,월별,09월,434,1.8,4.7,54.7,33.9,4.9,89726.14
11,월별,10월,522,1,0.1,36.2,42.2,20.5,120778.43
12,월별,11월,504,2,1.9,53.3,35.8,7,92025.98
13,월별,12월,490,1.8,0.3,30.6,54.6,12.7,113072.69
14,거주지,서울특별시,1386,1.4,2,31.3,44.2,21.1,115195.49
15,거주지,부산광역시,565,0.5,0.8,28.7,45.2,24.8,118634.86
16,거주지,대구광역시,363,1.2,1.8,33.9,44.5,18.5,111365.3
17,거주지,인천광역시,378,0.9,1.4,40.9,41.9,14.9,107470.61
18,거주지,광주광역시,159,0.7,1.4,39.1,42.9,16,107425.29
19,거주지,대전광역시,173,1.4,2,27.3,50.8,18.4,120808.01
20,거주지,울산광역시,182,0.6,0,22.7,61,15.7,116856.61
21,거주지,세종자치시,72,1.8,0,31,53.9,13.3,111346.57
22,거주지,경기도,1452,1.3,1.9,34.6,46.4,15.8,112761.72
23,거주지,강원도,49,5,2.6,24.7,34.3,33.4,165751.75
24,거주지,충청도,248,3.5,1.7,21.1,54.4,19.3,115422.28
25,거주지,전라도,522,1.7,2.1,38.4,45.3,12.4,112120.39
26,거주지,경상도,343,3.5,1.1,29.7,51.3,14.4,107766.22
27,거주지,해외거주 등 기타 지역,15,0,0,34.9,48.3,16.8,110432.59
28,성별,남자,2305,1.4,2,30.4,46.4,19.7,115784.1
29,성별,여자,3604,1.5,1.4,33.9,46.4,16.8,112653.6
30,연령,15세 - 20세,49,0,4.8,28.7,52.1,14.5,107060.49
31,연령,21세 - 30세,1371,1.2,2.4,40.4,43.2,12.7,102703.54
32,연령,31세 - 40세,1478,1.6,1.7,33.8,45.7,17.1,112690.5
33,연령,41세 - 50세,1314,1.2,0.9,29.8,48.9,19.3,119595
34,연령,51세 - 60세,1375,1.8,1.7,27,48.3,21.2,118857.11
35,연령,61세 이상,323,1.5,0.8,28.6,43.6,25.6,123260.54
36,방문목적,휴가 및 순수여행,5659,1.4,1.5,32.4,46.9,17.9,113647.62
37,방문목적,비즈니스여행,167,4.9,5.3,33.7,35.4,20.8,119493.57
38,방문목적,기타여행,84,1.5,2.6,40.5,36.3,19.1,118055.88
39,여행형태,개별여행,5909,1.5,1.7,32.5,46.4,18,113874.71
40,방문횟수,1회,1786,1.4,1,31.7,48.7,17.1,113714.31
41,방문횟수,2회,2476,1.2,1.7,34.1,45.6,17.3,112603.9
42,방문횟수,3회,794,2,2.6,31.5,45.7,18.2,115191.83
43,방문횟수,4회 이상,854,1.7,2.2,30.5,44.3,21.3,116670.58
44,♠BASE : 13번의 1번 응답자,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [177]:
columns = {'table' : '분석 카테고리',
           'Unnamed: 1' : '세부 카테고리',
           'Unnamed: 2' : '사례수',
           'Unnamed: 3' : '3만원 미만',
           'Unnamed: 4' : '3만원이상-5만원 미만',
           'Unnamed: 5' : '5만원 이상-10만원 미만',
           'Unnamed: 6' : '10만원 이상-15만원 미만',
           'Unnamed: 7' : '15만원 이상',
           'Unnamed: 8' : '평균'}

transportation_cost_2019 = transportation_cost_2019.rename(columns = columns)
transportation_cost_2019

,분석 카테고리,세부 카테고리,사례수,3만원 미만,3만원이상-5만원 미만,5만원 이상-10만원 미만,10만원 이상-15만원 미만,15만원 이상,평균
0,NaN,NaN,사례수,3만원 미만,3만원이상-5만원 미만,5만원 이상-10만원 미만,10만원 이상-15만원 미만,15만원 이상,[평균]
1,[전체],NaN,5909,1.5,1.7,32.5,46.4,18,113874.71
2,월별,01월,459,1,1.8,65.3,29.2,2.7,92835.76
3,월별,02월,447,1.6,0.4,16.1,47.5,34.5,129477.34
4,월별,03월,464,1.8,10.3,58.3,22.7,7,88810.38
5,월별,04월,508,1.2,0.7,20.8,60,17.3,124849.18
6,월별,05월,523,1.5,0.1,15.9,54.6,27.9,127537.84
7,월별,06월,505,1.4,0.1,12.5,50.9,35.1,133570
8,월별,07월,501,1.5,0.2,21,56.1,21.1,122100.45
9,월별,08월,552,1,0.4,14.3,62.6,21.7,124377.07
10,월별,09월,434,1.8,4.7,54.7,33.9,4.9,89726.14
11,월별,10월,522,1,0.1,36.2,42.2,20.5,120778.43
12,월별,11월,504,2,1.9,53.3,35.8,7,92025.98
13,월별,12월,490,1.8,0.3,30.6,54.6,12.7,113072.69
14,거주지,서울특별시,1386,1.4,2,31.3,44.2,21.1,115195.49
15,거주지,부산광역시,565,0.5,0.8,28.7,45.2,24.8,118634.86
16,거주지,대구광역시,363,1.2,1.8,33.9,44.5,18.5,111365.3
17,거주지,인천광역시,378,0.9,1.4,40.9,41.9,14.9,107470.61
18,거주지,광주광역시,159,0.7,1.4,39.1,42.9,16,107425.29
19,거주지,대전광역시,173,1.4,2,27.3,50.8,18.4,120808.01
20,거주지,울산광역시,182,0.6,0,22.7,61,15.7,116856.61
21,거주지,세종자치시,72,1.8,0,31,53.9,13.3,111346.57
22,거주지,경기도,1452,1.3,1.9,34.6,46.4,15.8,112761.72
23,거주지,강원도,49,5,2.6,24.7,34.3,33.4,165751.75
24,거주지,충청도,248,3.5,1.7,21.1,54.4,19.3,115422.28
25,거주지,전라도,522,1.7,2.1,38.4,45.3,12.4,112120.39
26,거주지,경상도,343,3.5,1.1,29.7,51.3,14.4,107766.22
27,거주지,해외거주 등 기타 지역,15,0,0,34.9,48.3,16.8,110432.59
28,성별,남자,2305,1.4,2,30.4,46.4,19.7,115784.1
29,성별,여자,3604,1.5,1.4,33.9,46.4,16.8,112653.6
30,연령,15세 - 20세,49,0,4.8,28.7,52.1,14.5,107060.49
31,연령,21세 - 30세,1371,1.2,2.4,40.4,43.2,12.7,102703.54
32,연령,31세 - 40세,1478,1.6,1.7,33.8,45.7,17.1,112690.5
33,연령,41세 - 50세,1314,1.2,0.9,29.8,48.9,19.3,119595
34,연령,51세 - 60세,1375,1.8,1.7,27,48.3,21.2,118857.11
35,연령,61세 이상,323,1.5,0.8,28.6,43.6,25.6,123260.54
36,방문목적,휴가 및 순수여행,5659,1.4,1.5,32.4,46.9,17.9,113647.62
37,방문목적,비즈니스여행,167,4.9,5.3,33.7,35.4,20.8,119493.57
38,방문목적,기타여행,84,1.5,2.6,40.5,36.3,19.1,118055.88
39,여행형태,개별여행,5909,1.5,1.7,32.5,46.4,18,113874.71
40,방문횟수,1회,1786,1.4,1,31.7,48.7,17.1,113714.31
41,방문횟수,2회,2476,1.2,1.7,34.1,45.6,17.3,112603.9
42,방문횟수,3회,794,2,2.6,31.5,45.7,18.2,115191.83
43,방문횟수,4회 이상,854,1.7,2.2,30.5,44.3,21.3,116670.58
44,♠BASE : 13번의 1번 응답자,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [178]:
transportation_cost_2019 = transportation_cost_2019.drop(index = [0, 1]).reset_index(drop=True)

transportation_cost_2019

,분석 카테고리,세부 카테고리,사례수,3만원 미만,3만원이상-5만원 미만,5만원 이상-10만원 미만,10만원 이상-15만원 미만,15만원 이상,평균
0,월별,01월,459,1,1.8,65.3,29.2,2.7,92835.76
1,월별,02월,447,1.6,0.4,16.1,47.5,34.5,129477.34
2,월별,03월,464,1.8,10.3,58.3,22.7,7,88810.38
3,월별,04월,508,1.2,0.7,20.8,60,17.3,124849.18
4,월별,05월,523,1.5,0.1,15.9,54.6,27.9,127537.84
5,월별,06월,505,1.4,0.1,12.5,50.9,35.1,133570
6,월별,07월,501,1.5,0.2,21,56.1,21.1,122100.45
7,월별,08월,552,1,0.4,14.3,62.6,21.7,124377.07
8,월별,09월,434,1.8,4.7,54.7,33.9,4.9,89726.14
9,월별,10월,522,1,0.1,36.2,42.2,20.5,120778.43
10,월별,11월,504,2,1.9,53.3,35.8,7,92025.98
11,월별,12월,490,1.8,0.3,30.6,54.6,12.7,113072.69
12,거주지,서울특별시,1386,1.4,2,31.3,44.2,21.1,115195.49
13,거주지,부산광역시,565,0.5,0.8,28.7,45.2,24.8,118634.86
14,거주지,대구광역시,363,1.2,1.8,33.9,44.5,18.5,111365.3
15,거주지,인천광역시,378,0.9,1.4,40.9,41.9,14.9,107470.61
16,거주지,광주광역시,159,0.7,1.4,39.1,42.9,16,107425.29
17,거주지,대전광역시,173,1.4,2,27.3,50.8,18.4,120808.01
18,거주지,울산광역시,182,0.6,0,22.7,61,15.7,116856.61
19,거주지,세종자치시,72,1.8,0,31,53.9,13.3,111346.57
20,거주지,경기도,1452,1.3,1.9,34.6,46.4,15.8,112761.72
21,거주지,강원도,49,5,2.6,24.7,34.3,33.4,165751.75
22,거주지,충청도,248,3.5,1.7,21.1,54.4,19.3,115422.28
23,거주지,전라도,522,1.7,2.1,38.4,45.3,12.4,112120.39
24,거주지,경상도,343,3.5,1.1,29.7,51.3,14.4,107766.22
25,거주지,해외거주 등 기타 지역,15,0,0,34.9,48.3,16.8,110432.59
26,성별,남자,2305,1.4,2,30.4,46.4,19.7,115784.1
27,성별,여자,3604,1.5,1.4,33.9,46.4,16.8,112653.6
28,연령,15세 - 20세,49,0,4.8,28.7,52.1,14.5,107060.49
29,연령,21세 - 30세,1371,1.2,2.4,40.4,43.2,12.7,102703.54
30,연령,31세 - 40세,1478,1.6,1.7,33.8,45.7,17.1,112690.5
31,연령,41세 - 50세,1314,1.2,0.9,29.8,48.9,19.3,119595
32,연령,51세 - 60세,1375,1.8,1.7,27,48.3,21.2,118857.11
33,연령,61세 이상,323,1.5,0.8,28.6,43.6,25.6,123260.54
34,방문목적,휴가 및 순수여행,5659,1.4,1.5,32.4,46.9,17.9,113647.62
35,방문목적,비즈니스여행,167,4.9,5.3,33.7,35.4,20.8,119493.57
36,방문목적,기타여행,84,1.5,2.6,40.5,36.3,19.1,118055.88
37,여행형태,개별여행,5909,1.5,1.7,32.5,46.4,18,113874.71
38,방문횟수,1회,1786,1.4,1,31.7,48.7,17.1,113714.31
39,방문횟수,2회,2476,1.2,1.7,34.1,45.6,17.3,112603.9
40,방문횟수,3회,794,2,2.6,31.5,45.7,18.2,115191.83
41,방문횟수,4회 이상,854,1.7,2.2,30.5,44.3,21.3,116670.58
42,♠BASE : 13번의 1번 응답자,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- 전처리가 완료된 항공/선박 이용 비용에 대한 1인당 지출 경비.
  + 5만원 이상-10만원 미만의 비율과 10만원 이상-15만원 미만의 비율이 월별에 따라 살짝 변동이 있는 것을 볼 수 있다.
  + 각 월별 평균가격을 기준으로 12만원 이상인 달은 2월, 4~8월, 10월로 나뉜다.
    

2019년 2월 참고사항

> http://www.jejudoin.co.kr/wp-content/uploads/mangboard/2019/02/11/F151_2019%EB%85%84-%EC%A0%9C%EC%A3%BC%EB%8F%84%EB%82%B4-%EC%A3%BC%EC%9A%94%ED%96%89%EC%82%AC.jpg

2019년 10월 참고사항

> https://postfiles.pstatic.net/MjAxOTA5MjdfMTU1/MDAxNTY5NTc4NzgzMTg4.RVDmbC3Q_kO8w2F_8sJW5XYJ-ytfTknzQQNDrLAeHvAg.YiCBKznhKeN-7MKC4g1jo1NvXOBuJXTMcypQSbmnO00g.PNG.jtowelcome/01.png?type=w966

In [179]:
transportation_cost_2019 = transportation_cost_2019.drop(index = range(12, 43)).reset_index(drop=True)

transportation_cost_2019

,분석 카테고리,세부 카테고리,사례수,3만원 미만,3만원이상-5만원 미만,5만원 이상-10만원 미만,10만원 이상-15만원 미만,15만원 이상,평균
0,월별,01월,459,1,1.8,65.3,29.2,2.7,92835.76
1,월별,02월,447,1.6,0.4,16.1,47.5,34.5,129477.34
2,월별,03월,464,1.8,10.3,58.3,22.7,7,88810.38
3,월별,04월,508,1.2,0.7,20.8,60,17.3,124849.18
4,월별,05월,523,1.5,0.1,15.9,54.6,27.9,127537.84
5,월별,06월,505,1.4,0.1,12.5,50.9,35.1,133570
6,월별,07월,501,1.5,0.2,21,56.1,21.1,122100.45
7,월별,08월,552,1,0.4,14.3,62.6,21.7,124377.07
8,월별,09월,434,1.8,4.7,54.7,33.9,4.9,89726.14
9,월별,10월,522,1,0.1,36.2,42.2,20.5,120778.43
10,월별,11월,504,2,1.9,53.3,35.8,7,92025.98
11,월별,12월,490,1.8,0.3,30.6,54.6,12.7,113072.69

#### 1인당 지출 경비 - 관광, 문화 지출 비용
- 통계자료를 분석하기 전, 2019년 7월 기준 관광지별 요금에 대한 파일을 먼저 첨부해 당시 요금에 대해 언급한다.

In [180]:
!pip install chardet

Requirement already satisfied: chardet in /usr/local/lib/python3.10/dist-packages (5.2.0)

In [181]:
import chardet
import pandas as pd

drive_path = "/content/drive/MyDrive/세프/DATA/"
input_filename = drive_path + '관광지입장요금표(2019.07.01).csv'

# 파일의 인코딩을 감지
with open(input_filename, 'rb') as f:
    result = chardet.detect(f.read())

# 감지된 인코딩 출력
detected_encoding = result['encoding']
print(f"Detected Encoding: {detected_encoding}")

# 파일을 읽고 새로운 인코딩으로 저장
df = pd.read_csv(input_filename, encoding=detected_encoding)
output_filename = drive_path + '관광지입장요금표_2019.csv'
df.to_csv(output_filename, encoding='utf-8', index=False)

print(f"File converted to 'utf-8' and saved as {output_filename}")

Detected Encoding: EUC-KR
File converted to 'utf-8' and saved as /content/drive/MyDrive/세프/DATA/관광지입장요금표_2019.csv

In [182]:
fee_2019 = pd.read_csv(DATA_path + '관광지입장요금표_2019.csv')
fee_2019

,구 분 관 광 지,관 광 지 입 장 요 금,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,성 인,청 소 년,어 린 이,노 인,국가 유공자,장애인
1,교육박물관,무료,무료,무료,무료,무료,무료
2,국립제주박물관,무료,무료,무료,무료,무료,무료
3,갓전시관,무료,무료,무료,무료,무료,무료
4,개똥이동물원,"8,000","8,000","8,000","6,000",NaN,NaN
...,...,...,...,...,...,...,...
147,환상숲,"5,000","4,000","4,000","5,000","5,000","5,000"
148,힐링카약파크 비체올린,"14,000","13,000","12,000","12,000","12,000","12,000"
149,엘리펀시아,"7,000","7,000","10,000","4,000","4,000","4,000"
150,우도스카이라인,"12,000","9,000","9,000","12,000","8,000","8,000"
151,;,NaN,NaN,NaN,NaN,NaN,NaN

In [183]:
columns = {'관 광 지 입 장 요 금' : '성인 요금',
           'Unnamed: 2' : '청소년 요금',
           'Unnamed: 3' : '어린이 요금',
           'Unnamed: 4' : '노인 요금',
           'Unnamed: 5' : '국가 유공자 요금',
           'Unnamed: 6' : '장애인 요금'}

fee_2019 = fee_2019.rename(columns = columns)
fee_2019

,구 분 관 광 지,성인 요금,청소년 요금,어린이 요금,노인 요금,국가 유공자 요금,장애인 요금
0,NaN,성 인,청 소 년,어 린 이,노 인,국가 유공자,장애인
1,교육박물관,무료,무료,무료,무료,무료,무료
2,국립제주박물관,무료,무료,무료,무료,무료,무료
3,갓전시관,무료,무료,무료,무료,무료,무료
4,개똥이동물원,"8,000","8,000","8,000","6,000",NaN,NaN
...,...,...,...,...,...,...,...
147,환상숲,"5,000","4,000","4,000","5,000","5,000","5,000"
148,힐링카약파크 비체올린,"14,000","13,000","12,000","12,000","12,000","12,000"
149,엘리펀시아,"7,000","7,000","10,000","4,000","4,000","4,000"
150,우도스카이라인,"12,000","9,000","9,000","12,000","8,000","8,000"
151,;,NaN,NaN,NaN,NaN,NaN,NaN

- 전처리가 완료된 2019년도 관광지별 요금 (단체요금 X)
  + 2019년도 요금확인 용.
    + 참고 : 건강과 성 박물관의 경우 성인부터 관람이 가능하다.

In [184]:
fee_2019 = fee_2019.drop(index = [0, 151]).reset_index(drop=True)

fee_2019

,구 분 관 광 지,성인 요금,청소년 요금,어린이 요금,노인 요금,국가 유공자 요금,장애인 요금
0,교육박물관,무료,무료,무료,무료,무료,무료
1,국립제주박물관,무료,무료,무료,무료,무료,무료
2,갓전시관,무료,무료,무료,무료,무료,무료
3,개똥이동물원,"8,000","8,000","8,000","6,000",NaN,NaN
4,건강과 성 박물관,"12,000",관람불가(군인-노인요금적용),NaN,"10,000","10,000","10,000"
...,...,...,...,...,...,...,...
145,화조원,"18,000","16,000","14,000","14,000","10,000","4,000 할인"
146,환상숲,"5,000","4,000","4,000","5,000","5,000","5,000"
147,힐링카약파크 비체올린,"14,000","13,000","12,000","12,000","12,000","12,000"
148,엘리펀시아,"7,000","7,000","10,000","4,000","4,000","4,000"
149,우도스카이라인,"12,000","9,000","9,000","12,000","8,000","8,000"

- 해당 파일에 대한 전처리

In [185]:
culture_cost_2019 = pd.read_excel(DATA_path + '2019년 1인당 지출경비 - 개별 관광,문화 지출비.xlsx')
culture_cost_2019

,table,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,사례수,2만원 미만,2만원 이상-5만원 미만,5만원 이상-10만원 미만,10만원 이상-20만원 미만,20만원 이상,경험없음,[평균]
1,[전체],NaN,5909,37.7,31.2,9.8,2,0.3,18.9,21543.1
2,월별,01월,459,47,26.4,4.8,0.9,0,20.9,16137.24
3,월별,02월,447,31.6,43.6,14.6,1.5,0.8,7.9,28008.45
4,월별,03월,464,42.2,35.5,6.8,1.2,0.5,13.9,20384.9
5,월별,04월,508,38.5,37.7,10.4,0.8,0.2,12.4,22763.65
6,월별,05월,523,31.4,43.4,10.7,1.8,0.5,12.2,25650.35
7,월별,06월,505,35.9,38.9,11.5,2.2,0.3,11.4,24922.52
8,월별,07월,501,37.2,29.5,9.7,2.1,0.5,21,21690.18
9,월별,08월,552,39.5,29.1,12.5,4.2,0.1,14.7,24144.06
10,월별,09월,434,39.6,18.8,7.7,2.3,0.3,31.3,16505.09
11,월별,10월,522,37.5,24.5,14,1.8,0.8,21.4,22929.19
12,월별,11월,504,31.4,26,8.4,4,0,30.2,19604.31
13,월별,12월,490,41.2,20.4,5.9,1.3,0,31.1,14572.37
14,거주지,서울특별시,1386,38.7,26.7,9.4,1.5,0.3,23.4,18874.58
15,거주지,부산광역시,565,37.2,32.8,10.3,2.2,0.4,17.1,22906.4
16,거주지,대구광역시,363,41.4,29.4,10.3,0.5,0.3,18.1,19143.38
17,거주지,인천광역시,378,43.1,29.9,6.9,2.2,0.1,17.9,19259.98
18,거주지,광주광역시,159,29.9,38.1,9,3.8,1.4,17.9,27437.24
19,거주지,대전광역시,173,34.9,34.1,12,3.5,0.8,14.7,26198.81
20,거주지,울산광역시,182,27.8,43.4,10.2,3.4,0,15.3,25403.48
21,거주지,세종자치시,72,40.8,23,12.3,4.8,1.7,17.5,28519.72
22,거주지,경기도,1452,41.1,30.4,7.7,1.8,0.2,18.8,19682.02
23,거주지,강원도,49,23.1,33.6,20.2,2.2,0,21,24765.39
24,거주지,충청도,248,29,35.3,14.4,2,0.5,18.9,24928.57
25,거주지,전라도,522,36.7,34.6,11.4,2.1,0.3,14.9,23815.77
26,거주지,경상도,343,29.8,35.8,13.8,3.3,0.6,16.8,27553.9
27,거주지,해외거주 등 기타 지역,15,25.2,32.3,17.7,7.9,1.3,15.6,32391.36
28,성별,남자,2305,33.2,28.6,10.3,2.3,0.5,25.2,21109.95
29,성별,여자,3604,40.6,32.9,9.6,1.9,0.2,14.9,21820.11
30,연령,15세 - 20세,49,41.9,29,2.6,2.2,0,24.3,15410.95
31,연령,21세 - 30세,1371,51.5,22.5,6.2,1.5,0,18.2,15875.22
32,연령,31세 - 40세,1478,41.6,27.5,10,2.7,0.3,17.9,21611.1
33,연령,41세 - 50세,1314,33.6,36.7,10.3,1.7,0.5,17.2,23342.06
34,연령,51세 - 60세,1375,26,38,9.6,2.3,0.5,23.7,23480.16
35,연령,61세 이상,323,26.5,34,25,1.7,0.7,12.1,30652.13
36,방문목적,휴가 및 순수여행,5659,38.4,32.2,10,2,0.3,17.1,21974.38
37,방문목적,비즈니스여행,167,18.9,7.8,2.9,4.6,0,65.8,10003.9
38,방문목적,기타여행,84,25.6,12.4,14.8,1.5,0.2,45.5,15333.53
39,여행형태,개별여행,5909,37.7,31.2,9.8,2,0.3,18.9,21543.1
40,방문횟수,1회,1786,40.2,35.5,10.6,2.2,0.2,11.3,23378.19
41,방문횟수,2회,2476,41.2,31.9,9.1,1.7,0.3,15.8,21338.45
42,방문횟수,3회,794,30.2,30.1,11.2,1.9,0.7,25.9,21997.16
43,방문횟수,4회 이상,854,29.1,21.4,9.1,2.8,0.3,37.3,17874.65
44,♠BASE : 13번의 1번 응답자,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [186]:
columns = {'table' : '분석 카테고리',
           'Unnamed: 1' : '세부 카테고리',
           'Unnamed: 2' : '사례수',
           'Unnamed: 3' : '2만원 미만',
           'Unnamed: 4' : '2만원 이상-5만원 미만',
           'Unnamed: 5' : '5만원 이상-10만원 미만',
           'Unnamed: 6' : '10만원 이상-20만원 미만',
           'Unnamed: 7' : '20만원 이상',
           'Unnamed: 8' : '경험없음',
           'Unnamed: 9' : '평균'}

culture_cost_2019 = culture_cost_2019.rename(columns = columns)
culture_cost_2019

,분석 카테고리,세부 카테고리,사례수,2만원 미만,2만원 이상-5만원 미만,5만원 이상-10만원 미만,10만원 이상-20만원 미만,20만원 이상,경험없음,평균
0,NaN,NaN,사례수,2만원 미만,2만원 이상-5만원 미만,5만원 이상-10만원 미만,10만원 이상-20만원 미만,20만원 이상,경험없음,[평균]
1,[전체],NaN,5909,37.7,31.2,9.8,2,0.3,18.9,21543.1
2,월별,01월,459,47,26.4,4.8,0.9,0,20.9,16137.24
3,월별,02월,447,31.6,43.6,14.6,1.5,0.8,7.9,28008.45
4,월별,03월,464,42.2,35.5,6.8,1.2,0.5,13.9,20384.9
5,월별,04월,508,38.5,37.7,10.4,0.8,0.2,12.4,22763.65
6,월별,05월,523,31.4,43.4,10.7,1.8,0.5,12.2,25650.35
7,월별,06월,505,35.9,38.9,11.5,2.2,0.3,11.4,24922.52
8,월별,07월,501,37.2,29.5,9.7,2.1,0.5,21,21690.18
9,월별,08월,552,39.5,29.1,12.5,4.2,0.1,14.7,24144.06
10,월별,09월,434,39.6,18.8,7.7,2.3,0.3,31.3,16505.09
11,월별,10월,522,37.5,24.5,14,1.8,0.8,21.4,22929.19
12,월별,11월,504,31.4,26,8.4,4,0,30.2,19604.31
13,월별,12월,490,41.2,20.4,5.9,1.3,0,31.1,14572.37
14,거주지,서울특별시,1386,38.7,26.7,9.4,1.5,0.3,23.4,18874.58
15,거주지,부산광역시,565,37.2,32.8,10.3,2.2,0.4,17.1,22906.4
16,거주지,대구광역시,363,41.4,29.4,10.3,0.5,0.3,18.1,19143.38
17,거주지,인천광역시,378,43.1,29.9,6.9,2.2,0.1,17.9,19259.98
18,거주지,광주광역시,159,29.9,38.1,9,3.8,1.4,17.9,27437.24
19,거주지,대전광역시,173,34.9,34.1,12,3.5,0.8,14.7,26198.81
20,거주지,울산광역시,182,27.8,43.4,10.2,3.4,0,15.3,25403.48
21,거주지,세종자치시,72,40.8,23,12.3,4.8,1.7,17.5,28519.72
22,거주지,경기도,1452,41.1,30.4,7.7,1.8,0.2,18.8,19682.02
23,거주지,강원도,49,23.1,33.6,20.2,2.2,0,21,24765.39
24,거주지,충청도,248,29,35.3,14.4,2,0.5,18.9,24928.57
25,거주지,전라도,522,36.7,34.6,11.4,2.1,0.3,14.9,23815.77
26,거주지,경상도,343,29.8,35.8,13.8,3.3,0.6,16.8,27553.9
27,거주지,해외거주 등 기타 지역,15,25.2,32.3,17.7,7.9,1.3,15.6,32391.36
28,성별,남자,2305,33.2,28.6,10.3,2.3,0.5,25.2,21109.95
29,성별,여자,3604,40.6,32.9,9.6,1.9,0.2,14.9,21820.11
30,연령,15세 - 20세,49,41.9,29,2.6,2.2,0,24.3,15410.95
31,연령,21세 - 30세,1371,51.5,22.5,6.2,1.5,0,18.2,15875.22
32,연령,31세 - 40세,1478,41.6,27.5,10,2.7,0.3,17.9,21611.1
33,연령,41세 - 50세,1314,33.6,36.7,10.3,1.7,0.5,17.2,23342.06
34,연령,51세 - 60세,1375,26,38,9.6,2.3,0.5,23.7,23480.16
35,연령,61세 이상,323,26.5,34,25,1.7,0.7,12.1,30652.13
36,방문목적,휴가 및 순수여행,5659,38.4,32.2,10,2,0.3,17.1,21974.38
37,방문목적,비즈니스여행,167,18.9,7.8,2.9,4.6,0,65.8,10003.9
38,방문목적,기타여행,84,25.6,12.4,14.8,1.5,0.2,45.5,15333.53
39,여행형태,개별여행,5909,37.7,31.2,9.8,2,0.3,18.9,21543.1
40,방문횟수,1회,1786,40.2,35.5,10.6,2.2,0.2,11.3,23378.19
41,방문횟수,2회,2476,41.2,31.9,9.1,1.7,0.3,15.8,21338.45
42,방문횟수,3회,794,30.2,30.1,11.2,1.9,0.7,25.9,21997.16
43,방문횟수,4회 이상,854,29.1,21.4,9.1,2.8,0.3,37.3,17874.65
44,♠BASE : 13번의 1번 응답자,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [187]:
culture_cost_2019 = culture_cost_2019.drop(index = [0, 1]).reset_index(drop=True)

culture_cost_2019

,분석 카테고리,세부 카테고리,사례수,2만원 미만,2만원 이상-5만원 미만,5만원 이상-10만원 미만,10만원 이상-20만원 미만,20만원 이상,경험없음,평균
0,월별,01월,459,47,26.4,4.8,0.9,0,20.9,16137.24
1,월별,02월,447,31.6,43.6,14.6,1.5,0.8,7.9,28008.45
2,월별,03월,464,42.2,35.5,6.8,1.2,0.5,13.9,20384.9
3,월별,04월,508,38.5,37.7,10.4,0.8,0.2,12.4,22763.65
4,월별,05월,523,31.4,43.4,10.7,1.8,0.5,12.2,25650.35
5,월별,06월,505,35.9,38.9,11.5,2.2,0.3,11.4,24922.52
6,월별,07월,501,37.2,29.5,9.7,2.1,0.5,21,21690.18
7,월별,08월,552,39.5,29.1,12.5,4.2,0.1,14.7,24144.06
8,월별,09월,434,39.6,18.8,7.7,2.3,0.3,31.3,16505.09
9,월별,10월,522,37.5,24.5,14,1.8,0.8,21.4,22929.19
10,월별,11월,504,31.4,26,8.4,4,0,30.2,19604.31
11,월별,12월,490,41.2,20.4,5.9,1.3,0,31.1,14572.37
12,거주지,서울특별시,1386,38.7,26.7,9.4,1.5,0.3,23.4,18874.58
13,거주지,부산광역시,565,37.2,32.8,10.3,2.2,0.4,17.1,22906.4
14,거주지,대구광역시,363,41.4,29.4,10.3,0.5,0.3,18.1,19143.38
15,거주지,인천광역시,378,43.1,29.9,6.9,2.2,0.1,17.9,19259.98
16,거주지,광주광역시,159,29.9,38.1,9,3.8,1.4,17.9,27437.24
17,거주지,대전광역시,173,34.9,34.1,12,3.5,0.8,14.7,26198.81
18,거주지,울산광역시,182,27.8,43.4,10.2,3.4,0,15.3,25403.48
19,거주지,세종자치시,72,40.8,23,12.3,4.8,1.7,17.5,28519.72
20,거주지,경기도,1452,41.1,30.4,7.7,1.8,0.2,18.8,19682.02
21,거주지,강원도,49,23.1,33.6,20.2,2.2,0,21,24765.39
22,거주지,충청도,248,29,35.3,14.4,2,0.5,18.9,24928.57
23,거주지,전라도,522,36.7,34.6,11.4,2.1,0.3,14.9,23815.77
24,거주지,경상도,343,29.8,35.8,13.8,3.3,0.6,16.8,27553.9
25,거주지,해외거주 등 기타 지역,15,25.2,32.3,17.7,7.9,1.3,15.6,32391.36
26,성별,남자,2305,33.2,28.6,10.3,2.3,0.5,25.2,21109.95
27,성별,여자,3604,40.6,32.9,9.6,1.9,0.2,14.9,21820.11
28,연령,15세 - 20세,49,41.9,29,2.6,2.2,0,24.3,15410.95
29,연령,21세 - 30세,1371,51.5,22.5,6.2,1.5,0,18.2,15875.22
30,연령,31세 - 40세,1478,41.6,27.5,10,2.7,0.3,17.9,21611.1
31,연령,41세 - 50세,1314,33.6,36.7,10.3,1.7,0.5,17.2,23342.06
32,연령,51세 - 60세,1375,26,38,9.6,2.3,0.5,23.7,23480.16
33,연령,61세 이상,323,26.5,34,25,1.7,0.7,12.1,30652.13
34,방문목적,휴가 및 순수여행,5659,38.4,32.2,10,2,0.3,17.1,21974.38
35,방문목적,비즈니스여행,167,18.9,7.8,2.9,4.6,0,65.8,10003.9
36,방문목적,기타여행,84,25.6,12.4,14.8,1.5,0.2,45.5,15333.53
37,여행형태,개별여행,5909,37.7,31.2,9.8,2,0.3,18.9,21543.1
38,방문횟수,1회,1786,40.2,35.5,10.6,2.2,0.2,11.3,23378.19
39,방문횟수,2회,2476,41.2,31.9,9.1,1.7,0.3,15.8,21338.45
40,방문횟수,3회,794,30.2,30.1,11.2,1.9,0.7,25.9,21997.16
41,방문횟수,4회 이상,854,29.1,21.4,9.1,2.8,0.3,37.3,17874.65
42,♠BASE : 13번의 1번 응답자,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- 전처리가 완료된 관광, 문화 지출 비용에 대한 1인당 지출 경비.
  + 2만원 미만과 2만원 이상-5만원 미만의 비율이 높게 나오는 것으로 보인다.

In [188]:
culture_cost_2019 = culture_cost_2019.drop(index = range(12, 43)).reset_index(drop=True)

culture_cost_2019

,분석 카테고리,세부 카테고리,사례수,2만원 미만,2만원 이상-5만원 미만,5만원 이상-10만원 미만,10만원 이상-20만원 미만,20만원 이상,경험없음,평균
0,월별,01월,459,47,26.4,4.8,0.9,0,20.9,16137.24
1,월별,02월,447,31.6,43.6,14.6,1.5,0.8,7.9,28008.45
2,월별,03월,464,42.2,35.5,6.8,1.2,0.5,13.9,20384.9
3,월별,04월,508,38.5,37.7,10.4,0.8,0.2,12.4,22763.65
4,월별,05월,523,31.4,43.4,10.7,1.8,0.5,12.2,25650.35
5,월별,06월,505,35.9,38.9,11.5,2.2,0.3,11.4,24922.52
6,월별,07월,501,37.2,29.5,9.7,2.1,0.5,21,21690.18
7,월별,08월,552,39.5,29.1,12.5,4.2,0.1,14.7,24144.06
8,월별,09월,434,39.6,18.8,7.7,2.3,0.3,31.3,16505.09
9,월별,10월,522,37.5,24.5,14,1.8,0.8,21.4,22929.19
10,월별,11월,504,31.4,26,8.4,4,0,30.2,19604.31
11,월별,12월,490,41.2,20.4,5.9,1.3,0,31.1,14572.37

# 2021년

## 데이터 전처리

### 데이터 수집 비율
- 2021년도 제주 여행자를 대상으로 한 방문 관광객 실태조사에서 응답자 프로파일을 가져옴.
  + 응답자 프로파일의 카테고리 중 월별, 연령별 카테고리만 수집함.
- **해당 연도의 데이터 수집 대상 비율을 명시해 앞으로 다룰 데이터들이 어떤 방식으로 추출되었는지 설명함.**

In [189]:
import pandas as pd

DATA_path = '/content/drive/MyDrive/세프/DATA/'

profile_df_2021 = pd.read_excel(DATA_path + '2021년 응답자 프로파일 - 데이터 설명용.xlsx')
profile_df_2021.head()

  table Unnamed: 1 Unnamed: 2
0   NaN        NaN         전체
1   NaN        NaN        사례수
2    전체        NaN       4500
3    월별        01월        237
4    월별        02월        402

In [190]:
columns = {'table' : '분석 카테고리',
           'Unnamed: 1' : '세부 카테고리',
           'Unnamed: 2' : '사례수'}

profile_df_2021 = profile_df_2021.rename(columns = columns)
profile_df_2021.head()

  분석 카테고리 세부 카테고리   사례수
0     NaN     NaN    전체
1     NaN     NaN   사례수
2      전체     NaN  4500
3      월별     01월   237
4      월별     02월   402

In [191]:
profile_df_2021 = profile_df_2021.drop(index = [0, 1, 2]).reset_index(drop=True)
profile_df_2021

    분석 카테고리       세부 카테고리   사례수
0        월별           01월   237
1        월별           02월   402
2        월별           06월   576
3        월별           07월   572
4        월별           08월   493
5        월별           09월   441
6        월별           10월   619
7        월별           11월   610
8        월별           12월   552
9       거주지         서울특별시  1868
10      거주지         부산광역시   305
11      거주지         대구광역시   207
12      거주지         인천광역시   221
13      거주지         광주광역시   118
14      거주지         대전광역시   135
15      거주지         울산광역시    82
16      거주지         세종자치시    28
17      거주지           경기도  1032
18      거주지           강원도    47
19      거주지           충청도   145
20      거주지           전라도   103
21      거주지           경상도   203
22      거주지  해외거주 등 기타 지역     6
23  이용 교통수단            항공  4310
24  이용 교통수단            선박   190
25       성별            남자  2086
26       성별            여자  2414
27       연령        15-20세    30
28       연령        21-30세   648
29       연령        31-40세  1658
30       연령        41-50세  1334
31       연령        51-60세   685
32       연령        61세 이상   144
33    여행 목적     휴가 및 순수여행  3732
34    여행 목적       비즈니스 여행   102
35    여행 목적            기타   666
36     여행형태    개별여행(자유여행)  3959
37     여행형태      완전패키지 여행    82
38     여행형태      부분패키지 여행   459
39     방문횟수            1회   806
40     방문횟수            2회  1155
41     방문횟수            3회   967
42     방문횟수         4회 이상  1572

- 전처리가 완료된 응답자 프로파일.
  + 월별로 나눠진 사례수가 1월을 제외하고는 큰 차이를 보이지 않음을 알 수 있다.
  + **코로나 시기로 인한 집합금지가 가장 심했던 3~5월의 데이터가 비어있다.**

In [193]:
profile_df_2021 = profile_df_2021.drop(index=range(9, 43)).reset_index(drop=True)

profile_df_2021

  분석 카테고리 세부 카테고리  사례수
0      월별     01월  237
1      월별     02월  402
2      월별     06월  576
3      월별     07월  572
4      월별     08월  493
5      월별     09월  441
6      월별     10월  619
7      월별     11월  610
8      월별     12월  552

### 1인당 지출 경비 전처리
- 1인당 지출 경비에 대한 카테고리 : 전체 부분, 항목별 평균 산출 부분, 숙박 부분, 식음료 부분, 항공/선박 부분, 관광/문화 지출 부분
- **1인당 지출 경비 부분이 지출 기준인원 항목의 하위 항목으로 분류되어 있어 응답자 프로파일처럼 해당 데이터의 비율을 명시함.**

#### 1인당 지출 경비 - 전체 비용
- 해당 파일에 대한 전처리

In [194]:
total_cost_2021 = pd.read_excel(DATA_path + '2021년 1인당 지출경비 - 개별 전체.xlsx')
total_cost_2021

,table,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,사례수,10만원 미만,10만원 이상-30만원 미만,30만원 이상-50만원 미만,50만원 이상-100만원 미만,100만원 이상-150만원 미만,150만원 이상,평균
1,전체,NaN,3959,2,19.5,28.6,36.7,8.4,4.8,616856.43
2,월별,01월,195,3.4,21.9,28.6,36.4,5.7,4.1,568421.94
3,월별,02월,356,3.1,18.6,30.5,35.5,7.8,4.5,593278.8
4,월별,06월,521,1.5,21.8,29.1,34.6,8.3,4.7,608374.73
5,월별,07월,507,1.9,19,22.5,41.5,9.1,6.1,649945.95
6,월별,08월,440,0.9,17.2,27.3,39.3,10.7,4.5,651897.42
7,월별,09월,381,2,19.8,25.8,40,6.7,5.8,634682.69
8,월별,10월,541,0.9,21.1,33.2,33,7.1,4.6,574032.19
9,월별,11월,537,2.9,18.7,31.5,33.6,8.5,4.8,607384.9
10,월별,12월,481,2.3,18.1,27.9,37.6,10.1,4,640789.9
11,거주지,서울특별시,1604,1.7,18.8,26.7,38.7,9.8,4.2,619519.01
12,거주지,부산광역시,277,0.9,22.2,24.5,40.5,7.7,4.1,624938.26
13,거주지,대구광역시,193,3.7,25.6,35,25.7,7.6,2.4,510527.28
14,거주지,인천광역시,195,1.8,13.5,32.3,38.7,6.9,6.7,665322.98
15,거주지,광주광역시,107,2.8,23.7,35.1,32.7,4.7,1,502084.51
16,거주지,대전광역시,116,0.7,18.2,29.2,42.1,5.4,4.4,607436.33
17,거주지,울산광역시,55,4.2,19.7,26.3,34.6,4.3,10.9,626134.93
18,거주지,세종자치시,25,0,21.6,35.7,37.6,3.2,1.9,523015.45
19,거주지,경기도,930,1.9,19.9,30.5,34.7,7.5,5.5,617850.37
20,거주지,강원도,44,0,26.1,27.8,36.5,4.9,4.7,584125.92
21,거주지,충청도,129,4.2,17.3,25,38.1,10.5,4.9,634650.74
22,거주지,전라도,97,1.9,15,26.1,35.7,9.6,11.7,833923.62
23,거주지,경상도,181,2.5,20,29.9,32,9.3,6.2,604022.42
24,거주지,해외거주 등 기타 지역,6,19.5,0,38.9,41.6,0,0,490949.49
25,이용 교통수단,항공,3785,1.9,19.7,28.9,37,8.5,4.1,601577.15
26,이용 교통수단,선박,175,4,15.4,22.2,30.4,6.9,21.1,948149.54
27,성별,남자,1796,2.2,18.7,28.1,36.1,8.9,6,632790.32
28,성별,여자,2163,1.8,20.2,29,37.3,8,3.8,603622.39
29,연령,15-20세,28,6.9,18.5,33.2,30.1,11.4,0,458150.54
30,연령,21-30세,572,2.1,25.8,27.1,34,7,4.1,587019.59
31,연령,31-40세,1466,1.8,17.2,28.3,37.4,9.7,5.6,646510.29
32,연령,41-50세,1193,2.2,16.9,28.8,39.3,7.5,5.2,631545
33,연령,51-60세,581,1.8,22.3,30.6,32.5,9.1,3.8,571143.67
34,연령,61세 이상,119,1.1,29.5,26.4,37.1,4.6,1.3,508145.6
35,여행 목적,휴가 및 순수여행,3348,1.6,18.5,28.3,38.1,8.6,5,625251.89
36,여행 목적,비즈니스 여행,78,1.4,11.5,39,34.8,2.6,10.7,787339.72
37,여행 목적,기타,534,4.6,27.1,28.8,28.4,7.9,3.2,539240.51
38,여행형태,개별여행(자유여행),3959,2,19.5,28.6,36.7,8.4,4.8,616856.43
39,방문횟수,1회,745,2.5,17.9,31.3,37.1,7.7,3.5,577758.44
40,방문횟수,2회,1022,1.9,21.6,30.6,33.4,7.4,5.1,588635.68
41,방문횟수,3회,863,1.6,19.6,24.5,40.6,8.7,5,634261.14
42,방문횟수,4회 이상,1330,2,18.6,28.1,36.6,9.4,5.2,649147.82
43,BASE : 문13=1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [195]:
columns = {'table' : '분석 카테고리',
           'Unnamed: 1' : '세부 카테고리',
           'Unnamed: 2' : '사례수',
           'Unnamed: 3' : '10만원 미만',
           'Unnamed: 4' : '10만원 이상-30만원 미만',
           'Unnamed: 5' : '30만원 이상-50만원 미만',
           'Unnamed: 6' : '50만원 이상-100만원 미만',
           'Unnamed: 7' : '100만원 이상-150만원 미만',
           'Unnamed: 8' : '150만원 이상',
           'Unnamed: 9' : '평균'}

total_cost_2021 = total_cost_2021.rename(columns = columns)
total_cost_2021

,분석 카테고리,세부 카테고리,사례수,10만원 미만,10만원 이상-30만원 미만,30만원 이상-50만원 미만,50만원 이상-100만원 미만,100만원 이상-150만원 미만,150만원 이상,평균
0,NaN,NaN,사례수,10만원 미만,10만원 이상-30만원 미만,30만원 이상-50만원 미만,50만원 이상-100만원 미만,100만원 이상-150만원 미만,150만원 이상,평균
1,전체,NaN,3959,2,19.5,28.6,36.7,8.4,4.8,616856.43
2,월별,01월,195,3.4,21.9,28.6,36.4,5.7,4.1,568421.94
3,월별,02월,356,3.1,18.6,30.5,35.5,7.8,4.5,593278.8
4,월별,06월,521,1.5,21.8,29.1,34.6,8.3,4.7,608374.73
5,월별,07월,507,1.9,19,22.5,41.5,9.1,6.1,649945.95
6,월별,08월,440,0.9,17.2,27.3,39.3,10.7,4.5,651897.42
7,월별,09월,381,2,19.8,25.8,40,6.7,5.8,634682.69
8,월별,10월,541,0.9,21.1,33.2,33,7.1,4.6,574032.19
9,월별,11월,537,2.9,18.7,31.5,33.6,8.5,4.8,607384.9
10,월별,12월,481,2.3,18.1,27.9,37.6,10.1,4,640789.9
11,거주지,서울특별시,1604,1.7,18.8,26.7,38.7,9.8,4.2,619519.01
12,거주지,부산광역시,277,0.9,22.2,24.5,40.5,7.7,4.1,624938.26
13,거주지,대구광역시,193,3.7,25.6,35,25.7,7.6,2.4,510527.28
14,거주지,인천광역시,195,1.8,13.5,32.3,38.7,6.9,6.7,665322.98
15,거주지,광주광역시,107,2.8,23.7,35.1,32.7,4.7,1,502084.51
16,거주지,대전광역시,116,0.7,18.2,29.2,42.1,5.4,4.4,607436.33
17,거주지,울산광역시,55,4.2,19.7,26.3,34.6,4.3,10.9,626134.93
18,거주지,세종자치시,25,0,21.6,35.7,37.6,3.2,1.9,523015.45
19,거주지,경기도,930,1.9,19.9,30.5,34.7,7.5,5.5,617850.37
20,거주지,강원도,44,0,26.1,27.8,36.5,4.9,4.7,584125.92
21,거주지,충청도,129,4.2,17.3,25,38.1,10.5,4.9,634650.74
22,거주지,전라도,97,1.9,15,26.1,35.7,9.6,11.7,833923.62
23,거주지,경상도,181,2.5,20,29.9,32,9.3,6.2,604022.42
24,거주지,해외거주 등 기타 지역,6,19.5,0,38.9,41.6,0,0,490949.49
25,이용 교통수단,항공,3785,1.9,19.7,28.9,37,8.5,4.1,601577.15
26,이용 교통수단,선박,175,4,15.4,22.2,30.4,6.9,21.1,948149.54
27,성별,남자,1796,2.2,18.7,28.1,36.1,8.9,6,632790.32
28,성별,여자,2163,1.8,20.2,29,37.3,8,3.8,603622.39
29,연령,15-20세,28,6.9,18.5,33.2,30.1,11.4,0,458150.54
30,연령,21-30세,572,2.1,25.8,27.1,34,7,4.1,587019.59
31,연령,31-40세,1466,1.8,17.2,28.3,37.4,9.7,5.6,646510.29
32,연령,41-50세,1193,2.2,16.9,28.8,39.3,7.5,5.2,631545
33,연령,51-60세,581,1.8,22.3,30.6,32.5,9.1,3.8,571143.67
34,연령,61세 이상,119,1.1,29.5,26.4,37.1,4.6,1.3,508145.6
35,여행 목적,휴가 및 순수여행,3348,1.6,18.5,28.3,38.1,8.6,5,625251.89
36,여행 목적,비즈니스 여행,78,1.4,11.5,39,34.8,2.6,10.7,787339.72
37,여행 목적,기타,534,4.6,27.1,28.8,28.4,7.9,3.2,539240.51
38,여행형태,개별여행(자유여행),3959,2,19.5,28.6,36.7,8.4,4.8,616856.43
39,방문횟수,1회,745,2.5,17.9,31.3,37.1,7.7,3.5,577758.44
40,방문횟수,2회,1022,1.9,21.6,30.6,33.4,7.4,5.1,588635.68
41,방문횟수,3회,863,1.6,19.6,24.5,40.6,8.7,5,634261.14
42,방문횟수,4회 이상,1330,2,18.6,28.1,36.6,9.4,5.2,649147.82
43,BASE : 문13=1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [196]:
total_cost_2021 = total_cost_2021.drop(index = [0, 1]).reset_index(drop=True)

total_cost_2021

,분석 카테고리,세부 카테고리,사례수,10만원 미만,10만원 이상-30만원 미만,30만원 이상-50만원 미만,50만원 이상-100만원 미만,100만원 이상-150만원 미만,150만원 이상,평균
0,월별,01월,195,3.4,21.9,28.6,36.4,5.7,4.1,568421.94
1,월별,02월,356,3.1,18.6,30.5,35.5,7.8,4.5,593278.8
2,월별,06월,521,1.5,21.8,29.1,34.6,8.3,4.7,608374.73
3,월별,07월,507,1.9,19,22.5,41.5,9.1,6.1,649945.95
4,월별,08월,440,0.9,17.2,27.3,39.3,10.7,4.5,651897.42
5,월별,09월,381,2,19.8,25.8,40,6.7,5.8,634682.69
6,월별,10월,541,0.9,21.1,33.2,33,7.1,4.6,574032.19
7,월별,11월,537,2.9,18.7,31.5,33.6,8.5,4.8,607384.9
8,월별,12월,481,2.3,18.1,27.9,37.6,10.1,4,640789.9
9,거주지,서울특별시,1604,1.7,18.8,26.7,38.7,9.8,4.2,619519.01
10,거주지,부산광역시,277,0.9,22.2,24.5,40.5,7.7,4.1,624938.26
11,거주지,대구광역시,193,3.7,25.6,35,25.7,7.6,2.4,510527.28
12,거주지,인천광역시,195,1.8,13.5,32.3,38.7,6.9,6.7,665322.98
13,거주지,광주광역시,107,2.8,23.7,35.1,32.7,4.7,1,502084.51
14,거주지,대전광역시,116,0.7,18.2,29.2,42.1,5.4,4.4,607436.33
15,거주지,울산광역시,55,4.2,19.7,26.3,34.6,4.3,10.9,626134.93
16,거주지,세종자치시,25,0,21.6,35.7,37.6,3.2,1.9,523015.45
17,거주지,경기도,930,1.9,19.9,30.5,34.7,7.5,5.5,617850.37
18,거주지,강원도,44,0,26.1,27.8,36.5,4.9,4.7,584125.92
19,거주지,충청도,129,4.2,17.3,25,38.1,10.5,4.9,634650.74
20,거주지,전라도,97,1.9,15,26.1,35.7,9.6,11.7,833923.62
21,거주지,경상도,181,2.5,20,29.9,32,9.3,6.2,604022.42
22,거주지,해외거주 등 기타 지역,6,19.5,0,38.9,41.6,0,0,490949.49
23,이용 교통수단,항공,3785,1.9,19.7,28.9,37,8.5,4.1,601577.15
24,이용 교통수단,선박,175,4,15.4,22.2,30.4,6.9,21.1,948149.54
25,성별,남자,1796,2.2,18.7,28.1,36.1,8.9,6,632790.32
26,성별,여자,2163,1.8,20.2,29,37.3,8,3.8,603622.39
27,연령,15-20세,28,6.9,18.5,33.2,30.1,11.4,0,458150.54
28,연령,21-30세,572,2.1,25.8,27.1,34,7,4.1,587019.59
29,연령,31-40세,1466,1.8,17.2,28.3,37.4,9.7,5.6,646510.29
30,연령,41-50세,1193,2.2,16.9,28.8,39.3,7.5,5.2,631545
31,연령,51-60세,581,1.8,22.3,30.6,32.5,9.1,3.8,571143.67
32,연령,61세 이상,119,1.1,29.5,26.4,37.1,4.6,1.3,508145.6
33,여행 목적,휴가 및 순수여행,3348,1.6,18.5,28.3,38.1,8.6,5,625251.89
34,여행 목적,비즈니스 여행,78,1.4,11.5,39,34.8,2.6,10.7,787339.72
35,여행 목적,기타,534,4.6,27.1,28.8,28.4,7.9,3.2,539240.51
36,여행형태,개별여행(자유여행),3959,2,19.5,28.6,36.7,8.4,4.8,616856.43
37,방문횟수,1회,745,2.5,17.9,31.3,37.1,7.7,3.5,577758.44
38,방문횟수,2회,1022,1.9,21.6,30.6,33.4,7.4,5.1,588635.68
39,방문횟수,3회,863,1.6,19.6,24.5,40.6,8.7,5,634261.14
40,방문횟수,4회 이상,1330,2,18.6,28.1,36.6,9.4,5.2,649147.82
41,BASE : 문13=1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- 전처리가 완료된 전체 비용에 대한 1인당 지출 경비.
  + 50만원 이상-100만원 미만의 비율이 가장 높은 결과를 보아 층화추출이 적용된 것으로 확인된다.

In [197]:
total_cost_2021 = total_cost_2021.drop(index = range(9, 42)).reset_index(drop=True)

total_cost_2021

,분석 카테고리,세부 카테고리,사례수,10만원 미만,10만원 이상-30만원 미만,30만원 이상-50만원 미만,50만원 이상-100만원 미만,100만원 이상-150만원 미만,150만원 이상,평균
0,월별,01월,195,3.4,21.9,28.6,36.4,5.7,4.1,568421.94
1,월별,02월,356,3.1,18.6,30.5,35.5,7.8,4.5,593278.8
2,월별,06월,521,1.5,21.8,29.1,34.6,8.3,4.7,608374.73
3,월별,07월,507,1.9,19,22.5,41.5,9.1,6.1,649945.95
4,월별,08월,440,0.9,17.2,27.3,39.3,10.7,4.5,651897.42
5,월별,09월,381,2,19.8,25.8,40,6.7,5.8,634682.69
6,월별,10월,541,0.9,21.1,33.2,33,7.1,4.6,574032.19
7,월별,11월,537,2.9,18.7,31.5,33.6,8.5,4.8,607384.9
8,월별,12월,481,2.3,18.1,27.9,37.6,10.1,4,640789.9

#### 1인당 지출 경비 - 항목별 평균 비용
- 해당 파일에 대한 전처리

In [198]:
average_cost_2021 = pd.read_excel(DATA_path + '2021년 1인당 지출경비 - 개별 항목별 평균.xlsx')
average_cost_2021

,table,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,사례수,숙박비,쇼핑비,식음료비,대중교통비,차량임대비(렌터카),관광/문화관련 지출,오락/운동관련 지출,기타비용,항공료/선박료
1,전체,NaN,3959,154088.5,64369,140843,8494.1,74277.6,24499.5,18580.3,26272,105432.4
2,월별,01월,195,139136.1,65685.4,130964.3,10830.2,57906.8,22785.4,18879.8,28711,93523
3,월별,02월,356,154374.2,71099.8,141490.5,7760.5,62052.1,20646.3,13760.5,26686.2,95408.6
4,월별,06월,521,151863.9,65918.5,149603.9,9389.4,73103.1,22135.9,13496.7,21433.7,101429.7
5,월별,07월,507,163766,65577.4,141153.1,8568.5,86132.9,25817.6,21392.9,34302,103235.5
6,월별,08월,440,163159.6,61352.7,142469.8,6080.1,90546.1,27456.9,18104.8,30151.6,112575.8
7,월별,09월,381,165961.2,64981.3,135381.7,10925.2,69657.7,27350.8,29587.5,25303.4,105534
8,월별,10월,541,137813,56773.3,132905.4,7653.2,73179.4,24485.6,16797,22806.8,101618.6
9,월별,11월,537,152324.5,60839.9,141893.8,8521.4,72084.9,23617.9,14013.2,23316.4,110772.9
10,월별,12월,481,154720.9,70661.1,145160.5,8240.6,71196.6,25245.4,23370.6,26163.2,116031
11,거주지,서울특별시,1604,159182.4,61018.9,141084.6,9055.2,75014.6,23290.8,18752.2,26143.7,105976.7
12,거주지,부산광역시,277,133205.1,67377.7,147733.6,8702.3,89990.1,26775.2,20922,30895.4,99336.9
13,거주지,대구광역시,193,130548.6,57467.8,114041,6632.7,60898.8,22580,9414.4,20334.6,88609.5
14,거주지,인천광역시,195,170549.3,74005.8,152908.7,12059.7,73192.6,29284.5,17339.2,31682.5,104300.6
15,거주지,광주광역시,107,114798.5,60517.2,111398.5,8948.1,72309.5,21996.4,7357.4,19174.7,85584.3
16,거주지,대전광역시,116,133933.7,72997.3,149617.4,8202,68623.7,35434.6,10015.6,24083.3,104528.8
17,거주지,울산광역시,55,170031.2,65717.1,127696.7,2026.8,67742.2,31341.6,21676.6,29770.4,110132.2
18,거주지,세종자치시,25,135447.9,36038.6,125639.7,16418.3,72705.6,18256.1,4972.4,23412.6,90124.4
19,거주지,경기도,930,154765.7,65355.4,145540.8,7813.2,72443.5,23595.9,17942.2,23369.1,107024.6
20,거주지,강원도,44,173283.2,59628.1,137581.8,5972.8,61695.5,28678.6,11455,19871.2,85959.8
21,거주지,충청도,129,178938.9,60963.1,134963.9,3953.9,77211.4,22506.2,13156.5,17689.3,125267.5
22,거주지,전라도,97,184092.3,82054.8,151470.4,16336.5,80931.8,29192.1,92142.7,57238.7,140464.4
23,거주지,경상도,181,143051.2,75808,138259.3,5400.7,73256.9,24734.1,6657.6,30307.2,106547.4
24,거주지,해외거주 등 기타 지역,6,61498.5,61496.1,91220,5114.5,63981.8,14029.3,36745.4,75491.5,81372.4
25,이용 교통수단,항공,3785,149462.4,64087.6,138192.9,8072,75522.1,23808.7,15196.9,24205.2,103029.4
26,이용 교통수단,선박,175,254394.2,70470,198304.2,17647.3,47294.3,39477.1,91942,71085.1,157535.4
27,성별,남자,1796,156941.9,66860.4,134640.2,8226.2,74278.3,25230.6,24757.8,31293.6,110561.2
28,성별,여자,2163,151718.6,62299.8,145994.8,8716.7,74277,23892.2,13449.6,22101.2,101172.6
29,연령,15-20세,28,114937.5,55630.2,111557.4,19226.6,41593.2,14937.5,6430.5,9506.4,84331.2
30,연령,21-30세,572,148225.8,65446.2,138613.4,10630.7,81843.5,21174.9,11047.1,19380.5,90657.6
31,연령,31-40세,1466,167714.8,70512,152522.3,7801.5,78187.3,25874.5,15346.3,25892.9,102658.6
32,연령,41-50세,1193,157003.8,61340.9,135161.5,9250,72053.7,27209.2,25557,28772.7,115196.4
33,연령,51-60세,581,129048.3,58993.3,128618.5,6703.1,66258.8,20821,22989.3,29685,108026.6
34,연령,61세 이상,119,116619.6,42191.2,131118.4,5432.7,58828.4,16589.7,6071.9,26257.1,105036.7
35,여행 목적,휴가 및 순수여행,3348,161125.4,64958.8,143390.4,7958,77145.4,25537.9,14600.9,25066.9,105468.3
36,여행 목적,비즈니스 여행,78,194431.3,65934.1,118077.9,17060.7,76431.1,22668.2,91421.4,44871.3,156443.7
37,여행 목적,기타,534,104030.4,60439.2,128186.8,10606,55966.9,18250.8,32899.6,31114.1,97746.8
38,여행형태,개별여행(자유여행),3959,154088.5,64369,140843,8494.1,74277.6,24499.5,18580.3,26272,105432.4
39,방문횟수,1회,745,140424.1,59152.4,141462.2,6150.4,72075.7,26345.2,10289,19287.2,102572.3
40,방문횟수,2회,1022,150460.9,62477.3,141091.2,7836,68940.6,23650.1,12273,22209.4,99697.2
41,방문횟수,3회,863,162536.1,65168.5,143699.9,8953,74282.3,25710.1,18885.1,25612.3,109413.8
42,방문횟수,4회 이상,1330,159049.3,68225.8,138451.9,10015,79608.5,23332.7,27873,33733.7,108857.9
43,BASE : 문13=1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [199]:
columns = {'table' : '분석 카테고리',
           'Unnamed: 1' : '세부 카테고리',
           'Unnamed: 2' : '사례수',
           'Unnamed: 3' : '숙박비',
           'Unnamed: 4' : '쇼핑비',
           'Unnamed: 5' : '식음료비',
           'Unnamed: 6' : '대중교통비',
           'Unnamed: 7' : '차량임대비(렌터카)',
           'Unnamed: 8' : '관광/문화관련 지출',
           'Unnamed: 9' : '오락/운동관련 지출',
           'Unnamed: 10' : '기타비용',
           'Unnamed: 11' : '항공료/선박료'}

average_cost_2021 = average_cost_2021.rename(columns = columns)
average_cost_2021

,분석 카테고리,세부 카테고리,사례수,숙박비,쇼핑비,식음료비,대중교통비,차량임대비(렌터카),관광/문화관련 지출,오락/운동관련 지출,기타비용,항공료/선박료
0,NaN,NaN,사례수,숙박비,쇼핑비,식음료비,대중교통비,차량임대비(렌터카),관광/문화관련 지출,오락/운동관련 지출,기타비용,항공료/선박료
1,전체,NaN,3959,154088.5,64369,140843,8494.1,74277.6,24499.5,18580.3,26272,105432.4
2,월별,01월,195,139136.1,65685.4,130964.3,10830.2,57906.8,22785.4,18879.8,28711,93523
3,월별,02월,356,154374.2,71099.8,141490.5,7760.5,62052.1,20646.3,13760.5,26686.2,95408.6
4,월별,06월,521,151863.9,65918.5,149603.9,9389.4,73103.1,22135.9,13496.7,21433.7,101429.7
5,월별,07월,507,163766,65577.4,141153.1,8568.5,86132.9,25817.6,21392.9,34302,103235.5
6,월별,08월,440,163159.6,61352.7,142469.8,6080.1,90546.1,27456.9,18104.8,30151.6,112575.8
7,월별,09월,381,165961.2,64981.3,135381.7,10925.2,69657.7,27350.8,29587.5,25303.4,105534
8,월별,10월,541,137813,56773.3,132905.4,7653.2,73179.4,24485.6,16797,22806.8,101618.6
9,월별,11월,537,152324.5,60839.9,141893.8,8521.4,72084.9,23617.9,14013.2,23316.4,110772.9
10,월별,12월,481,154720.9,70661.1,145160.5,8240.6,71196.6,25245.4,23370.6,26163.2,116031
11,거주지,서울특별시,1604,159182.4,61018.9,141084.6,9055.2,75014.6,23290.8,18752.2,26143.7,105976.7
12,거주지,부산광역시,277,133205.1,67377.7,147733.6,8702.3,89990.1,26775.2,20922,30895.4,99336.9
13,거주지,대구광역시,193,130548.6,57467.8,114041,6632.7,60898.8,22580,9414.4,20334.6,88609.5
14,거주지,인천광역시,195,170549.3,74005.8,152908.7,12059.7,73192.6,29284.5,17339.2,31682.5,104300.6
15,거주지,광주광역시,107,114798.5,60517.2,111398.5,8948.1,72309.5,21996.4,7357.4,19174.7,85584.3
16,거주지,대전광역시,116,133933.7,72997.3,149617.4,8202,68623.7,35434.6,10015.6,24083.3,104528.8
17,거주지,울산광역시,55,170031.2,65717.1,127696.7,2026.8,67742.2,31341.6,21676.6,29770.4,110132.2
18,거주지,세종자치시,25,135447.9,36038.6,125639.7,16418.3,72705.6,18256.1,4972.4,23412.6,90124.4
19,거주지,경기도,930,154765.7,65355.4,145540.8,7813.2,72443.5,23595.9,17942.2,23369.1,107024.6
20,거주지,강원도,44,173283.2,59628.1,137581.8,5972.8,61695.5,28678.6,11455,19871.2,85959.8
21,거주지,충청도,129,178938.9,60963.1,134963.9,3953.9,77211.4,22506.2,13156.5,17689.3,125267.5
22,거주지,전라도,97,184092.3,82054.8,151470.4,16336.5,80931.8,29192.1,92142.7,57238.7,140464.4
23,거주지,경상도,181,143051.2,75808,138259.3,5400.7,73256.9,24734.1,6657.6,30307.2,106547.4
24,거주지,해외거주 등 기타 지역,6,61498.5,61496.1,91220,5114.5,63981.8,14029.3,36745.4,75491.5,81372.4
25,이용 교통수단,항공,3785,149462.4,64087.6,138192.9,8072,75522.1,23808.7,15196.9,24205.2,103029.4
26,이용 교통수단,선박,175,254394.2,70470,198304.2,17647.3,47294.3,39477.1,91942,71085.1,157535.4
27,성별,남자,1796,156941.9,66860.4,134640.2,8226.2,74278.3,25230.6,24757.8,31293.6,110561.2
28,성별,여자,2163,151718.6,62299.8,145994.8,8716.7,74277,23892.2,13449.6,22101.2,101172.6
29,연령,15-20세,28,114937.5,55630.2,111557.4,19226.6,41593.2,14937.5,6430.5,9506.4,84331.2
30,연령,21-30세,572,148225.8,65446.2,138613.4,10630.7,81843.5,21174.9,11047.1,19380.5,90657.6
31,연령,31-40세,1466,167714.8,70512,152522.3,7801.5,78187.3,25874.5,15346.3,25892.9,102658.6
32,연령,41-50세,1193,157003.8,61340.9,135161.5,9250,72053.7,27209.2,25557,28772.7,115196.4
33,연령,51-60세,581,129048.3,58993.3,128618.5,6703.1,66258.8,20821,22989.3,29685,108026.6
34,연령,61세 이상,119,116619.6,42191.2,131118.4,5432.7,58828.4,16589.7,6071.9,26257.1,105036.7
35,여행 목적,휴가 및 순수여행,3348,161125.4,64958.8,143390.4,7958,77145.4,25537.9,14600.9,25066.9,105468.3
36,여행 목적,비즈니스 여행,78,194431.3,65934.1,118077.9,17060.7,76431.1,22668.2,91421.4,44871.3,156443.7
37,여행 목적,기타,534,104030.4,60439.2,128186.8,10606,55966.9,18250.8,32899.6,31114.1,97746.8
38,여행형태,개별여행(자유여행),3959,154088.5,64369,140843,8494.1,74277.6,24499.5,18580.3,26272,105432.4
39,방문횟수,1회,745,140424.1,59152.4,141462.2,6150.4,72075.7,26345.2,10289,19287.2,102572.3
40,방문횟수,2회,1022,150460.9,62477.3,141091.2,7836,68940.6,23650.1,12273,22209.4,99697.2
41,방문횟수,3회,863,162536.1,65168.5,143699.9,8953,74282.3,25710.1,18885.1,25612.3,109413.8
42,방문횟수,4회 이상,1330,159049.3,68225.8,138451.9,10015,79608.5,23332.7,27873,33733.7,108857.9
43,BASE : 문13=1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [200]:
average_cost_2021 = average_cost_2021.drop(index = [0, 1]).reset_index(drop=True)

average_cost_2021

,분석 카테고리,세부 카테고리,사례수,숙박비,쇼핑비,식음료비,대중교통비,차량임대비(렌터카),관광/문화관련 지출,오락/운동관련 지출,기타비용,항공료/선박료
0,월별,01월,195,139136.1,65685.4,130964.3,10830.2,57906.8,22785.4,18879.8,28711,93523
1,월별,02월,356,154374.2,71099.8,141490.5,7760.5,62052.1,20646.3,13760.5,26686.2,95408.6
2,월별,06월,521,151863.9,65918.5,149603.9,9389.4,73103.1,22135.9,13496.7,21433.7,101429.7
3,월별,07월,507,163766,65577.4,141153.1,8568.5,86132.9,25817.6,21392.9,34302,103235.5
4,월별,08월,440,163159.6,61352.7,142469.8,6080.1,90546.1,27456.9,18104.8,30151.6,112575.8
5,월별,09월,381,165961.2,64981.3,135381.7,10925.2,69657.7,27350.8,29587.5,25303.4,105534
6,월별,10월,541,137813,56773.3,132905.4,7653.2,73179.4,24485.6,16797,22806.8,101618.6
7,월별,11월,537,152324.5,60839.9,141893.8,8521.4,72084.9,23617.9,14013.2,23316.4,110772.9
8,월별,12월,481,154720.9,70661.1,145160.5,8240.6,71196.6,25245.4,23370.6,26163.2,116031
9,거주지,서울특별시,1604,159182.4,61018.9,141084.6,9055.2,75014.6,23290.8,18752.2,26143.7,105976.7
10,거주지,부산광역시,277,133205.1,67377.7,147733.6,8702.3,89990.1,26775.2,20922,30895.4,99336.9
11,거주지,대구광역시,193,130548.6,57467.8,114041,6632.7,60898.8,22580,9414.4,20334.6,88609.5
12,거주지,인천광역시,195,170549.3,74005.8,152908.7,12059.7,73192.6,29284.5,17339.2,31682.5,104300.6
13,거주지,광주광역시,107,114798.5,60517.2,111398.5,8948.1,72309.5,21996.4,7357.4,19174.7,85584.3
14,거주지,대전광역시,116,133933.7,72997.3,149617.4,8202,68623.7,35434.6,10015.6,24083.3,104528.8
15,거주지,울산광역시,55,170031.2,65717.1,127696.7,2026.8,67742.2,31341.6,21676.6,29770.4,110132.2
16,거주지,세종자치시,25,135447.9,36038.6,125639.7,16418.3,72705.6,18256.1,4972.4,23412.6,90124.4
17,거주지,경기도,930,154765.7,65355.4,145540.8,7813.2,72443.5,23595.9,17942.2,23369.1,107024.6
18,거주지,강원도,44,173283.2,59628.1,137581.8,5972.8,61695.5,28678.6,11455,19871.2,85959.8
19,거주지,충청도,129,178938.9,60963.1,134963.9,3953.9,77211.4,22506.2,13156.5,17689.3,125267.5
20,거주지,전라도,97,184092.3,82054.8,151470.4,16336.5,80931.8,29192.1,92142.7,57238.7,140464.4
21,거주지,경상도,181,143051.2,75808,138259.3,5400.7,73256.9,24734.1,6657.6,30307.2,106547.4
22,거주지,해외거주 등 기타 지역,6,61498.5,61496.1,91220,5114.5,63981.8,14029.3,36745.4,75491.5,81372.4
23,이용 교통수단,항공,3785,149462.4,64087.6,138192.9,8072,75522.1,23808.7,15196.9,24205.2,103029.4
24,이용 교통수단,선박,175,254394.2,70470,198304.2,17647.3,47294.3,39477.1,91942,71085.1,157535.4
25,성별,남자,1796,156941.9,66860.4,134640.2,8226.2,74278.3,25230.6,24757.8,31293.6,110561.2
26,성별,여자,2163,151718.6,62299.8,145994.8,8716.7,74277,23892.2,13449.6,22101.2,101172.6
27,연령,15-20세,28,114937.5,55630.2,111557.4,19226.6,41593.2,14937.5,6430.5,9506.4,84331.2
28,연령,21-30세,572,148225.8,65446.2,138613.4,10630.7,81843.5,21174.9,11047.1,19380.5,90657.6
29,연령,31-40세,1466,167714.8,70512,152522.3,7801.5,78187.3,25874.5,15346.3,25892.9,102658.6
30,연령,41-50세,1193,157003.8,61340.9,135161.5,9250,72053.7,27209.2,25557,28772.7,115196.4
31,연령,51-60세,581,129048.3,58993.3,128618.5,6703.1,66258.8,20821,22989.3,29685,108026.6
32,연령,61세 이상,119,116619.6,42191.2,131118.4,5432.7,58828.4,16589.7,6071.9,26257.1,105036.7
33,여행 목적,휴가 및 순수여행,3348,161125.4,64958.8,143390.4,7958,77145.4,25537.9,14600.9,25066.9,105468.3
34,여행 목적,비즈니스 여행,78,194431.3,65934.1,118077.9,17060.7,76431.1,22668.2,91421.4,44871.3,156443.7
35,여행 목적,기타,534,104030.4,60439.2,128186.8,10606,55966.9,18250.8,32899.6,31114.1,97746.8
36,여행형태,개별여행(자유여행),3959,154088.5,64369,140843,8494.1,74277.6,24499.5,18580.3,26272,105432.4
37,방문횟수,1회,745,140424.1,59152.4,141462.2,6150.4,72075.7,26345.2,10289,19287.2,102572.3
38,방문횟수,2회,1022,150460.9,62477.3,141091.2,7836,68940.6,23650.1,12273,22209.4,99697.2
39,방문횟수,3회,863,162536.1,65168.5,143699.9,8953,74282.3,25710.1,18885.1,25612.3,109413.8
40,방문횟수,4회 이상,1330,159049.3,68225.8,138451.9,10015,79608.5,23332.7,27873,33733.7,108857.9
41,BASE : 문13=1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- 전처리가 완료된 항목별 평균 비용에 대한 1인당 지출 경비.
  + 전체적인 통계를 봤을 때, 숙박비가 가장 높고 다음으로 식음료비에 대한 지출이
 높았다.

In [201]:
average_cost_2021 = average_cost_2021.drop(index = range(9, 42)).reset_index(drop=True)

average_cost_2021

,분석 카테고리,세부 카테고리,사례수,숙박비,쇼핑비,식음료비,대중교통비,차량임대비(렌터카),관광/문화관련 지출,오락/운동관련 지출,기타비용,항공료/선박료
0,월별,01월,195,139136.1,65685.4,130964.3,10830.2,57906.8,22785.4,18879.8,28711,93523
1,월별,02월,356,154374.2,71099.8,141490.5,7760.5,62052.1,20646.3,13760.5,26686.2,95408.6
2,월별,06월,521,151863.9,65918.5,149603.9,9389.4,73103.1,22135.9,13496.7,21433.7,101429.7
3,월별,07월,507,163766,65577.4,141153.1,8568.5,86132.9,25817.6,21392.9,34302,103235.5
4,월별,08월,440,163159.6,61352.7,142469.8,6080.1,90546.1,27456.9,18104.8,30151.6,112575.8
5,월별,09월,381,165961.2,64981.3,135381.7,10925.2,69657.7,27350.8,29587.5,25303.4,105534
6,월별,10월,541,137813,56773.3,132905.4,7653.2,73179.4,24485.6,16797,22806.8,101618.6
7,월별,11월,537,152324.5,60839.9,141893.8,8521.4,72084.9,23617.9,14013.2,23316.4,110772.9
8,월별,12월,481,154720.9,70661.1,145160.5,8240.6,71196.6,25245.4,23370.6,26163.2,116031

#### 1인당 지출 경비 - 숙박 비용
- 해당 파일에 대한 전처리

In [206]:
accommodation_cost_2021 = pd.read_excel(DATA_path + '2021년 1인당 지출경비 - 개별 숙박비.xlsx')
accommodation_cost_2021

,table,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,사례수,5만원 미만,5만원 이상-7만원 미만,7만원 이상-10만원 미만,10만원 이상-20만원 미만,20만원 이상-30만원 미만,30만원 이상,경험없음,평균
1,전체,NaN,3959,15,11.4,10.4,30.1,11.9,13.1,8.1,154088.5
2,월별,01월,195,16.9,11.4,10.9,27.8,12.1,11.7,9.1,139136.13
3,월별,02월,356,16.1,10.8,11.7,28.8,16.3,11.4,4.8,154374.17
4,월별,06월,521,17.8,11.5,11.1,32,9.6,13.4,4.5,151863.92
5,월별,07월,507,16.1,11,10,28.8,12.2,15.2,6.7,163765.99
6,월별,08월,440,12.7,11.8,7.1,29.8,12.8,14.6,11.2,163159.62
7,월별,09월,381,14,7.8,8.9,32.9,12.2,14.7,9.6,165961.21
8,월별,10월,541,14.8,14.7,10.6,30.8,9.4,11.5,8,137812.96
9,월별,11월,537,15.3,9.6,11.6,29.1,11.4,11.7,11.1,152324.52
10,월별,12월,481,12,12.8,11.2,29.8,12.8,13.1,8.2,154720.87
11,거주지,서울특별시,1604,13.6,10.6,10.7,30.1,12.7,14.2,8,159182.41
12,거주지,부산광역시,277,17.6,11.3,8.3,32.1,9.7,12,9,133205.13
13,거주지,대구광역시,193,20.8,15.4,12,27.4,9.2,8.9,6.2,130548.58
14,거주지,인천광역시,195,8.9,12.8,11,31.3,12.4,16.1,7.5,170549.31
15,거주지,광주광역시,107,16.8,22.7,9.3,25.6,9.8,10.6,5.2,114798.46
16,거주지,대전광역시,116,11.3,14.2,8.4,35.3,15.9,8,7,133933.73
17,거주지,울산광역시,55,24.4,7.7,12.3,23.7,8.4,15.5,8.1,170031.15
18,거주지,세종자치시,25,34.4,5.7,4.4,32.5,8.9,14.1,0,135447.85
19,거주지,경기도,930,15.3,9.8,11.9,30.1,11.7,12.4,8.9,154765.74
20,거주지,강원도,44,12.7,14.5,7.8,32.8,11.1,12.3,8.9,173283.2
21,거주지,충청도,129,11.9,8.3,7.7,34.8,15.5,12.4,9.4,178938.91
22,거주지,전라도,97,15.6,13,6.2,27.5,11.6,16.2,10,184092.32
23,거주지,경상도,181,19.3,15.3,6.9,28.1,9.5,13.3,7.6,143051.24
24,거주지,해외거주 등 기타 지역,6,41,19.5,19.5,20.1,0,0,0,61498.53
25,이용 교통수단,항공,3785,15,11.6,10.6,30.4,12,12.7,7.8,149462.39
26,이용 교통수단,선박,175,15.8,7.6,5.8,24.6,9.7,23,13.6,254394.16
27,성별,남자,1796,15.4,10.8,10,29.8,13.5,13.3,7.1,156941.92
28,성별,여자,2163,14.6,11.9,10.6,30.4,10.6,12.9,8.9,151718.58
29,연령,15-20세,28,15.9,16.3,4.1,32.7,18.2,2.9,10,114937.48
30,연령,21-30세,572,17.3,14,10.6,28.7,11.6,12.3,5.4,148225.76
31,연령,31-40세,1466,13.6,10.5,8.8,31.7,12.4,15,8,167714.83
32,연령,41-50세,1193,15.1,10.6,11.3,30.2,11.9,13.2,7.8,157003.82
33,연령,51-60세,581,16.3,11.2,12.4,27.6,10.7,10.4,11.3,129048.26
34,연령,61세 이상,119,14.2,17.8,10.7,28.2,11.8,7.7,9.7,116619.59
35,여행 목적,휴가 및 순수여행,3348,14.3,11.3,10.6,31.3,12.1,14.1,6.3,161125.41
36,여행 목적,비즈니스 여행,78,16.7,11.5,7.2,28.7,12.6,16.1,7.1,194431.29
37,여행 목적,기타,534,19.1,12.1,9.5,23,10.4,6.6,19.3,104030.37
38,여행형태,개별여행(자유여행),3959,15,11.4,10.4,30.1,11.9,13.1,8.1,154088.5
39,방문횟수,1회,745,14.8,13.4,10.7,31.8,9.5,11.3,8.4,140424.07
40,방문횟수,2회,1022,16.4,10.6,12.2,30.1,10,12.7,8.1,150460.87
41,방문횟수,3회,863,15.2,11.3,9.2,31.4,12.8,14.9,5.1,162536.11
42,방문횟수,4회 이상,1330,13.9,11,9.5,28.4,14,13.3,9.9,159049.25
43,BASE : 문13=1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [207]:
columns = {'table' : '분석 카테고리',
           'Unnamed: 1' : '세부 카테고리',
           'Unnamed: 2' : '사례수',
           'Unnamed: 3' : '5만원 미만',
           'Unnamed: 4' : '5만원 이상-7만원 미만',
           'Unnamed: 5' : '7만원 이상-10만원 미만',
           'Unnamed: 6' : '10만원 이상-20만원 미만',
           'Unnamed: 7' : '20만원 이상-30만원 미만',
           'Unnamed: 8' : '30만원 이상',
           'Unnamed: 9' : '경험없음',
           'Unnamed: 10' : '평균'}

accommodation_cost_2021 = accommodation_cost_2021.rename(columns = columns)
accommodation_cost_2021

,분석 카테고리,세부 카테고리,사례수,5만원 미만,5만원 이상-7만원 미만,7만원 이상-10만원 미만,10만원 이상-20만원 미만,20만원 이상-30만원 미만,30만원 이상,경험없음,평균
0,NaN,NaN,사례수,5만원 미만,5만원 이상-7만원 미만,7만원 이상-10만원 미만,10만원 이상-20만원 미만,20만원 이상-30만원 미만,30만원 이상,경험없음,평균
1,전체,NaN,3959,15,11.4,10.4,30.1,11.9,13.1,8.1,154088.5
2,월별,01월,195,16.9,11.4,10.9,27.8,12.1,11.7,9.1,139136.13
3,월별,02월,356,16.1,10.8,11.7,28.8,16.3,11.4,4.8,154374.17
4,월별,06월,521,17.8,11.5,11.1,32,9.6,13.4,4.5,151863.92
5,월별,07월,507,16.1,11,10,28.8,12.2,15.2,6.7,163765.99
6,월별,08월,440,12.7,11.8,7.1,29.8,12.8,14.6,11.2,163159.62
7,월별,09월,381,14,7.8,8.9,32.9,12.2,14.7,9.6,165961.21
8,월별,10월,541,14.8,14.7,10.6,30.8,9.4,11.5,8,137812.96
9,월별,11월,537,15.3,9.6,11.6,29.1,11.4,11.7,11.1,152324.52
10,월별,12월,481,12,12.8,11.2,29.8,12.8,13.1,8.2,154720.87
11,거주지,서울특별시,1604,13.6,10.6,10.7,30.1,12.7,14.2,8,159182.41
12,거주지,부산광역시,277,17.6,11.3,8.3,32.1,9.7,12,9,133205.13
13,거주지,대구광역시,193,20.8,15.4,12,27.4,9.2,8.9,6.2,130548.58
14,거주지,인천광역시,195,8.9,12.8,11,31.3,12.4,16.1,7.5,170549.31
15,거주지,광주광역시,107,16.8,22.7,9.3,25.6,9.8,10.6,5.2,114798.46
16,거주지,대전광역시,116,11.3,14.2,8.4,35.3,15.9,8,7,133933.73
17,거주지,울산광역시,55,24.4,7.7,12.3,23.7,8.4,15.5,8.1,170031.15
18,거주지,세종자치시,25,34.4,5.7,4.4,32.5,8.9,14.1,0,135447.85
19,거주지,경기도,930,15.3,9.8,11.9,30.1,11.7,12.4,8.9,154765.74
20,거주지,강원도,44,12.7,14.5,7.8,32.8,11.1,12.3,8.9,173283.2
21,거주지,충청도,129,11.9,8.3,7.7,34.8,15.5,12.4,9.4,178938.91
22,거주지,전라도,97,15.6,13,6.2,27.5,11.6,16.2,10,184092.32
23,거주지,경상도,181,19.3,15.3,6.9,28.1,9.5,13.3,7.6,143051.24
24,거주지,해외거주 등 기타 지역,6,41,19.5,19.5,20.1,0,0,0,61498.53
25,이용 교통수단,항공,3785,15,11.6,10.6,30.4,12,12.7,7.8,149462.39
26,이용 교통수단,선박,175,15.8,7.6,5.8,24.6,9.7,23,13.6,254394.16
27,성별,남자,1796,15.4,10.8,10,29.8,13.5,13.3,7.1,156941.92
28,성별,여자,2163,14.6,11.9,10.6,30.4,10.6,12.9,8.9,151718.58
29,연령,15-20세,28,15.9,16.3,4.1,32.7,18.2,2.9,10,114937.48
30,연령,21-30세,572,17.3,14,10.6,28.7,11.6,12.3,5.4,148225.76
31,연령,31-40세,1466,13.6,10.5,8.8,31.7,12.4,15,8,167714.83
32,연령,41-50세,1193,15.1,10.6,11.3,30.2,11.9,13.2,7.8,157003.82
33,연령,51-60세,581,16.3,11.2,12.4,27.6,10.7,10.4,11.3,129048.26
34,연령,61세 이상,119,14.2,17.8,10.7,28.2,11.8,7.7,9.7,116619.59
35,여행 목적,휴가 및 순수여행,3348,14.3,11.3,10.6,31.3,12.1,14.1,6.3,161125.41
36,여행 목적,비즈니스 여행,78,16.7,11.5,7.2,28.7,12.6,16.1,7.1,194431.29
37,여행 목적,기타,534,19.1,12.1,9.5,23,10.4,6.6,19.3,104030.37
38,여행형태,개별여행(자유여행),3959,15,11.4,10.4,30.1,11.9,13.1,8.1,154088.5
39,방문횟수,1회,745,14.8,13.4,10.7,31.8,9.5,11.3,8.4,140424.07
40,방문횟수,2회,1022,16.4,10.6,12.2,30.1,10,12.7,8.1,150460.87
41,방문횟수,3회,863,15.2,11.3,9.2,31.4,12.8,14.9,5.1,162536.11
42,방문횟수,4회 이상,1330,13.9,11,9.5,28.4,14,13.3,9.9,159049.25
43,BASE : 문13=1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [208]:
accommodation_cost_2021 = accommodation_cost_2021.drop(index = [0, 1]).reset_index(drop=True)

accommodation_cost_2021

,분석 카테고리,세부 카테고리,사례수,5만원 미만,5만원 이상-7만원 미만,7만원 이상-10만원 미만,10만원 이상-20만원 미만,20만원 이상-30만원 미만,30만원 이상,경험없음,평균
0,월별,01월,195,16.9,11.4,10.9,27.8,12.1,11.7,9.1,139136.13
1,월별,02월,356,16.1,10.8,11.7,28.8,16.3,11.4,4.8,154374.17
2,월별,06월,521,17.8,11.5,11.1,32,9.6,13.4,4.5,151863.92
3,월별,07월,507,16.1,11,10,28.8,12.2,15.2,6.7,163765.99
4,월별,08월,440,12.7,11.8,7.1,29.8,12.8,14.6,11.2,163159.62
5,월별,09월,381,14,7.8,8.9,32.9,12.2,14.7,9.6,165961.21
6,월별,10월,541,14.8,14.7,10.6,30.8,9.4,11.5,8,137812.96
7,월별,11월,537,15.3,9.6,11.6,29.1,11.4,11.7,11.1,152324.52
8,월별,12월,481,12,12.8,11.2,29.8,12.8,13.1,8.2,154720.87
9,거주지,서울특별시,1604,13.6,10.6,10.7,30.1,12.7,14.2,8,159182.41
10,거주지,부산광역시,277,17.6,11.3,8.3,32.1,9.7,12,9,133205.13
11,거주지,대구광역시,193,20.8,15.4,12,27.4,9.2,8.9,6.2,130548.58
12,거주지,인천광역시,195,8.9,12.8,11,31.3,12.4,16.1,7.5,170549.31
13,거주지,광주광역시,107,16.8,22.7,9.3,25.6,9.8,10.6,5.2,114798.46
14,거주지,대전광역시,116,11.3,14.2,8.4,35.3,15.9,8,7,133933.73
15,거주지,울산광역시,55,24.4,7.7,12.3,23.7,8.4,15.5,8.1,170031.15
16,거주지,세종자치시,25,34.4,5.7,4.4,32.5,8.9,14.1,0,135447.85
17,거주지,경기도,930,15.3,9.8,11.9,30.1,11.7,12.4,8.9,154765.74
18,거주지,강원도,44,12.7,14.5,7.8,32.8,11.1,12.3,8.9,173283.2
19,거주지,충청도,129,11.9,8.3,7.7,34.8,15.5,12.4,9.4,178938.91
20,거주지,전라도,97,15.6,13,6.2,27.5,11.6,16.2,10,184092.32
21,거주지,경상도,181,19.3,15.3,6.9,28.1,9.5,13.3,7.6,143051.24
22,거주지,해외거주 등 기타 지역,6,41,19.5,19.5,20.1,0,0,0,61498.53
23,이용 교통수단,항공,3785,15,11.6,10.6,30.4,12,12.7,7.8,149462.39
24,이용 교통수단,선박,175,15.8,7.6,5.8,24.6,9.7,23,13.6,254394.16
25,성별,남자,1796,15.4,10.8,10,29.8,13.5,13.3,7.1,156941.92
26,성별,여자,2163,14.6,11.9,10.6,30.4,10.6,12.9,8.9,151718.58
27,연령,15-20세,28,15.9,16.3,4.1,32.7,18.2,2.9,10,114937.48
28,연령,21-30세,572,17.3,14,10.6,28.7,11.6,12.3,5.4,148225.76
29,연령,31-40세,1466,13.6,10.5,8.8,31.7,12.4,15,8,167714.83
30,연령,41-50세,1193,15.1,10.6,11.3,30.2,11.9,13.2,7.8,157003.82
31,연령,51-60세,581,16.3,11.2,12.4,27.6,10.7,10.4,11.3,129048.26
32,연령,61세 이상,119,14.2,17.8,10.7,28.2,11.8,7.7,9.7,116619.59
33,여행 목적,휴가 및 순수여행,3348,14.3,11.3,10.6,31.3,12.1,14.1,6.3,161125.41
34,여행 목적,비즈니스 여행,78,16.7,11.5,7.2,28.7,12.6,16.1,7.1,194431.29
35,여행 목적,기타,534,19.1,12.1,9.5,23,10.4,6.6,19.3,104030.37
36,여행형태,개별여행(자유여행),3959,15,11.4,10.4,30.1,11.9,13.1,8.1,154088.5
37,방문횟수,1회,745,14.8,13.4,10.7,31.8,9.5,11.3,8.4,140424.07
38,방문횟수,2회,1022,16.4,10.6,12.2,30.1,10,12.7,8.1,150460.87
39,방문횟수,3회,863,15.2,11.3,9.2,31.4,12.8,14.9,5.1,162536.11
40,방문횟수,4회 이상,1330,13.9,11,9.5,28.4,14,13.3,9.9,159049.25
41,BASE : 문13=1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- 전처리가 완료된 숙박 비용에 대한 1인당 지출 경비.
  + 10만원 이상-20만원 미만의 비율이 가장 높은 결과를 보인다.

In [209]:
accommodation_cost_2021 = accommodation_cost_2021.drop(index = range(9, 42)).reset_index(drop=True)

accommodation_cost_2021

,분석 카테고리,세부 카테고리,사례수,5만원 미만,5만원 이상-7만원 미만,7만원 이상-10만원 미만,10만원 이상-20만원 미만,20만원 이상-30만원 미만,30만원 이상,경험없음,평균
0,월별,01월,195,16.9,11.4,10.9,27.8,12.1,11.7,9.1,139136.13
1,월별,02월,356,16.1,10.8,11.7,28.8,16.3,11.4,4.8,154374.17
2,월별,06월,521,17.8,11.5,11.1,32,9.6,13.4,4.5,151863.92
3,월별,07월,507,16.1,11,10,28.8,12.2,15.2,6.7,163765.99
4,월별,08월,440,12.7,11.8,7.1,29.8,12.8,14.6,11.2,163159.62
5,월별,09월,381,14,7.8,8.9,32.9,12.2,14.7,9.6,165961.21
6,월별,10월,541,14.8,14.7,10.6,30.8,9.4,11.5,8,137812.96
7,월별,11월,537,15.3,9.6,11.6,29.1,11.4,11.7,11.1,152324.52
8,월별,12월,481,12,12.8,11.2,29.8,12.8,13.1,8.2,154720.87

#### 1인당 지출 경비 - 식음료 비용
- 해당 파일에 대한 전처리

In [214]:
food_cost_2021 = pd.read_excel(DATA_path + '2021년 1인당 지출경비 - 개별 식음료비.xlsx')
food_cost_2021

,table,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,사례수,3만원 미만,3만원이상-5만원 미만,5만원 이상-10만원 미만,10만원 이상-20만원 미만,20만원 이상,경험없음,평균
1,전체,NaN,3959,7.9,4.6,24.3,39.9,22.6,0.7,140843
2,월별,01월,195,9.8,4.8,25.2,37.8,21.5,1,130964.25
3,월별,02월,356,9.1,4.5,24.7,42.2,18.9,0.7,141490.54
4,월별,06월,521,6.8,5,23.9,40,23.4,0.9,149603.89
5,월별,07월,507,8.1,3.2,22.4,41.3,23.8,1.1,141153.06
6,월별,08월,440,6.5,4.4,22,40.6,25.9,0.6,142469.77
7,월별,09월,381,7.1,5.8,26,39.8,21.1,0.2,135381.65
8,월별,10월,541,9.1,5.4,26.1,37.8,21.1,0.4,132905.38
9,월별,11월,537,8.6,4.9,24.8,39.3,21.5,0.9,141893.79
10,월별,12월,481,6.7,3.9,24.1,39.8,25.1,0.5,145160.48
11,거주지,서울특별시,1604,7.8,4,24.7,39.2,23.6,0.6,141084.59
12,거주지,부산광역시,277,4.3,7.7,25.4,41.5,21.1,0,147733.59
13,거주지,대구광역시,193,10.8,9,25.3,39.9,13.9,1.1,114040.96
14,거주지,인천광역시,195,7.2,5.3,18.9,40.1,26.6,2,152908.73
15,거주지,광주광역시,107,11.2,6.4,29.6,40.2,12.6,0,111398.46
16,거주지,대전광역시,116,7.2,2.3,23.3,41.9,25.3,0,149617.42
17,거주지,울산광역시,55,10.4,0.8,18,44.9,19.6,6.3,127696.7
18,거주지,세종자치시,25,4.4,0,35.5,42.7,17.3,0,125639.69
19,거주지,경기도,930,7.3,4.2,24.7,40.1,23.5,0.2,145540.8
20,거주지,강원도,44,11.4,3.7,26.8,31.8,23.6,2.7,137581.77
21,거주지,충청도,129,10.3,3.3,22.2,43.1,19.5,1.7,134963.89
22,거주지,전라도,97,6.1,10,24.1,34.9,25,0,151470.35
23,거주지,경상도,181,11,2.5,19.9,41.3,24,1.3,138259.28
24,거주지,해외거주 등 기타 지역,6,0,19.5,38.9,41.6,0,0,91219.96
25,이용 교통수단,항공,3785,7.8,4.6,24.6,40.1,22.1,0.7,138192.88
26,이용 교통수단,선박,175,8.2,5.4,18.5,34.3,33.6,0,198304.25
27,성별,남자,1796,9,5.5,25,38.8,21.1,0.6,134640.21
28,성별,여자,2163,6.9,3.9,23.7,40.8,24,0.8,145994.78
29,연령,15-20세,28,9.8,4.4,20.8,44,17.1,4,111557.38
30,연령,21-30세,572,8,4.1,26.1,38,22.8,1.1,138613.43
31,연령,31-40세,1466,6.6,4,22.6,40.6,25.5,0.7,152522.3
32,연령,41-50세,1193,8.5,5.7,24.7,40.4,20.4,0.4,135161.46
33,연령,51-60세,581,9.5,3.7,26.3,39.5,20.2,0.8,128618.49
34,연령,61세 이상,119,7.4,9.7,23.8,35.4,22.7,1,131118.42
35,여행 목적,휴가 및 순수여행,3348,7,4,24.3,40.7,23.4,0.6,143390.39
36,여행 목적,비즈니스 여행,78,11.9,11.6,17.4,40.2,18.9,0,118077.92
37,여행 목적,기타,534,12.8,7.3,25.2,34.5,18.6,1.5,128186.83
38,여행형태,개별여행(자유여행),3959,7.9,4.6,24.3,39.9,22.6,0.7,140843
39,방문횟수,1회,745,6.9,3.4,25.8,41.1,21.7,1,141462.25
40,방문횟수,2회,1022,8.2,4.7,24.2,39.9,22.4,0.7,141091.23
41,방문횟수,3회,863,8.3,5.1,22.7,40,23.6,0.3,143699.95
42,방문횟수,4회 이상,1330,7.9,5,24.6,39.1,22.7,0.8,138451.93
43,BASE : 문13=1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [215]:
columns = {'table' : '분석 카테고리',
           'Unnamed: 1' : '세부 카테고리',
           'Unnamed: 2' : '사례수',
           'Unnamed: 3' : '3만원 미만',
           'Unnamed: 4' : '3만원이상-5만원 미만',
           'Unnamed: 5' : '5만원 이상-10만원 미만',
           'Unnamed: 6' : '10만원 이상-20만원 미만',
           'Unnamed: 7' : '20만원 이상',
           'Unnamed: 8' : '경험없음',
           'Unnamed: 9' : '평균'}

food_cost_2021 = food_cost_2021.rename(columns = columns)
food_cost_2021

,분석 카테고리,세부 카테고리,사례수,3만원 미만,3만원이상-5만원 미만,5만원 이상-10만원 미만,10만원 이상-20만원 미만,20만원 이상,경험없음,평균
0,NaN,NaN,사례수,3만원 미만,3만원이상-5만원 미만,5만원 이상-10만원 미만,10만원 이상-20만원 미만,20만원 이상,경험없음,평균
1,전체,NaN,3959,7.9,4.6,24.3,39.9,22.6,0.7,140843
2,월별,01월,195,9.8,4.8,25.2,37.8,21.5,1,130964.25
3,월별,02월,356,9.1,4.5,24.7,42.2,18.9,0.7,141490.54
4,월별,06월,521,6.8,5,23.9,40,23.4,0.9,149603.89
5,월별,07월,507,8.1,3.2,22.4,41.3,23.8,1.1,141153.06
6,월별,08월,440,6.5,4.4,22,40.6,25.9,0.6,142469.77
7,월별,09월,381,7.1,5.8,26,39.8,21.1,0.2,135381.65
8,월별,10월,541,9.1,5.4,26.1,37.8,21.1,0.4,132905.38
9,월별,11월,537,8.6,4.9,24.8,39.3,21.5,0.9,141893.79
10,월별,12월,481,6.7,3.9,24.1,39.8,25.1,0.5,145160.48
11,거주지,서울특별시,1604,7.8,4,24.7,39.2,23.6,0.6,141084.59
12,거주지,부산광역시,277,4.3,7.7,25.4,41.5,21.1,0,147733.59
13,거주지,대구광역시,193,10.8,9,25.3,39.9,13.9,1.1,114040.96
14,거주지,인천광역시,195,7.2,5.3,18.9,40.1,26.6,2,152908.73
15,거주지,광주광역시,107,11.2,6.4,29.6,40.2,12.6,0,111398.46
16,거주지,대전광역시,116,7.2,2.3,23.3,41.9,25.3,0,149617.42
17,거주지,울산광역시,55,10.4,0.8,18,44.9,19.6,6.3,127696.7
18,거주지,세종자치시,25,4.4,0,35.5,42.7,17.3,0,125639.69
19,거주지,경기도,930,7.3,4.2,24.7,40.1,23.5,0.2,145540.8
20,거주지,강원도,44,11.4,3.7,26.8,31.8,23.6,2.7,137581.77
21,거주지,충청도,129,10.3,3.3,22.2,43.1,19.5,1.7,134963.89
22,거주지,전라도,97,6.1,10,24.1,34.9,25,0,151470.35
23,거주지,경상도,181,11,2.5,19.9,41.3,24,1.3,138259.28
24,거주지,해외거주 등 기타 지역,6,0,19.5,38.9,41.6,0,0,91219.96
25,이용 교통수단,항공,3785,7.8,4.6,24.6,40.1,22.1,0.7,138192.88
26,이용 교통수단,선박,175,8.2,5.4,18.5,34.3,33.6,0,198304.25
27,성별,남자,1796,9,5.5,25,38.8,21.1,0.6,134640.21
28,성별,여자,2163,6.9,3.9,23.7,40.8,24,0.8,145994.78
29,연령,15-20세,28,9.8,4.4,20.8,44,17.1,4,111557.38
30,연령,21-30세,572,8,4.1,26.1,38,22.8,1.1,138613.43
31,연령,31-40세,1466,6.6,4,22.6,40.6,25.5,0.7,152522.3
32,연령,41-50세,1193,8.5,5.7,24.7,40.4,20.4,0.4,135161.46
33,연령,51-60세,581,9.5,3.7,26.3,39.5,20.2,0.8,128618.49
34,연령,61세 이상,119,7.4,9.7,23.8,35.4,22.7,1,131118.42
35,여행 목적,휴가 및 순수여행,3348,7,4,24.3,40.7,23.4,0.6,143390.39
36,여행 목적,비즈니스 여행,78,11.9,11.6,17.4,40.2,18.9,0,118077.92
37,여행 목적,기타,534,12.8,7.3,25.2,34.5,18.6,1.5,128186.83
38,여행형태,개별여행(자유여행),3959,7.9,4.6,24.3,39.9,22.6,0.7,140843
39,방문횟수,1회,745,6.9,3.4,25.8,41.1,21.7,1,141462.25
40,방문횟수,2회,1022,8.2,4.7,24.2,39.9,22.4,0.7,141091.23
41,방문횟수,3회,863,8.3,5.1,22.7,40,23.6,0.3,143699.95
42,방문횟수,4회 이상,1330,7.9,5,24.6,39.1,22.7,0.8,138451.93
43,BASE : 문13=1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [216]:
food_cost_2021 = food_cost_2021.drop(index = [0, 1]).reset_index(drop=True)

food_cost_2021

,분석 카테고리,세부 카테고리,사례수,3만원 미만,3만원이상-5만원 미만,5만원 이상-10만원 미만,10만원 이상-20만원 미만,20만원 이상,경험없음,평균
0,월별,01월,195,9.8,4.8,25.2,37.8,21.5,1,130964.25
1,월별,02월,356,9.1,4.5,24.7,42.2,18.9,0.7,141490.54
2,월별,06월,521,6.8,5,23.9,40,23.4,0.9,149603.89
3,월별,07월,507,8.1,3.2,22.4,41.3,23.8,1.1,141153.06
4,월별,08월,440,6.5,4.4,22,40.6,25.9,0.6,142469.77
5,월별,09월,381,7.1,5.8,26,39.8,21.1,0.2,135381.65
6,월별,10월,541,9.1,5.4,26.1,37.8,21.1,0.4,132905.38
7,월별,11월,537,8.6,4.9,24.8,39.3,21.5,0.9,141893.79
8,월별,12월,481,6.7,3.9,24.1,39.8,25.1,0.5,145160.48
9,거주지,서울특별시,1604,7.8,4,24.7,39.2,23.6,0.6,141084.59
10,거주지,부산광역시,277,4.3,7.7,25.4,41.5,21.1,0,147733.59
11,거주지,대구광역시,193,10.8,9,25.3,39.9,13.9,1.1,114040.96
12,거주지,인천광역시,195,7.2,5.3,18.9,40.1,26.6,2,152908.73
13,거주지,광주광역시,107,11.2,6.4,29.6,40.2,12.6,0,111398.46
14,거주지,대전광역시,116,7.2,2.3,23.3,41.9,25.3,0,149617.42
15,거주지,울산광역시,55,10.4,0.8,18,44.9,19.6,6.3,127696.7
16,거주지,세종자치시,25,4.4,0,35.5,42.7,17.3,0,125639.69
17,거주지,경기도,930,7.3,4.2,24.7,40.1,23.5,0.2,145540.8
18,거주지,강원도,44,11.4,3.7,26.8,31.8,23.6,2.7,137581.77
19,거주지,충청도,129,10.3,3.3,22.2,43.1,19.5,1.7,134963.89
20,거주지,전라도,97,6.1,10,24.1,34.9,25,0,151470.35
21,거주지,경상도,181,11,2.5,19.9,41.3,24,1.3,138259.28
22,거주지,해외거주 등 기타 지역,6,0,19.5,38.9,41.6,0,0,91219.96
23,이용 교통수단,항공,3785,7.8,4.6,24.6,40.1,22.1,0.7,138192.88
24,이용 교통수단,선박,175,8.2,5.4,18.5,34.3,33.6,0,198304.25
25,성별,남자,1796,9,5.5,25,38.8,21.1,0.6,134640.21
26,성별,여자,2163,6.9,3.9,23.7,40.8,24,0.8,145994.78
27,연령,15-20세,28,9.8,4.4,20.8,44,17.1,4,111557.38
28,연령,21-30세,572,8,4.1,26.1,38,22.8,1.1,138613.43
29,연령,31-40세,1466,6.6,4,22.6,40.6,25.5,0.7,152522.3
30,연령,41-50세,1193,8.5,5.7,24.7,40.4,20.4,0.4,135161.46
31,연령,51-60세,581,9.5,3.7,26.3,39.5,20.2,0.8,128618.49
32,연령,61세 이상,119,7.4,9.7,23.8,35.4,22.7,1,131118.42
33,여행 목적,휴가 및 순수여행,3348,7,4,24.3,40.7,23.4,0.6,143390.39
34,여행 목적,비즈니스 여행,78,11.9,11.6,17.4,40.2,18.9,0,118077.92
35,여행 목적,기타,534,12.8,7.3,25.2,34.5,18.6,1.5,128186.83
36,여행형태,개별여행(자유여행),3959,7.9,4.6,24.3,39.9,22.6,0.7,140843
37,방문횟수,1회,745,6.9,3.4,25.8,41.1,21.7,1,141462.25
38,방문횟수,2회,1022,8.2,4.7,24.2,39.9,22.4,0.7,141091.23
39,방문횟수,3회,863,8.3,5.1,22.7,40,23.6,0.3,143699.95
40,방문횟수,4회 이상,1330,7.9,5,24.6,39.1,22.7,0.8,138451.93
41,BASE : 문13=1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- 전처리가 완료된 식음료 비용에 대한 1인당 지출 경비.
  + 10만원 이상-20만원 미만의 비율이 가장 높은 결과를 보인다.

In [217]:
food_cost_2021 = food_cost_2021.drop(index = range(9, 42)).reset_index(drop=True)

food_cost_2021

,분석 카테고리,세부 카테고리,사례수,3만원 미만,3만원이상-5만원 미만,5만원 이상-10만원 미만,10만원 이상-20만원 미만,20만원 이상,경험없음,평균
0,월별,01월,195,9.8,4.8,25.2,37.8,21.5,1,130964.25
1,월별,02월,356,9.1,4.5,24.7,42.2,18.9,0.7,141490.54
2,월별,06월,521,6.8,5,23.9,40,23.4,0.9,149603.89
3,월별,07월,507,8.1,3.2,22.4,41.3,23.8,1.1,141153.06
4,월별,08월,440,6.5,4.4,22,40.6,25.9,0.6,142469.77
5,월별,09월,381,7.1,5.8,26,39.8,21.1,0.2,135381.65
6,월별,10월,541,9.1,5.4,26.1,37.8,21.1,0.4,132905.38
7,월별,11월,537,8.6,4.9,24.8,39.3,21.5,0.9,141893.79
8,월별,12월,481,6.7,3.9,24.1,39.8,25.1,0.5,145160.48

#### 1인당 지출 경비 - 항공/선박 이용 비용
- 해당 파일에 대한 전처리

In [218]:
transportation_cost_2021 = pd.read_excel(DATA_path + '2021년 1인당 지출경비 - 개별 항공,선박비.xlsx')
transportation_cost_2021

,table,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,사례수,3만원 미만,3만원이상-5만원 미만,5만원 이상-10만원 미만,10만원 이상-15만원 미만,15만원 이상,평균
1,전체,NaN,3959,12,9.8,29,24.2,25,105432.38
2,월별,01월,195,12.9,10.9,37.4,18.8,20,93522.98
3,월별,02월,356,13.2,11.9,31.4,23.1,20.4,95408.64
4,월별,06월,521,12.4,12.6,29,24.3,21.7,101429.66
5,월별,07월,507,13.5,8.7,25.8,25.3,26.8,103235.49
6,월별,08월,440,9.4,9.7,29.5,24.4,27,112575.8
7,월별,09월,381,13.8,9.6,30.9,20.9,24.9,105533.99
8,월별,10월,541,13,10,30.3,25.8,20.8,101618.55
9,월별,11월,537,10.5,9,26.4,26.2,27.7,110772.86
10,월별,12월,481,10.5,6.7,26.6,24.2,32,116031.01
11,거주지,서울특별시,1604,11.3,8.7,29.3,25.7,25.1,105976.68
12,거주지,부산광역시,277,9.6,15.1,28,23.7,23.6,99336.9
13,거주지,대구광역시,193,13.9,15.3,30.4,19.8,20.6,88609.52
14,거주지,인천광역시,195,10.5,9.1,31.5,25.2,23.5,104300.63
15,거주지,광주광역시,107,11.2,13.5,35.7,25.5,14,85584.34
16,거주지,대전광역시,116,12.3,10.2,30,22.5,25,104528.78
17,거주지,울산광역시,55,6.2,10.4,38.1,22,23.3,110132.2
18,거주지,세종자치시,25,19,4.4,25.2,31.7,19.8,90124.37
19,거주지,경기도,930,14.5,8.9,26.9,22.8,26.9,107024.58
20,거주지,강원도,44,15.7,9.2,27.4,33.7,14.1,85959.76
21,거주지,충청도,129,15,5.5,23.6,22.4,33.5,125267.52
22,거주지,전라도,97,6.5,8.8,27.1,31.8,25.8,140464.37
23,거주지,경상도,181,9.2,12.5,33.4,17.7,27.3,106547.43
24,거주지,해외거주 등 기타 지역,6,41,0,0,39.6,19.5,81372.39
25,이용 교통수단,항공,3785,12.1,10,29.7,24.6,23.6,103029.38
26,이용 교통수단,선박,175,9.3,6.1,14.1,16.2,54.3,157535.44
27,성별,남자,1796,11.6,8.1,29.3,23.8,27.3,110561.21
28,성별,여자,2163,12.4,11.2,28.7,24.6,23.1,101172.59
29,연령,15-20세,28,33.4,2.9,26.2,18.5,19,84331.24
30,연령,21-30세,572,15.7,11.5,32.2,21.6,18.9,90657.55
31,연령,31-40세,1466,11.1,10.2,29.5,25.8,23.4,102658.63
32,연령,41-50세,1193,11.8,8.6,26.6,22.8,30.2,115196.35
33,연령,51-60세,581,10.2,10.2,27.9,26.7,25,108026.58
34,연령,61세 이상,119,11.7,7.5,37.2,20.6,23.1,105036.71
35,여행 목적,휴가 및 순수여행,3348,11.6,9.7,28.7,25.1,25,105468.3
36,여행 목적,비즈니스 여행,78,8.3,8.5,14.5,27.5,41.2,156443.72
37,여행 목적,기타,534,15.1,10.8,33.2,18.2,22.7,97746.81
38,여행형태,개별여행(자유여행),3959,12,9.8,29,24.2,25,105432.38
39,방문횟수,1회,745,12.8,11.3,26.6,25.1,24.1,102572.32
40,방문횟수,2회,1022,12.4,11,30,23.2,23.3,99697.2
41,방문횟수,3회,863,11.6,8.3,28.2,24.7,27.2,109413.79
42,방문횟수,4회 이상,1330,11.5,8.9,30.1,24.1,25.3,108857.87
43,BASE : 문13=1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [219]:
columns = {'table' : '분석 카테고리',
           'Unnamed: 1' : '세부 카테고리',
           'Unnamed: 2' : '사례수',
           'Unnamed: 3' : '3만원 미만',
           'Unnamed: 4' : '3만원이상-5만원 미만',
           'Unnamed: 5' : '5만원 이상-10만원 미만',
           'Unnamed: 6' : '10만원 이상-15만원 미만',
           'Unnamed: 7' : '15만원 이상',
           'Unnamed: 8' : '평균'}

transportation_cost_2021 = transportation_cost_2021.rename(columns = columns)
transportation_cost_2021

,분석 카테고리,세부 카테고리,사례수,3만원 미만,3만원이상-5만원 미만,5만원 이상-10만원 미만,10만원 이상-15만원 미만,15만원 이상,평균
0,NaN,NaN,사례수,3만원 미만,3만원이상-5만원 미만,5만원 이상-10만원 미만,10만원 이상-15만원 미만,15만원 이상,평균
1,전체,NaN,3959,12,9.8,29,24.2,25,105432.38
2,월별,01월,195,12.9,10.9,37.4,18.8,20,93522.98
3,월별,02월,356,13.2,11.9,31.4,23.1,20.4,95408.64
4,월별,06월,521,12.4,12.6,29,24.3,21.7,101429.66
5,월별,07월,507,13.5,8.7,25.8,25.3,26.8,103235.49
6,월별,08월,440,9.4,9.7,29.5,24.4,27,112575.8
7,월별,09월,381,13.8,9.6,30.9,20.9,24.9,105533.99
8,월별,10월,541,13,10,30.3,25.8,20.8,101618.55
9,월별,11월,537,10.5,9,26.4,26.2,27.7,110772.86
10,월별,12월,481,10.5,6.7,26.6,24.2,32,116031.01
11,거주지,서울특별시,1604,11.3,8.7,29.3,25.7,25.1,105976.68
12,거주지,부산광역시,277,9.6,15.1,28,23.7,23.6,99336.9
13,거주지,대구광역시,193,13.9,15.3,30.4,19.8,20.6,88609.52
14,거주지,인천광역시,195,10.5,9.1,31.5,25.2,23.5,104300.63
15,거주지,광주광역시,107,11.2,13.5,35.7,25.5,14,85584.34
16,거주지,대전광역시,116,12.3,10.2,30,22.5,25,104528.78
17,거주지,울산광역시,55,6.2,10.4,38.1,22,23.3,110132.2
18,거주지,세종자치시,25,19,4.4,25.2,31.7,19.8,90124.37
19,거주지,경기도,930,14.5,8.9,26.9,22.8,26.9,107024.58
20,거주지,강원도,44,15.7,9.2,27.4,33.7,14.1,85959.76
21,거주지,충청도,129,15,5.5,23.6,22.4,33.5,125267.52
22,거주지,전라도,97,6.5,8.8,27.1,31.8,25.8,140464.37
23,거주지,경상도,181,9.2,12.5,33.4,17.7,27.3,106547.43
24,거주지,해외거주 등 기타 지역,6,41,0,0,39.6,19.5,81372.39
25,이용 교통수단,항공,3785,12.1,10,29.7,24.6,23.6,103029.38
26,이용 교통수단,선박,175,9.3,6.1,14.1,16.2,54.3,157535.44
27,성별,남자,1796,11.6,8.1,29.3,23.8,27.3,110561.21
28,성별,여자,2163,12.4,11.2,28.7,24.6,23.1,101172.59
29,연령,15-20세,28,33.4,2.9,26.2,18.5,19,84331.24
30,연령,21-30세,572,15.7,11.5,32.2,21.6,18.9,90657.55
31,연령,31-40세,1466,11.1,10.2,29.5,25.8,23.4,102658.63
32,연령,41-50세,1193,11.8,8.6,26.6,22.8,30.2,115196.35
33,연령,51-60세,581,10.2,10.2,27.9,26.7,25,108026.58
34,연령,61세 이상,119,11.7,7.5,37.2,20.6,23.1,105036.71
35,여행 목적,휴가 및 순수여행,3348,11.6,9.7,28.7,25.1,25,105468.3
36,여행 목적,비즈니스 여행,78,8.3,8.5,14.5,27.5,41.2,156443.72
37,여행 목적,기타,534,15.1,10.8,33.2,18.2,22.7,97746.81
38,여행형태,개별여행(자유여행),3959,12,9.8,29,24.2,25,105432.38
39,방문횟수,1회,745,12.8,11.3,26.6,25.1,24.1,102572.32
40,방문횟수,2회,1022,12.4,11,30,23.2,23.3,99697.2
41,방문횟수,3회,863,11.6,8.3,28.2,24.7,27.2,109413.79
42,방문횟수,4회 이상,1330,11.5,8.9,30.1,24.1,25.3,108857.87
43,BASE : 문13=1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [220]:
transportation_cost_2021 = transportation_cost_2021.drop(index = [0, 1]).reset_index(drop=True)

transportation_cost_2021

,분석 카테고리,세부 카테고리,사례수,3만원 미만,3만원이상-5만원 미만,5만원 이상-10만원 미만,10만원 이상-15만원 미만,15만원 이상,평균
0,월별,01월,195,12.9,10.9,37.4,18.8,20,93522.98
1,월별,02월,356,13.2,11.9,31.4,23.1,20.4,95408.64
2,월별,06월,521,12.4,12.6,29,24.3,21.7,101429.66
3,월별,07월,507,13.5,8.7,25.8,25.3,26.8,103235.49
4,월별,08월,440,9.4,9.7,29.5,24.4,27,112575.8
5,월별,09월,381,13.8,9.6,30.9,20.9,24.9,105533.99
6,월별,10월,541,13,10,30.3,25.8,20.8,101618.55
7,월별,11월,537,10.5,9,26.4,26.2,27.7,110772.86
8,월별,12월,481,10.5,6.7,26.6,24.2,32,116031.01
9,거주지,서울특별시,1604,11.3,8.7,29.3,25.7,25.1,105976.68
10,거주지,부산광역시,277,9.6,15.1,28,23.7,23.6,99336.9
11,거주지,대구광역시,193,13.9,15.3,30.4,19.8,20.6,88609.52
12,거주지,인천광역시,195,10.5,9.1,31.5,25.2,23.5,104300.63
13,거주지,광주광역시,107,11.2,13.5,35.7,25.5,14,85584.34
14,거주지,대전광역시,116,12.3,10.2,30,22.5,25,104528.78
15,거주지,울산광역시,55,6.2,10.4,38.1,22,23.3,110132.2
16,거주지,세종자치시,25,19,4.4,25.2,31.7,19.8,90124.37
17,거주지,경기도,930,14.5,8.9,26.9,22.8,26.9,107024.58
18,거주지,강원도,44,15.7,9.2,27.4,33.7,14.1,85959.76
19,거주지,충청도,129,15,5.5,23.6,22.4,33.5,125267.52
20,거주지,전라도,97,6.5,8.8,27.1,31.8,25.8,140464.37
21,거주지,경상도,181,9.2,12.5,33.4,17.7,27.3,106547.43
22,거주지,해외거주 등 기타 지역,6,41,0,0,39.6,19.5,81372.39
23,이용 교통수단,항공,3785,12.1,10,29.7,24.6,23.6,103029.38
24,이용 교통수단,선박,175,9.3,6.1,14.1,16.2,54.3,157535.44
25,성별,남자,1796,11.6,8.1,29.3,23.8,27.3,110561.21
26,성별,여자,2163,12.4,11.2,28.7,24.6,23.1,101172.59
27,연령,15-20세,28,33.4,2.9,26.2,18.5,19,84331.24
28,연령,21-30세,572,15.7,11.5,32.2,21.6,18.9,90657.55
29,연령,31-40세,1466,11.1,10.2,29.5,25.8,23.4,102658.63
30,연령,41-50세,1193,11.8,8.6,26.6,22.8,30.2,115196.35
31,연령,51-60세,581,10.2,10.2,27.9,26.7,25,108026.58
32,연령,61세 이상,119,11.7,7.5,37.2,20.6,23.1,105036.71
33,여행 목적,휴가 및 순수여행,3348,11.6,9.7,28.7,25.1,25,105468.3
34,여행 목적,비즈니스 여행,78,8.3,8.5,14.5,27.5,41.2,156443.72
35,여행 목적,기타,534,15.1,10.8,33.2,18.2,22.7,97746.81
36,여행형태,개별여행(자유여행),3959,12,9.8,29,24.2,25,105432.38
37,방문횟수,1회,745,12.8,11.3,26.6,25.1,24.1,102572.32
38,방문횟수,2회,1022,12.4,11,30,23.2,23.3,99697.2
39,방문횟수,3회,863,11.6,8.3,28.2,24.7,27.2,109413.79
40,방문횟수,4회 이상,1330,11.5,8.9,30.1,24.1,25.3,108857.87
41,BASE : 문13=1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- 전처리가 완료된 항공/선박 이용 비용에 대한 1인당 지출 경비.
  + 5만원 이상-10만원 미만의 비율이 가장 높은 결과를 보인다.

In [221]:
transportation_cost_2021 = transportation_cost_2021.drop(index = range(9, 42)).reset_index(drop=True)

transportation_cost_2021

,분석 카테고리,세부 카테고리,사례수,3만원 미만,3만원이상-5만원 미만,5만원 이상-10만원 미만,10만원 이상-15만원 미만,15만원 이상,평균
0,월별,01월,195,12.9,10.9,37.4,18.8,20,93522.98
1,월별,02월,356,13.2,11.9,31.4,23.1,20.4,95408.64
2,월별,06월,521,12.4,12.6,29,24.3,21.7,101429.66
3,월별,07월,507,13.5,8.7,25.8,25.3,26.8,103235.49
4,월별,08월,440,9.4,9.7,29.5,24.4,27,112575.8
5,월별,09월,381,13.8,9.6,30.9,20.9,24.9,105533.99
6,월별,10월,541,13,10,30.3,25.8,20.8,101618.55
7,월별,11월,537,10.5,9,26.4,26.2,27.7,110772.86
8,월별,12월,481,10.5,6.7,26.6,24.2,32,116031.01

#### 1인당 지출 경비 - 관광, 문화 지출 비용
- 해당 파일에 대한 전처리

In [222]:
culture_cost_2021 = pd.read_excel(DATA_path + '2021년 1인당 지출경비 - 개별 관광,문화 지출비.xlsx')
culture_cost_2021

,table,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,사례수,2만원 미만,2만원 이상-5만원 미만,5만원 이상-10만원 미만,10만원 이상-20만원 미만,20만원 이상,경험없음,평균
1,전체,NaN,3959,34.5,24.7,13.2,4.4,0.7,22.5,24499.45
2,월별,01월,195,32.8,26.7,13.3,2.9,0.2,24.1,22785.37
3,월별,02월,356,37.9,24.4,11.2,3.4,0,23,20646.35
4,월별,06월,521,36.6,23.2,10.5,2.4,1.3,26.1,22135.91
5,월별,07월,507,34.2,27,12.3,5.3,0.6,20.5,25817.65
6,월별,08월,440,33.7,24.7,15.5,4.6,1.3,20.1,27456.86
7,월별,09월,381,34,24.9,12.9,7.8,0.4,20,27350.79
8,월별,10월,541,34.7,24,12.6,5.3,0.7,22.8,24485.57
9,월별,11월,537,32.6,23.7,14.4,3.4,0.4,25.5,23617.93
10,월별,12월,481,34.1,25,16.1,3.9,0.5,20.3,25245.44
11,거주지,서울특별시,1604,34.6,24.9,12.3,4.1,0.6,23.5,23290.83
12,거주지,부산광역시,277,32.2,22.7,19.1,4.1,0.5,21.3,26775.2
13,거주지,대구광역시,193,42.1,23.7,12.3,4.1,0,17.7,22580.01
14,거주지,인천광역시,195,30.7,28.9,12.3,8.3,0.6,19.2,29284.51
15,거주지,광주광역시,107,40.6,22.5,13.2,4.4,0,19.3,21996.39
16,거주지,대전광역시,116,27.3,25.9,18.2,1.5,2.8,24.2,35434.56
17,거주지,울산광역시,55,27.3,22.7,17.4,8.2,1.7,22.6,31341.6
18,거주지,세종자치시,25,44.4,15.6,16.3,0,0,23.7,18256.12
19,거주지,경기도,930,35.8,24.7,11.7,3.6,1,23.2,23595.93
20,거주지,강원도,44,32,28.5,15.1,7.9,0,16.4,28678.62
21,거주지,충청도,129,30.5,25.8,12.1,4.3,0,27.2,22506.2
22,거주지,전라도,97,25.4,23.4,17.1,9.8,0,24.2,29192.07
23,거주지,경상도,181,36.5,24.7,15.8,4.4,0,18.7,24734.09
24,거주지,해외거주 등 기타 지역,6,60.4,0,20.1,0,0,19.5,14029.3
25,이용 교통수단,항공,3785,34.9,24.8,13,3.9,0.6,22.9,23808.68
26,이용 교통수단,선박,175,27.3,23,18.1,14.3,1.9,15.3,39477.13
27,성별,남자,1796,32.7,25.2,13.2,5.2,0.6,23.2,25230.59
28,성별,여자,2163,36.1,24.2,13.3,3.7,0.7,22,23892.2
29,연령,15-20세,28,22.3,36.8,3.1,0,0,37.8,14937.51
30,연령,21-30세,572,38.8,24.6,12.7,2,0.5,21.4,21174.86
31,연령,31-40세,1466,36.1,23.8,14.6,4.6,0.8,20.1,25874.46
32,연령,41-50세,1193,31,27.1,12.8,6.1,0.9,22.1,27209.21
33,연령,51-60세,581,33.3,21.8,12.4,3.4,0.1,29,20820.99
34,연령,61세 이상,119,39.6,23.2,9.2,1,0.4,26.7,16589.67
35,여행 목적,휴가 및 순수여행,3348,35.5,25.8,14.4,4.2,0.7,19.4,25537.9
36,여행 목적,비즈니스 여행,78,25.2,20,10.9,9,0,35,22668.24
37,여행 목적,기타,534,29.8,18.3,6.5,4.6,0.7,40.1,18250.78
38,여행형태,개별여행(자유여행),3959,34.5,24.7,13.2,4.4,0.7,22.5,24499.45
39,방문횟수,1회,745,35.3,25.9,15.5,4.2,0.8,18.4,26345.19
40,방문횟수,2회,1022,37.5,23.9,12.9,3.4,0.9,21.4,23650.09
41,방문횟수,3회,863,29.9,28.1,13,5.4,0.6,23.1,25710.13
42,방문횟수,4회 이상,1330,34.9,22.4,12.4,4.5,0.5,25.3,23332.71
43,BASE : 문13=1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [223]:
columns = {'table' : '분석 카테고리',
           'Unnamed: 1' : '세부 카테고리',
           'Unnamed: 2' : '사례수',
           'Unnamed: 3' : '2만원 미만',
           'Unnamed: 4' : '2만원 이상-5만원 미만',
           'Unnamed: 5' : '5만원 이상-10만원 미만',
           'Unnamed: 6' : '10만원 이상-20만원 미만',
           'Unnamed: 7' : '20만원 이상',
           'Unnamed: 8' : '경험없음',
           'Unnamed: 9' : '평균'}

culture_cost_2021 = culture_cost_2021.rename(columns = columns)
culture_cost_2021

,분석 카테고리,세부 카테고리,사례수,2만원 미만,2만원 이상-5만원 미만,5만원 이상-10만원 미만,10만원 이상-20만원 미만,20만원 이상,경험없음,평균
0,NaN,NaN,사례수,2만원 미만,2만원 이상-5만원 미만,5만원 이상-10만원 미만,10만원 이상-20만원 미만,20만원 이상,경험없음,평균
1,전체,NaN,3959,34.5,24.7,13.2,4.4,0.7,22.5,24499.45
2,월별,01월,195,32.8,26.7,13.3,2.9,0.2,24.1,22785.37
3,월별,02월,356,37.9,24.4,11.2,3.4,0,23,20646.35
4,월별,06월,521,36.6,23.2,10.5,2.4,1.3,26.1,22135.91
5,월별,07월,507,34.2,27,12.3,5.3,0.6,20.5,25817.65
6,월별,08월,440,33.7,24.7,15.5,4.6,1.3,20.1,27456.86
7,월별,09월,381,34,24.9,12.9,7.8,0.4,20,27350.79
8,월별,10월,541,34.7,24,12.6,5.3,0.7,22.8,24485.57
9,월별,11월,537,32.6,23.7,14.4,3.4,0.4,25.5,23617.93
10,월별,12월,481,34.1,25,16.1,3.9,0.5,20.3,25245.44
11,거주지,서울특별시,1604,34.6,24.9,12.3,4.1,0.6,23.5,23290.83
12,거주지,부산광역시,277,32.2,22.7,19.1,4.1,0.5,21.3,26775.2
13,거주지,대구광역시,193,42.1,23.7,12.3,4.1,0,17.7,22580.01
14,거주지,인천광역시,195,30.7,28.9,12.3,8.3,0.6,19.2,29284.51
15,거주지,광주광역시,107,40.6,22.5,13.2,4.4,0,19.3,21996.39
16,거주지,대전광역시,116,27.3,25.9,18.2,1.5,2.8,24.2,35434.56
17,거주지,울산광역시,55,27.3,22.7,17.4,8.2,1.7,22.6,31341.6
18,거주지,세종자치시,25,44.4,15.6,16.3,0,0,23.7,18256.12
19,거주지,경기도,930,35.8,24.7,11.7,3.6,1,23.2,23595.93
20,거주지,강원도,44,32,28.5,15.1,7.9,0,16.4,28678.62
21,거주지,충청도,129,30.5,25.8,12.1,4.3,0,27.2,22506.2
22,거주지,전라도,97,25.4,23.4,17.1,9.8,0,24.2,29192.07
23,거주지,경상도,181,36.5,24.7,15.8,4.4,0,18.7,24734.09
24,거주지,해외거주 등 기타 지역,6,60.4,0,20.1,0,0,19.5,14029.3
25,이용 교통수단,항공,3785,34.9,24.8,13,3.9,0.6,22.9,23808.68
26,이용 교통수단,선박,175,27.3,23,18.1,14.3,1.9,15.3,39477.13
27,성별,남자,1796,32.7,25.2,13.2,5.2,0.6,23.2,25230.59
28,성별,여자,2163,36.1,24.2,13.3,3.7,0.7,22,23892.2
29,연령,15-20세,28,22.3,36.8,3.1,0,0,37.8,14937.51
30,연령,21-30세,572,38.8,24.6,12.7,2,0.5,21.4,21174.86
31,연령,31-40세,1466,36.1,23.8,14.6,4.6,0.8,20.1,25874.46
32,연령,41-50세,1193,31,27.1,12.8,6.1,0.9,22.1,27209.21
33,연령,51-60세,581,33.3,21.8,12.4,3.4,0.1,29,20820.99
34,연령,61세 이상,119,39.6,23.2,9.2,1,0.4,26.7,16589.67
35,여행 목적,휴가 및 순수여행,3348,35.5,25.8,14.4,4.2,0.7,19.4,25537.9
36,여행 목적,비즈니스 여행,78,25.2,20,10.9,9,0,35,22668.24
37,여행 목적,기타,534,29.8,18.3,6.5,4.6,0.7,40.1,18250.78
38,여행형태,개별여행(자유여행),3959,34.5,24.7,13.2,4.4,0.7,22.5,24499.45
39,방문횟수,1회,745,35.3,25.9,15.5,4.2,0.8,18.4,26345.19
40,방문횟수,2회,1022,37.5,23.9,12.9,3.4,0.9,21.4,23650.09
41,방문횟수,3회,863,29.9,28.1,13,5.4,0.6,23.1,25710.13
42,방문횟수,4회 이상,1330,34.9,22.4,12.4,4.5,0.5,25.3,23332.71
43,BASE : 문13=1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [224]:
culture_cost_2021 = culture_cost_2021.drop(index = [0, 1]).reset_index(drop=True)

culture_cost_2021

,분석 카테고리,세부 카테고리,사례수,2만원 미만,2만원 이상-5만원 미만,5만원 이상-10만원 미만,10만원 이상-20만원 미만,20만원 이상,경험없음,평균
0,월별,01월,195,32.8,26.7,13.3,2.9,0.2,24.1,22785.37
1,월별,02월,356,37.9,24.4,11.2,3.4,0,23,20646.35
2,월별,06월,521,36.6,23.2,10.5,2.4,1.3,26.1,22135.91
3,월별,07월,507,34.2,27,12.3,5.3,0.6,20.5,25817.65
4,월별,08월,440,33.7,24.7,15.5,4.6,1.3,20.1,27456.86
5,월별,09월,381,34,24.9,12.9,7.8,0.4,20,27350.79
6,월별,10월,541,34.7,24,12.6,5.3,0.7,22.8,24485.57
7,월별,11월,537,32.6,23.7,14.4,3.4,0.4,25.5,23617.93
8,월별,12월,481,34.1,25,16.1,3.9,0.5,20.3,25245.44
9,거주지,서울특별시,1604,34.6,24.9,12.3,4.1,0.6,23.5,23290.83
10,거주지,부산광역시,277,32.2,22.7,19.1,4.1,0.5,21.3,26775.2
11,거주지,대구광역시,193,42.1,23.7,12.3,4.1,0,17.7,22580.01
12,거주지,인천광역시,195,30.7,28.9,12.3,8.3,0.6,19.2,29284.51
13,거주지,광주광역시,107,40.6,22.5,13.2,4.4,0,19.3,21996.39
14,거주지,대전광역시,116,27.3,25.9,18.2,1.5,2.8,24.2,35434.56
15,거주지,울산광역시,55,27.3,22.7,17.4,8.2,1.7,22.6,31341.6
16,거주지,세종자치시,25,44.4,15.6,16.3,0,0,23.7,18256.12
17,거주지,경기도,930,35.8,24.7,11.7,3.6,1,23.2,23595.93
18,거주지,강원도,44,32,28.5,15.1,7.9,0,16.4,28678.62
19,거주지,충청도,129,30.5,25.8,12.1,4.3,0,27.2,22506.2
20,거주지,전라도,97,25.4,23.4,17.1,9.8,0,24.2,29192.07
21,거주지,경상도,181,36.5,24.7,15.8,4.4,0,18.7,24734.09
22,거주지,해외거주 등 기타 지역,6,60.4,0,20.1,0,0,19.5,14029.3
23,이용 교통수단,항공,3785,34.9,24.8,13,3.9,0.6,22.9,23808.68
24,이용 교통수단,선박,175,27.3,23,18.1,14.3,1.9,15.3,39477.13
25,성별,남자,1796,32.7,25.2,13.2,5.2,0.6,23.2,25230.59
26,성별,여자,2163,36.1,24.2,13.3,3.7,0.7,22,23892.2
27,연령,15-20세,28,22.3,36.8,3.1,0,0,37.8,14937.51
28,연령,21-30세,572,38.8,24.6,12.7,2,0.5,21.4,21174.86
29,연령,31-40세,1466,36.1,23.8,14.6,4.6,0.8,20.1,25874.46
30,연령,41-50세,1193,31,27.1,12.8,6.1,0.9,22.1,27209.21
31,연령,51-60세,581,33.3,21.8,12.4,3.4,0.1,29,20820.99
32,연령,61세 이상,119,39.6,23.2,9.2,1,0.4,26.7,16589.67
33,여행 목적,휴가 및 순수여행,3348,35.5,25.8,14.4,4.2,0.7,19.4,25537.9
34,여행 목적,비즈니스 여행,78,25.2,20,10.9,9,0,35,22668.24
35,여행 목적,기타,534,29.8,18.3,6.5,4.6,0.7,40.1,18250.78
36,여행형태,개별여행(자유여행),3959,34.5,24.7,13.2,4.4,0.7,22.5,24499.45
37,방문횟수,1회,745,35.3,25.9,15.5,4.2,0.8,18.4,26345.19
38,방문횟수,2회,1022,37.5,23.9,12.9,3.4,0.9,21.4,23650.09
39,방문횟수,3회,863,29.9,28.1,13,5.4,0.6,23.1,25710.13
40,방문횟수,4회 이상,1330,34.9,22.4,12.4,4.5,0.5,25.3,23332.71
41,BASE : 문13=1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- 전처리가 완료된 관광, 문화 지출 비용에 대한 1인당 지출 경비.
  + 2만원 미만의 비율이 가장 높은 결과를 보인다.

In [225]:
culture_cost_2021 = culture_cost_2021.drop(index = range(9, 42)).reset_index(drop=True)

culture_cost_2021

,분석 카테고리,세부 카테고리,사례수,2만원 미만,2만원 이상-5만원 미만,5만원 이상-10만원 미만,10만원 이상-20만원 미만,20만원 이상,경험없음,평균
0,월별,01월,195,32.8,26.7,13.3,2.9,0.2,24.1,22785.37
1,월별,02월,356,37.9,24.4,11.2,3.4,0,23,20646.35
2,월별,06월,521,36.6,23.2,10.5,2.4,1.3,26.1,22135.91
3,월별,07월,507,34.2,27,12.3,5.3,0.6,20.5,25817.65
4,월별,08월,440,33.7,24.7,15.5,4.6,1.3,20.1,27456.86
5,월별,09월,381,34,24.9,12.9,7.8,0.4,20,27350.79
6,월별,10월,541,34.7,24,12.6,5.3,0.7,22.8,24485.57
7,월별,11월,537,32.6,23.7,14.4,3.4,0.4,25.5,23617.93
8,월별,12월,481,34.1,25,16.1,3.9,0.5,20.3,25245.44